<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Houzez</title>
	<atom:link href="http://houzez12.favethemes.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://houzez12.favethemes.com</link>
	<description>Real Estate WordPress Theme</description>
	<lastBuildDate>Mon, 18 Jun 2018 12:20:01 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.6</generator>
</channel>
</rss>
