 .advance-search-header,
        .advanced-search-mobile,
        .advanced-search-mobile .single-search .form-control,
        .search-expandable .advanced-search {
            background-color: #ffffff;
        }

        .search-expand-btn {
            background-color: #e4192b;
        }

        .search-expand-btn {
            color: #ffffff
        }

        .advance-search-header .houzez-theme-button,
        .advanced-search-mobile .houzez-theme-button,
        .splash-search .btn-secondary,
        .advanced-search .btn-secondary {
            color: #ffffff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .advance-search-header .houzez-theme-button:focus,
        .advanced-search-mobile .houzez-theme-button:focus,
        .advanced-search .btn-secondary:focus,
        .splash-search .btn-secondary:focus {
            color: #ffffff;
            background-color: #00b9ce;
            border: 1px solid #00b9ce;
        }

        .advance-search-header .houzez-theme-button:hover,
        .advanced-search .btn-secondary:hover,
        .advanced-search .btn-secondary:active,
        .advanced-search .btn-secondary:active:hover,
        .advanced-search .btn-secondary.active,
        .advanced-search-mobile .houzez-theme-button:hover,
        .splash-search .btn-secondary:hover {
            color: #ffffff;
            background-color: #00b9ce;
            border: 1px solid #00b9ce;
        }

        .advance-search-header .houzez-theme-button:active,
        .advanced-search .btn-secondary:active,
        .advanced-search-mobile .houzez-theme-button:active,
        .splash-search .btn-secondary:active {
            color: #ffffff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .advanced-search .bootstrap-select .btn,
        .advanced-search .bootstrap-select.open .btn,
        .banner-search-main .dropdown-toggle,
        .advanced-search .form-control,
        .advanced-search-mobile .advance-fields .bootstrap-select .btn,
        .advanced-search-mobile .advance-fields .bootstrap-select.open .btn,
        .advanced-search-mobile .advance-fields .form-control {
            background-color: #fff;
            color: #959595;
        }

        .advanced-search .dropdown-toggle,
        .advanced-search .form-control,
        .advance-search-header .bootstrap-select .btn,
        .advance-search-header .bootstrap-select .fave-load-more a,
        .fave-load-more .advance-search-header .bootstrap-select a,
        .advance-fields .form-control,
        .advanced-search .btn-default.active:hover, .btn-default:active:hover,
        .advanced-search .open > .btn-default.dropdown-toggle:hover
        .advanced-search .bootstrap-select .btn,
        .advanced-search .bootstrap-select.open .btn,
        .range-wrap {
            border-width: 1px;
            border-style: solid;
            border-color: #d1d1d1;
        }

        .advanced-search .input-group .form-control,
        .search-long .search input,
        .advanced-search .search-long .search,
        .advanced-search .search-long .btn-group,
        .advanced-search .search-long .advance-btn,
        .input-group-addon {
            border-color: #d1d1d1 !important;
        }

        .advanced-search-mobile .advance-fields {
            border-top: 1px solid #d1d1d1;
        }

        .advanced-search-mobile .single-search-wrap button {
            color: #d1d1d1;
        }

        .advanced-search-mobile .advance-fields::after {
            border-bottom-color: #d1d1d1;
        }

        .advance-btn.blue {
            color: #ffffff;
        }

        .advance-btn.blue:hover,
        .advance-btn.blue:focus {
            color: #00b9ce;
        }

        .advanced-search .advance-btn {
            color: #00b9ce;
        }

        .advanced-search .advance-btn:hover {
            color: #00b9ce;
        }

        .advanced-search .advance-btn:focus,
        .advanced-search .advance-btn.active {
            color: #00b9ce;
        }

        .advanced-search .advance-fields,
        .advanced-search .features-list label.title,
        .advanced-search .features-list .checkbox-inline,
        .advanced-search-mobile .advance-fields,
        .advanced-search-mobile .features-list label.title,
        .advanced-search-mobile .features-list .checkbox-inline,
        .range-title,
        .range-text,
        .range-text p,
        .min-price-range,
        .max-price-range,
        .advanced-search-mobile {
            color: #545454;
        }

        .auto-complete {
            background-color: #fff;
        }

        .auto-complete,
        .auto-complete .media {
            border-color: #ccc;
        }

        .bootstrap-select.btn-group .dropdown-menu li a:hover,
        .bootstrap-select.btn-group .dropdown-menu li a:focus,
        .bootstrap-select.btn-group .dropdown-menu li a:active {
            background-color: rgba(0, 174, 239, 0.12);
        }

        .top-bar {
            background-color: #000000;
        }

        .top-bar .top-nav > ul > li > a:hover,
        .top-bar .top-nav > ul li.active > a,
        .top-bar .top-nav > ul ul a:hover,
        .top-contact a:hover,
        .top-bar .dropdown-menu > li:hover,
        .top-contact li .btn:hover {
            color: rgba(228, 25, 43, 1);
        }

        .top-contact a,
        .top-contact li,
        .top-contact li .btn,
        .top-bar .top-nav > ul > li > a {
            color: #ffffff;
        }

        .top-bar .mobile-nav .nav-trigger {
            color: #FFFFFF;
        }

        body {
            background-color: #f8f8f8;
        }

        a,
        .blue,
        .text-primary,
        .btn-link,
        .item-body h2,
        .detail h3,
        .breadcrumb li a,
        .fave-load-more a,
        .sort-tab .btn,
        .sort-tab .fave-load-more a,
        .fave-load-more .sort-tab a,
        .pagination-main .pagination a,
        .team-caption-after .team-name a:hover,
        .team-caption-after .team-designation a:hover,
        .agent-media .view,
        .my-property-menu a.active,
        .my-property-menu a:hover,
        .search-panel .advance-trigger {
            color: #0c4f84;
        }

        .banner-caption h1,
        .banner-caption h2 {
            color: #ffffff;
        }

        .property-item h2 a,
        .property-item .property-title a,
        .widget .media-heading a {
            color: #000000;
        }

        .property-item h2 a:hover,
        .property-item .property-title a:hover,
        .widget .media-heading a:hover {
            color: #0c4f84;
        }

        .owl-theme .owl-nav [class*=owl-],
        .testimonial-carousel .owl-nav [class*=owl-]:hover,
        .testimonial-carousel .owl-nav [class*=owl-]:focus,
        .gallery-thumb .icon,
        .share_tooltip {
            background-color: #0c4f84;
        }

        #sidebar .widget_tag_cloud .tagcloud a,
        .article-footer .meta-tags a,
        .pagination-main .pagination li.active a,
        .other-features .btn.btn-secondary,
        .my-menu .active a,
        .houzez-module .module-title-nav .module-nav .btn,
        .houzez-module .module-title-nav .module-nav .fave-load-more a,
        .fave-load-more .houzez-module .module-title-nav .module-nav a {
            color: #fff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .plan-tabs li.active {
            box-shadow: inset 0 4px 0 #0c4f84;
            border-top-color: #0c4f84;
            background-color: #fff;
            color: #0c4f84;
        }

        .btn-primary,
        .label-primary,
        .scrolltop-btn {
            color: #fff;
            background-color: #0c4f84;
            border-color: #0c4f84;
        }

        .btn-primary.btn-trans {
            color: #0c4f84;
        }

        .header-section-2 .header-top-call {
            color: #ffffff;
            background-color: #00aeef;
        }

        .header-section-2 .avatar {
            color: #ffffff;
        }

        @media (max-width: 991px) {
            .header-section-2 .header-top,
            .header-section-5 .header-top {
                background-color: #0c4f84;
            }
        }

        .modal-header,
        .ui-slider-horizontal .ui-slider-range,
        .ui-state-hover,
        .ui-widget-content .ui-state-hover,
        .ui-widget-header .ui-state-hover,
        .ui-state-focus,
        .ui-widget-content .ui-state-focus,
        .ui-widget-header .ui-state-focus,
        .list-loading-bar {
            background-color: #0c4f84;
            border-color: transparent;
        }

        .houzez-module .module-title-nav .module-nav .btn,
        #save_as_draft {
            color: #0c4f84;
            border: 1px solid #0c4f84;
            background-color: transparent;
        }

        .fave-load-more a,
        .fave-load-more a:hover {
            border: 1px solid #0c4f84;
        }

        #transportation,
        #supermarkets,
        #schools,
        #libraries,
        #pharmacies,
        #hospitals,
        .pay-step-block.active span,
        .loader-ripple div:nth-of-type(2) {
            border-color: #0c4f84;
        }

        .loader-ripple div:nth-of-type(1) {
            border-color: #cbb492;
        }

        .detail-block .alert-info {
            color: rgba(0, 0, 0, .85);
            background-color: rgba(228, 25, 43, 0.1);
            border: 1px solid #0c4f84;
        }

        .houzez-taber-wrap .houzez-tabs li.active::before,
        .houzez-taber-wrap .houzez-tabs li:hover::before,
        .houzez-taber-wrap .houzez-tabs li:active::before,
        .profile-tabs li:hover,
        .steps-nav, .steps-progress-main .steps-progress span {
            background-color: #0c4f84;
        }

        .btn-secondary,
        .agent_contact_form.btn-secondary,
        .form-media .wpcf7-submit,
        .wpcf7-submit,
        .dsidx-resp-area-submit input[type='submit'] {
            color: #fff;
            background-color: #cbb492;
            border-color: #cbb492;
        }

        .btn-secondary.btn-trans {
            color: #cbb492;
        }

        .item-thumb .label-featured, figure .label-featured, .carousel-module .carousel .item figure .label-featured {
            background-color: #0098a3;
            color: #ffffff;
        }

        a:hover,
        a:focus,
        a:active,
        .blue:hover,
        .btn-link:hover,
        .breadcrumb li a:hover,
        .pagination-main .pagination a:hover,
        .vc_toggle_title h4:hover,
        .footer a:hover,
        .impress-address:hover,
        .agent-media .view:hover,
        .my-property .dropdown-menu a:hover,
        .article-detail .article-title a:hover,
        .comments-block .article-title a:hover,
        .detail-block .list-features a:hover {
            color: rgba(12, 79, 132, 0.75);
            text-decoration: none;
        }

        .detail-top .media-tabs a:hover span,
        .header-section.slpash-header .header-right a.btn:hover,
        .slpash-header.header-section-4 .header-right a.btn:hover,
        .houzez-module .module-title-nav .module-nav .btn:hover,
        .houzez-module .module-title-nav .module-nav .fave-load-more a:hover,
        .fave-load-more .houzez-module .module-title-nav .module-nav a:hover,
        .houzez-module .module-title-nav .module-nav .btn:focus,
        .houzez-module .module-title-nav .module-nav .fave-load-more a:focus,
        .fave-load-more .houzez-module .module-title-nav .module-nav a:focus {
            color: #fff;
            background-color: rgba(12, 79, 132, 0.75);
            border: 1px solid rgba(12, 79, 132, 0.75);
        }

        .fave-load-more a:hover,
        #sidebar .widget_tag_cloud .tagcloud a:hover,
        .article-footer .meta-tags a:hover,
        .other-features .btn.btn-secondary:hover,
        .my-actions .action-btn:hover,
        .my-actions .action-btn:focus,
        .my-actions .action-btn:active,
        .my-actions .open .action-btn {
            background-color: rgba(12, 79, 132, 0.75);
            border-color: rgba(12, 79, 132, 0.75);
        }

        .owl-theme .owl-nav [class*=owl-]:hover,
        .owl-theme .owl-nav [class*=owl-]:focus,
        .owl-theme .owl-nav [class*=owl-]:active,
        .testimonial-carousel .owl-nav [class*=owl-]:hover,
        .testimonial-carousel .owl-nav [class*=owl-]:focus {
            border-color: rgba(12, 79, 132, 0.75);
        }

        .owl-theme .owl-nav [class*=owl-]:hover,
        .owl-theme .owl-nav [class*=owl-]:focus,
        .owl-theme .owl-nav [class*=owl-]:active {
            background-color: rgba(12, 79, 132, 0.75);
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary:active:hover,
        .btn-primary.btn-trans:hover,
        .btn-primary.btn-trans:focus,
        .btn-primary.btn-trans:active,
        .btn-primary.btn-trans.active,
        .btn-primary.btn-trans:active:hover,
        .invoice-list .btn-invoice:hover,
        #houzez-gmap-main .map-btn:hover,
        .media-tabs-list li > a:hover,
        .media-tabs-list li.active a,
        .detail-bar .detail-tabs li:hover,
        .actions li > span:hover,
        .lightbox-arrow:hover,
        .scrolltop-btn:hover {
            background-color: rgba(12, 79, 132, 0.75);
            border-color: rgba(12, 79, 132, 0.75);
        }

        .btn-secondary:hover,
        .btn-secondary:focus,
        .btn-secondary:active,
        .btn-secondary.active,
        .btn-secondary:active:hover,
        .btn-secondary.btn-trans:hover,
        .btn-secondary.btn-trans:focus,
        .btn-secondary.btn-trans:active,
        .btn-secondary.btn-trans.active,
        .btn-secondary.btn-trans:active:hover,
        .agent_contact_form.btn-secondary:hover,
        .form-media .wpcf7-submit:hover,
        .wpcf7-submit:hover,
        .wpcf7-submit:focus,
        .wpcf7-submit:active,
        .dsidx-resp-area-submit input[type='submit']:hover,
        .dsidx-resp-area-submit input[type='submit']:focus,
        .dsidx-resp-area-submit input[type='submit']:active {
            color: #fff;
            background-color: rgba(203, 180, 146, 0.75);
            border-color: rgba(203, 180, 146, 0.75);
        }

        .header-section {
        }

        .header-section .navi > ul > li > a {
            background-color: transparent;
        }

        .header-section .header-right .user a,
        .header-section .header-right span {
        }

        .header-section .navi > ul > li > a:hover {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section .header-right .user a:hover,
        .header-section .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section-3 .header-top {
        }

        .header-section-3 .header-top-social a,
        .header-section-3 .header-contact .contact-block .fa,
        .header-section-3 .header-top .media-heading,
        .header-contact .contact-block p {
        }

        .header-contact .contact-block .fa {
        }

        .header-section-3 .header-bottom {
        }

        .header-section-3 .navi > ul > li > a,
        .header-section-3 .header-right .user a,
        .header-section-3 .header-right span {
        }

        .header-section-3 .navi > ul > li > a:hover,
        .header-section-3 .navi > ul > li.active > a {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .header-right .user a:hover,
        .header-section-3 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section-3 .navi > ul > li {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .header-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .navi > ul {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-2 .header-top, .header-section-5 .header-top {
            background-color: #0c4f84;
        }

        .header-section-2 .header-bottom, .header-section-5 .header-bottom {
            background-color: #0a4a7f;
            border-top: 1px solid #0a4a7f;
            border-bottom: 1px solid #0a4a7f;
        }

        .header-section-2 .header-bottom .navi > ul > li, .header-section-5 .header-bottom .navi > ul > li {
            border-right: 1px solid #0a4a7f;
        }

        .header-section-2 .header-right {
            border-left: 1px solid #0a4a7f;
        }

        .header-section-2 .navi > ul > li > a,
        .header-section-2 .header-right .user a,
        .header-section-2 .header-right span,
        .header-section-5 .navi > ul > li > a,
        .header-section-5 .header-right .user a,
        .header-section-5 .header-right span {
            color: #ffffff;
        }

        .header-section-5 .header-top-social li a, .header-section-3 .header-top-social li a {
            color: #FFFFFF;
        }

        .header-section-2 .navi > ul > li > a:hover,
        .header-section-2 .navi > ul > li.active > a,
        .header-section-5 .navi > ul > li > a:hover,
        .header-section-5 .navi > ul > li.active > a {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-2 .header-right .user a:hover,
        .header-section-2 .header-right span:hover,
        .header-section-5 .header-right .user a:hover,
        .header-section-5 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section .header-right a.btn,
        .header-section-2 .header-right a.btn,
        .header-section-3 .header-right a.btn,
        .header-section-5 .header-right a.btn,
        .header-section-6 .header-right a.btn {
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section .header-right .user a.btn:hover,
        .header-section-2 .header-right .user a.btn:hover,
        .header-section-3 .header-right .user a.btn:hover,
        .header-section-5 .header-right .user a.btn:hover,
        .header-section-6 .header-right .user a.btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: #ffffff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .header-section-4,
        .header-section-4 .navi > ul ul,
        .sticky_nav.header-section-4 {
            background-color: #0c4f84;
        }

        .header-section-4 .navi > ul > li > a,
        .header-section-4 .navi > ul ul a,
        .header-section-4 .header-right .user a,
        .header-section-4 .header-right span {
            color: #ffffff;
        }

        .header-section-4 .header-right .btn {
            color: #000000;
            border: 1px solid #000000;
            background-color: #ffffff;
        }

        .header-section-4 .navi > ul > li > a:hover,
        .header-section-4 .navi > ul ul a:hover,
        .header-section-4 .navi > ul > li.active > a,
        .header-section-4 .header-right .user a:hover,
        .header-section-4 .header-right .user a:focus,
        .header-section-4 .header-right span:hover,
        .header-section-4 .header-right span:focus {
            color: rgba(203, 180, 146, 1);
        }

        .header-section-4 .header-right .user .btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(203, 180, 146, 1);
            background-color: rgba(203, 180, 146, 1);
        }

        .houzez-header-transparent {
            background-color: transparent;
            position: absolute;
            width: 100%;
            border-bottom: 1px none;
            border-color: rgba(255, 255, 255, 0.3);
        }

        .header-section-4.houzez-header-transparent .navi > ul > li > a,
        .header-section-4.houzez-header-transparent .header-right .account-action span,
        .header-section-4.houzez-header-transparent .header-right .user span {
            color: #ffffff;
        }

        .header-section-4.houzez-header-transparent .navi > ul > li > a:hover,
        .header-section-4.houzez-header-transparent .navi > ul ul a:hover,
        .header-section-4.houzez-header-transparent .account-action li:hover,
        .header-section-4.houzez-header-transparent .header-right .user a:hover,
        .header-section-4.houzez-header-transparent .header-right .account-action span:hover,
        .header-section-4.houzez-header-transparent .header-right .user span:hover,
        .header-section-4.houzez-header-transparent .header-right .user a:focus {
            color: #ffffff;
        }

        .header-section-4.houzez-header-transparent .header-right .btn {
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-4.houzez-header-transparent .header-right .user .btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(203, 180, 146, 1);
            background-color: rgba(203, 180, 146, 1);
        }

        .header-section-6 {
            background-color: #00AEEF;
        }

        .header-section-6 .navi > ul > li > a {
            color: #FFFFFF;
            background-color: transparent;
        }

        .header-section-6 .header-right .user a,
        .header-section-6 .header-right span {
            color: #FFFFFF;
        }

        .header-section-6-icons .header-top-social li a {
            color: #FFFFFF;
        }

        .header-section-6 .navi > ul > li > a:hover {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-6 .header-right .user a:hover,
        .header-section-6 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .navi.main-nav > ul ul {
            background-color: rgba(255, 255, 255, 0.95);
        }

        .navi.main-nav > ul ul a {
            color: #2e3e49 !important;
        }

        .navi.main-nav > ul ul a:hover {
            color: #cbb492 !important;
        }

        .navi.main-nav > ul ul li,
        .houzez-megamenu-inner .sub-menu li {
            border-color: #e6e6e6;
        }

        .header-section .header-right a,
        .header-section .header-right span,
        .header-section .header-right .btn-default,
        .header-section .navi ul li,
        .header-section .account-dropdown > ul > li > a,
        .header-section-3 .header-right a,
        .header-section-3 .header-right span,
        .header-section-3 .navi ul li,
        .header-section-3 .account-dropdown > ul > li > a,
        .header-section-2 .header-right a,
        .header-section-2 .header-right span,
        .header-section-2 .navi ul li,
        .header-section-2 .account-dropdown > ul > li > a,
        .header-section-4 .header-right a,
        .header-section-4 .header-right span,
        .header-section-4 .navi ul li,
        .header-section-4 .header-right .btn-default,
        .header-section-4 .account-dropdown > ul > li > a,
        .header-section-5 .header-right a,
        .header-section-5 .header-right span,
        .header-section-5 .navi ul li,
        .header-section-5 .account-dropdown > ul > li > a,
        .header-section-6 .header-right a,
        .header-section-6 .header-right span,
        .header-section-6 .navi ul li,
        .header-section-6 .account-dropdown > ul > li > a,
        .board-panel-menu > li a {
            font-family: Lato;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            text-align: left;
        }

        .header-section.slpash-header .navi > ul > li > a:hover,
        .slpash-header.header-section-4 .navi > ul > li > a:hover,
        .header-section.slpash-header .header-right .user > a:hover,
        .slpash-header.header-section-4 .header-right .user > a:hover,
        .header-section.slpash-header .navi > ul > li > a:focus,
        .slpash-header.header-section-4 .navi > ul > li > a:focus,
        .header-section.slpash-header .header-right .user > a:focus,
        .slpash-header.header-section-4 .header-right .user > a:focus {
            color: rgba(255, 255, 255, 1);
        }

        .header-section.slpash-header .navi > ul > li.active > a {
            color: #0c4f84;
        }

        .header-mobile {
            background-color: #0c4f84;
        }

        .header-mobile .nav-dropdown > ul {
            background-color: rgba(255, 255, 255, 1);
        }

        .mobile-nav .nav-trigger,
        .header-mobile .user a,
        .header-mobile .user-icon {
            color: #ffffff;
        }

        .splash-header .mobile-nav .nav-trigger,
        .splash-header .header-mobile .user a,
        .splash-header .header-mobile .user-icon {
            color: #ffffff;
        }

        .nav-dropdown a,
        .nav-dropdown li .expand-me {
            color: #0c4f84;
        }

        .mobile-nav a,
        .header-mobile .account-dropdown > ul > li a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            text-transform: none;
            text-align: left;
        }

        .mobile-nav .nav-dropdown > ul ul a {
            color: #cbb492;
            background-color: #ffffff;
        }

        .mobile-nav .nav-dropdown li {
            border-top: 1px solid #ececec;
        }

        .mobile-nav .nav-dropdown > ul > li:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        .mobile-nav .nav-dropdown li.active > a {
            color: rgba(203, 180, 146, 1);
            background-color: rgba(255, 255, 255, 1);
        }

        .account-dropdown > ul {
            background-color: #FFFFFF;
        }

        .account-dropdown > ul:before {
            border-bottom-color: #FFFFFF;
        }

        .account-dropdown > ul > li > a {
            color: #2e3e49 !important;
        }

        .account-dropdown > ul > li > a:hover, .account-dropdown > ul > li.active > a, .account-dropdown > ul > li.active > a:hover {
            color: #2e3e49 !important;
            background-color: rgba(204, 204, 204, 0.15);
        }

        .account-dropdown > ul > li {
            border-color: #e6e6e6;
        }

        .account-dropdown > ul .sub-menu {
            background-color: #0a0000;
        }

        .account-dropdown > ul .sub-menu > li,
        .account-dropdown > ul .sub-menu > li a {
            color: #FFFFFF;
        }

        .account-dropdown > ul .sub-menu > li a:hover, .account-dropdown > ul .sub-menu > li.active > a {
            background-color: rgba(255, 255, 255, 0.2) !important;
            color: inherit;
        }

        .account-dropdown > ul .sub-menu > li {
            border-color: rgba(255, 255, 255, 0.3) !important;
        }

        .footer {
            background-color: #ffffff;
        }

        .footer-bottom {
            background-color: #ffffff;
            border-top: 1px solid #e5e5e5;
        }

        .footer,
        .footer-widget h4,
        .footer-bottom p,
        .footer-widget.widget_calendar caption {
            color: #000000;
        }

        .footer a,
        .footer-bottom .navi a,
        .footer-bottom .foot-social p a {
            color: #000000;
        }

        .footer-widget .widget-title,
        .footer p, .footer p.wp-caption-text,
        .footer li,
        .footer li i {
            color: #000000;
        }

        .footer a:hover,
        .footer-bottom .navi a:hover,
        .footer-bottom .foot-social p a:hover {
            color: rgba(203, 180, 146, 1);
        }

        .footer-widget.widget_tag_cloud .tagcloud a {
            color: rgba(203, 180, 146, 1);
            background-color: #000000;
            border: 1px solid #000000;
        }

        body {
            color: #000000;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-transform: none;
        }

        input, button, select, textarea {
            font-family: Lato;
        }

        h1,
        .page-title .title-head,
        .article-detail h1,
        h2,
        .article-detail h2,
        .houzez-module .module-title-nav h2,
        h3,
        .module-title h3,
        .article-detail h3,
        .detail h3,
        .caption-bottom .detail h3,
        .add-title-tab h3,
        #sidebar .widget-title,
        .footer-widget .widget-title,
        .services-module .service-block h3,
        h4,
        .article-detail h4,
        h5,
        .article-detail h5,
        h6,
        .article-detail h6,
        .item-body h2,
        .item-body .property-title,
        .post-card-description h3,
        .post-card-description .post-card-title,
        .my-property .my-heading,
        .module-title h2,
        .houzez-module .module-title-nav h2 {
            font-family: Lato;
            font-weight: 400;
            text-transform: capitalize;
            text-align: inherit;
        }

        .page-title .title-head,
        .article-detail h1 {
            font-size: 30px;
            line-height: 38px;
        }

        .article-detail h2,
        .houzez-module .module-title-nav h2 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 10px 0;
        }

        .houzez-module .module-title-nav h2 {
            margin: 0;
        }

        .module-title h3,
        .article-detail h3,
        .services-module .service-block h3 {
            font-size: 20px;
            line-height: 28px;
        }

        .article-detail h4 {
            font-size: 18px;
            line-height: 26px;
            margin: 0 0 24px 0;
        }

        h5,
        .article-detail h5 {
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 24px 0;
        }

        h6,
        .article-detail h6 {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 24px 0;
        }

        .item-body h2,
        .post-card-description h3,
        .my-property .my-heading {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 8px 0;
            font-weight: 500;
            text-transform: inherit;
            text-align: inherit;
        }

        .module-title h2 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 10px 0;
            font-weight: 500;
            text-transform: inherit;
            text-align: inherit;
        }

        .module-title .sub-heading {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            text-transform: inherit;
            text-align: inherit;
        }

        .houzez-module .module-title-nav .sub-title {
            font-size: 16px;
            line-height: 18px;
            margin: 8px 0 0 0;
            font-weight: 300;
            text-transform: inherit;
            text-align: inherit;
        }

        .item-thumb .hover-effect:before,
        figure .hover-effect:before,
        .carousel-module .carousel .item figure .hover-effect:before,
        .item-thumb .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb .slick-slide:before,
        figure .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure .slick-slide:before {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, .75) 100%);
        }

        .slideshow .slide .slick-prev:hover,
        .slideshow .slideshow-nav .slick-prev:hover,
        .slideshow .slide .slick-next:hover,
        .slideshow .slideshow-nav .slick-next:hover,
        .slideshow .slide .slick-prev:focus,
        .slideshow .slideshow-nav .slick-prev:focus,
        .slideshow .slide .slick-next:focus,
        .slideshow .slideshow-nav .slick-next:focus
        .item-thumb:hover .hover-effect:before,
        figure:hover .hover-effect:before,
        .carousel-module .carousel .item figure:hover .hover-effect:before,
        .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
        figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure:hover .slick-slide:before,
        .item-thumb:hover .hover-effect:before,
        figure:hover .hover-effect:before,
        .carousel-module .carousel .item figure:hover .hover-effect:before,
        .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
        figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure:hover .slick-slide:before {
            color: #fff;
            background-color: rgba(255, 255, 255, .5);
        }

        .figure-grid .detail h3,
        .detail-above.detail h3 {
            color: #fff;
        }

        .detail-bottom.detail h3 {
            color: #000;
        }

        .agent-contact a {
            font-weight: 700;
        }

        .label-status {
            background-color: #333;
            font-weight: 700;
        }

        .read .fa {
            top: 1px;
            position: relative;
        }

        .label-primary,
        .fave-load-more a,
        .widget_tag_cloud .tagcloud a,
        .pagination-main .pagination li.active a,
        .other-features .btn.btn-secondary,
        .my-menu .active {
            font-weight: 500;
        }

        .header-detail.table-cell .header-right {
            margin-top: 27px;
        }

        .header-detail h1 .actions span, .header-detail h4 .actions span {
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
        }

        .header-detail .property-address {
            color: #707070;
            margin-top: 12px;
        }

        .white-block {
            padding: 40px;
        }

        .wpb_text_column ul,
        .wpb_text_column ol {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
        }

        #sidebar .widget_houzez_latest_posts img {
            max-width: 90px;
            margin-top: 0;
        }

        #sidebar .widget_houzez_latest_posts .media-heading,
        #sidebar .widget_houzez_latest_posts .read {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
        }

        #sidebar .widget-range .dropdown-toggle,
        .bootstrap-select.btn-group,
        .search-long .search input,
        .advanced-search .search-long .advance-btn,
        .splash-search .dropdown-toggle {
            font-weight: 400;
            color: #959595 !important;
            font-size: 15px;
        }

        .advanced-search .input-group .form-control {
            border-left-width: 0;
        }

        .location-select {
            max-width: 170px;
        }

        .vegas-overlay {
            opacity: 1;
            background-image: url(static/uploads/2016/03/bg-video-1.png);
        }

        .label-color-289 {
            background-color: #dd3333;
        }

        .label-color-1335 {
            background-color: #cbb492;
        }

        .header-mobile .header-logo img {
            width: 127px;
            max-height: 24px;
        }

        .user-dashboard-left,
        .board-header {
            background-color: #000000;
        }

        .board-panel-menu > li a,
        .board-header .board-title,
        .board-header .breadcrumb > .active,
        .board-header .breadcrumb li:after,
        .board-header .steps-progress-main {
            color: #ffffff;
        }

        .board-panel-menu > li.active {
            color: #e4192b;
        }

        .board-panel-menu .sub-menu {
            background-color: #303030;
        }

        .board-panel-menu .sub-menu > li.active > a, .board-panel-menu > li a:hover {
            color: #e4192b;
        }

        #ihf-main-container .btn-primary,
        #ihf-main-container .ihf-map-search-refine-link,
        #ihf-main-container .ihf-map-search-refine-link {
            background-color: #cbb492;
            border-color: #cbb492;
            color: #fff;
        }

        #ihf-main-container .btn-primary:hover,
        #ihf-main-container .btn-primary:focus,
        #ihf-main-container .btn-primary:active,
        #ihf-main-container .btn-primary.active {
            background-color: rgba(203, 180, 146, 0.75);
        }

        #ihf-main-container a {
            color: #0c4f84;
        }

        .ihf-grid-result-basic-info-container,
        #ihf-main-container {
            color: #000000;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-transform: none;
        }

        #ihf-main-container .fs-12,
        .ihf-tab-pane,
        #ihf-agent-sellers-rep,
        #ihf-board-detail-disclaimer,
        #ihf-board-detail-updatetext {
            font-size: 16px;
        }

        #ihf-main-container .title-bar-1,
        .ihf-map-icon {
            background-color: #0c4f84;
        }

        .ihf-map-icon {
            border-color: #0c4f84;
        }

        .ihf-map-icon:after {
            border-top-color: #0c4f84;
        }

        #ihf-main-container h1,
        #ihf-main-container h2,
        #ihf-main-container h3,
        #ihf-main-container h4,
        #ihf-main-container h5,
        #ihf-main-container h6,
        #ihf-main-container .h1,
        #ihf-main-container .h2,
        #ihf-main-container .h3,
        #ihf-main-container .h4,
        #ihf-main-container .h5,
        #ihf-main-container .h6,
        #ihf-main-container h4.ihf-address,
        #ihf-main-container h4.ihf-price {
            font-family: Lato;
            font-weight: 400;
            text-transform: capitalize;
            text-align: inherit;
        }

        /* content
/* ------------------------------------------------------------------------ */
        #section-body {
            padding-bottom: 0;
        }

        /* visual composer parallax
/* ------------------------------------------------------------------------ */
        .vc_parallax:after {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100% !important;
            content: '';
            display: block;
            visibility: visible !important;
        }

        .vc_parallax .vc_parallax-inner {
            background-attachment: fixed !important;
        }

        .vc_parallax .module-title {
            padding: 0 !important;
        }

        /* module titles
/* ------------------------------------------------------------------------ */
        .module-title h2 {
            margin: 0 0 5px 0;
        }
