{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">


        <div class="container">


            <!--start compare panel-->
            <div id="compare-controller" class="compare-panel">
                <div class="compare-panel-header">
                    <h4 class="title"> Compare Listings <span class="panel-btn-close pull-right"><i
                            class="fa fa-times"></i></span></h4>
                </div>

                <div id="compare-properties-basket">
                </div>
            </div>
            <!--end compare panel-->

            <section class="section-detail-content blog-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 container-contentbar">
                            <div class="article-main">
                                <article id="post-637"
                                         class="blog-article post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../skills-that-you-can-learn-in-the-real-estate-market/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/04-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="Skills That You Can Learn In The Real Estate Market"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../skills-that-you-can-learn-in-the-real-estate-market/index.html"
                                                rel="bookmark">Skills That You Can Learn In The Real Estate Market</a>
                                        </h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/business/index.html"
                                                    rel="category tag">Business</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../skills-that-you-can-learn-in-the-real-estate-market/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-635"
                                         class="blog-article post-635 post type-post status-publish format-standard has-post-thumbnail hentry category-construction tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../learn-the-truth-about-real-estate-industry/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/06-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="Learn The Truth About Real Estate Industry"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../learn-the-truth-about-real-estate-industry/index.html"
                                                rel="bookmark">Learn The Truth About Real Estate Industry</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/construction/index.html" rel="category tag">Construction</a>
                                            </li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../learn-the-truth-about-real-estate-industry/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-633"
                                         class="blog-article post-633 post type-post status-publish format-standard has-post-thumbnail hentry category-real-estate tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../10-quick-tips-about-business-development/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/07-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="10 Quick Tips About Business Development"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../10-quick-tips-about-business-development/index.html"
                                                rel="bookmark">10 Quick Tips About Business Development</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/real-estate/index.html" rel="category tag">Real
                                                Estate</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../10-quick-tips-about-business-development/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-631"
                                         class="blog-article post-631 post type-post status-publish format-standard has-post-thumbnail hentry category-real-estate tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../14-common-misconceptions-about-business-development/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/106-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="14 Common Misconceptions About Business Development"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../14-common-misconceptions-about-business-development/index.html"
                                                rel="bookmark">14 Common Misconceptions About Business Development</a>
                                        </h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/real-estate/index.html" rel="category tag">Real
                                                Estate</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../14-common-misconceptions-about-business-development/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-629"
                                         class="blog-article post-629 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../10-things-your-competitors-can-teach-you-about-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/114-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="10 Things Your Competitors Can Teach You About Real Estate"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../10-things-your-competitors-can-teach-you-about-real-estate/index.html"
                                                rel="bookmark">10 Things Your Competitors Can Teach You About Real
                                            Estate</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/business/index.html"
                                                    rel="category tag">Business</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../10-things-your-competitors-can-teach-you-about-real-estate/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-627"
                                         class="blog-article post-627 post type-post status-publish format-standard has-post-thumbnail hentry category-construction tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail" href="../why-we-love-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/10-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="Why We Love Real Estate"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a href="../why-we-love-real-estate/index.html"
                                                                     rel="bookmark">Why We Love Real Estate</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/construction/index.html" rel="category tag">Construction</a>
                                            </li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../why-we-love-real-estate/index.html" class="btn btn-primary">Read
                                                More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-625"
                                         class="blog-article post-625 post type-post status-publish format-standard has-post-thumbnail hentry category-real-estate tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail" href="../10-quick-tips-about-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/20-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="10 Quick Tips About Real Estate"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../10-quick-tips-about-real-estate/index.html" rel="bookmark">10
                                            Quick Tips About Real Estate</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/real-estate/index.html" rel="category tag">Real
                                                Estate</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../10-quick-tips-about-real-estate/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-623"
                                         class="blog-article post-623 post type-post status-publish format-standard has-post-thumbnail hentry category-real-estate tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../15-best-blogs-to-follow-about-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/12-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="15 Best Blogs To Follow About Real Estate"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../15-best-blogs-to-follow-about-real-estate/index.html"
                                                rel="bookmark">15 Best Blogs To Follow About Real Estate</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/real-estate/index.html" rel="category tag">Real
                                                Estate</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../15-best-blogs-to-follow-about-real-estate/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-618"
                                         class="blog-article post-618 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail" href="../the-history-of-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/14-1-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="5 Tools Everyone In The Real Estate Industry Should Be Using"/>
                                        </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a href="../the-history-of-real-estate/index.html"
                                                                     rel="bookmark">5 Tools Everyone In The Real Estate
                                            Industry Should Be Using</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/business/index.html"
                                                    rel="category tag">Business</a></li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../the-history-of-real-estate/index.html" class="btn btn-primary">Read
                                                More</a>
                                        </div>
                                    </div>
                                </article>
                                <article id="post-616"
                                         class="blog-article post-616 post type-post status-publish format-standard has-post-thumbnail hentry category-construction tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">


                                    <div class="article-media">
                                        <a class="post-thumbnail"
                                           href="../the-ultimate-cheat-sheet-on-real-estate/index.html">
                                            <img width="810" height="430"
                                                 src="../wp-content/uploads/2017/11/65-810x430.jpg"
                                                 class="attachment-houzez-property-detail-gallery size-houzez-property-detail-gallery wp-post-image"
                                                 alt="The Ultimate Cheat Sheet On Real Estate"/> </a>
                                    </div>


                                    <div class="article-detail">
                                        <h1 class="article-title"><a
                                                href="../the-ultimate-cheat-sheet-on-real-estate/index.html"
                                                rel="bookmark">The Ultimate Cheat Sheet On Real Estate</a></h1>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem
                                            sed sollicitudin. Donec non odio neque. Aliquam hendrerit sollicitudin
                                            purus, quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis,
                                            at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et
                                            adipiscing erat. Curabitur this is a text link libero tempus congue. Duis
                                            mattis laoreet neque, [&hellip;]</p>

                                    </div>
                                    <div class="article-footer">

                                        <ul class="author-meta">
                                            <li>
                                                <img src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent1-1.jpg"
                                                     alt="Auther Image" width="40" height="40"
                                                     class="meta-image img-circle">
                                                by Mike Moore
                                            </li>
                                            <li><i class="fa fa-calendar"></i> March 9, 2016</li>

                                            <li><i class="fa fa-bookmark-o"></i> <a
                                                    href="../category/construction/index.html" rel="category tag">Construction</a>
                                            </li>
                                        </ul>

                                        <div class="article-footer-right">
                                            <a href="../the-ultimate-cheat-sheet-on-real-estate/index.html"
                                               class="btn btn-primary">Read More</a>
                                        </div>
                                    </div>
                                </article>
                                <hr>

                                <!--start pagination-->
                                <div class="pagination-main ">
                                    <ul class="pagination">
                                        <li class="disabled"><a aria-label="Previous"><span aria-hidden="true"><i
                                                class="fa fa-angle-left"></i></span></a></li>
                                        <li class="active"><a data-houzepagi="1" href="index.html">1 <span
                                                class="sr-only"></span></a></li>
                                        <li><a data-houzepagi="2" href="page/2/index.html">2</a></li>
                                        <li><a data-houzepagi="2" rel="Next" href="page/2/index.html"><span
                                                aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                                    </ul>
                                </div>                        <!--end pagination-->

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-0 col-sm-offset-3 container-sidebar houzez_sticky">
                            <aside id="sidebar" class="sidebar-white">
                            </aside>
                        </div>
                    </div>
                </div>
            </section>


        </div> <!--.container Start in header-->
    </div> <!--Start in header end #section-body-->
    <button class="scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
{% endblock %}
