{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <header class="section__title">
                <h2>Добавить объект</h2>
            </header>

            <div class="submit-property">
                <div class="tab-content submit-property__content">
                    <div class="tab-pane fade active in" id="submit-property-1">
                        <div class="card">

                            <form class="card__body">

                                <div class="form-group form-group--float form-group--float-center">
                                    <input type="text" class="form-control text-center" required id="form_name">
                                    <i class="form-group__bar"></i>
                                    <label>Ваше имя</label>
                                </div>
                                <div class="form-group form-group--float form-group--float-center">
                                    <input type="text" class="form-control text-center" id="form_email">
                                    <i class="form-group__bar"></i>
                                    <label>Ваш email</label>
                                </div>
                                <div class="form-group form-group--float form-group--float-center">
                                    <input type="text" class="form-control text-center" id="form_phone">
                                    <i class="form-group__bar"></i>
                                    <label>Ваш телефон</label>
                                </div>
                                <div class="form-group form-group--float form-group--float-center">
                                    <textarea id="form_message" class="form-control text-center textarea-autoheight"
                                              style="overflow-x: hidden; word-wrap: break-word; overflow-y: visible;"></textarea>
                                    <i class="form-group__bar"></i>
                                    <label>Дополнительная информация</label>
                                </div>

                                <a href="#submit-property-2" data-toggle="tab" onclick="sendForm()"
                                   class="btn btn--circle btn-primary submit-property__button" aria-expanded="false">
                                    <i class="zmdi zmdi-check"></i>
                                </a>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="submit-property-2">
                        <div class="card">
                            <div class="submit-property__success">
                                <i class="zmdi zmdi-check"></i>

                                <h2>Cпасибо!</h2>

                                <p>Ваша заявка принята.</p>
                                <a href="{% url 'index' %}" role="button" class="btn brn-sm btn-default btn-static">На
                                    главную</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block  extra_js %}
    <script>
    var sendForm = function () {
        $.post({
            url: "/handle_forms/",
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                "name": document.getElementById('form_name').value,
                "email": document.getElementById('form_email').value,
                "phone": document.getElementById('form_phone').value,
                "message": document.getElementById('form_message').value,
                "tag": "Заявка на добавление объекта"
            })
        });
    };
</script>
{% endblock %}



