{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="" style="margin-top: 20px">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2>Обратная связь</h2>
                                </div>
                            </div>
                            <div role="form" class="wpcf7" id="wpcf7-f5-p1100-o1" lang="en-US" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="http://houzez12.favethemes.com/contact/#wpcf7-f5-p1100-o1" method="post"
                                      class="wpcf7-form" novalidate="novalidate">
                                    <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="5"/>
                                        <input type="hidden" name="_wpcf7_version" value="5.0.1"/>
                                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p1100-o1"/>
                                        <input type="hidden" name="_wpcf7_container_post" value="1100"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="required" for="yourName">Ваше имя</label><br/>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                               name="your-name" value=""
                                                                                               size="40"
                                                                                               class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                                                               aria-required="true"
                                                                                               aria-invalid="false"/></span> </p>
                                    </div>
                                    <div class="form-group">
                                        <label class="required" for="yourEmail">Ваш email</label><br/>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                                                                                name="your-email"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"/></span> </p>
                                    </div>
                                    <div class="form-group">
                                        <label class="required" for="yourPhone">Ваш телефон</label><br/>
                                        <span class="wpcf7-form-control-wrap tel-179"><input type="tel" name="tel-179"
                                                                                             value="" size="40"
                                                                                             class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
                                                                                             aria-required="true"
                                                                                             aria-invalid="false"/></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="required" for="yourMessage">Ваше сообщение</label><br/>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                                                                                     cols="40" rows="10"
                                                                                                     class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control"
                                                                                                     aria-required="true"
                                                                                                     aria-invalid="false"></textarea></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Отправить"
                                               class="wpcf7-form-control wpcf7-submit btn btn-primary btn-lg"/>
                                    </div>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Основные телефоны</h4>
                                    <ul>
                                        <li><a href="#" data-dismiss="modal" data-toggle="modal"
                                               data-target="#pop-reset-pass">+66 (84) 629 93 35</a></li>
                                        <li><a href="#">+7 (495) 150 50 44</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Владивосток</h4>

                                    <p>Адрес:
                                        г. Владивосток, ул. Анисимова 15, офис 2</p>

                                    <p>Телефон:
                                        <a href="#">8-800-500-52-15</a></p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Красноярск</h4>

                                    <p>Адрес:
                                        г. Красноярск, ул. 78 Добровольческой Бригады, 14В</p>

                                    <p>Телефон:
                                        <a href="#">8-800-500-52-15</a></p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Хабаровск</h4>

                                    <p>Адрес:
                                        г. Хабаровск, ул. Постышева 22-а, офис 405, БЦ Хабаровск-Сити</p>

                                    <p>Телефон:
                                        <a href="#">8-800-500-52-15</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>&nbsp;</h4>
                                    <ul>
                                        <li>Skype: <a href="#" data-target="#">baranova.anna.ru</a></li>
                                        <li>Email: <a href="#">info@indreamsphuket.ru</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Новосибирск</h4>

                                    <p>Адрес:
                                        г. Новосибирск, Красный проспект 99, офис 303</p>

                                    <p>Телефон:
                                        <a href="#">8-800-500-52-15</a></p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Тайланд</h4>

                                    <p>Адрес:
                                        23/108, Moo 4., Saku Sub-District, ThalangDistrict , Phuket Province 83110/p>

                                    <p>Телефон:
                                        <a href="#">+66(84)629 93 35</a></p>

                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4>Москва</h4>

                                    <p>Адрес:
                                        121471, г. Москва, ЗАО, Рябиновая улица, д. 26, Бизнес-центр "West Plaza"</p>

                                    <p>Телефон:
                                        <a href="#">+7 (495) 150 50 44</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div style="background-image: url('http://{{ request.get_host }}/static/wp-content/uploads/2017/11/07-1.jpg')"
         class="vc_row wpb_row vc_row-fluid vc_custom_1512599331652 vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade">
        {% include 'includes/index_agents_inner.html' %}
    </div>
{% endblock %}

