{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">


        <style type="text/css" scoped>
            .banner-inner:before {
                opacity: 0.5;
            }
        </style>
        <div class="header-media-wrap">
            <div class="header-media">
                <div class="banner-parallax " style='height: 300px;'>
                    <div class="banner-bg-wrap">
                        <div class="banner-inner"
                             style='background-image: url(../wp-content/uploads/2017/11/10-1.jpg); '></div>
                    </div>
                </div>
                <div class="banner-caption">

                    <h1>About Houzez</h1>

                    <h2>A Real Estate Theme You Can Trust</h2>


                </div>
            </div>
        </div>

        <div class="container">


            <!--start compare panel-->
            <div id="compare-controller" class="compare-panel">
                <div class="compare-panel-header">
                    <h4 class="title"> Compare Listings <span class="panel-btn-close pull-right"><i
                            class="fa fa-times"></i></span></h4>
                </div>

                <div id="compare-properties-basket">
                </div>
            </div>
            <!--end compare panel-->

            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p class="p1"><strong>Houzez is a premium WordPress theme for real estate agents
                                        where modern aesthetics are combined with tasteful simplicity and where the ease
                                        of use is achieved without compromise in your ability to customise the
                                        design. </strong></p>

                                    <p class="p1">Whether you are a real estate agent looking to build a website for
                                        your company or a web developer seeking a perfect WordPress theme for your next
                                        project, you are certain to appreciate the numerous features and benefits that
                                        our theme provides.</p>

                                    <p class="p1">This is not a theme that only takes care of the <i>front </i>of a real
                                        estate business. This is also a WordPress-based property management system which
                                        allows you to own and maintain a real estate marketplace, coordinate your
                                        agents, accept submissions and offer membership packages.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                <span class="vc_sep_holder vc_sep_holder_l"><span
                                        class="vc_sep_line"></span></span><span
                                    class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h3 class="p1"><span class="s1">Your Vision. Unrestricted.</span></h3>

                                    <p class="p2"><span class="s1">Unlike many other real estate themes which confine you to a handful of predefined layouts, <strong>Houzez
                                        offers a limitless array of possibilities to structure and style your
                                        content.</strong> There is no more need to write custom code or hire a developer to realise your vision: all of the customisation options are logically organised in your WordPress admin panel and thoroughly explained in the provided documentation.</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                <span class="vc_sep_holder vc_sep_holder_l"><span
                                        class="vc_sep_line"></span></span><span
                                    class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h3>Meet our team</h3>

                                </div>
                            </div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><img class="aligncenter wp-image-153 size-medium"
                                                            src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent-3-300x300.jpg"
                                                            alt="agent-3" width="300" height="300"/></p>

                                                    <p style="text-align: center;"><strong>Martin Moore</strong><br/>
                                                        Executive Director</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><img class="aligncenter size-large wp-image-308"
                                                            src="../../houzez01.favethemes.com/wp-content/uploads/2016/03/Debra-Rose_avatar_1434742307.jpg"
                                                            alt="Debra-Rose_avatar_1434742307" width="300"
                                                            height="300"/></p>

                                                    <p style="text-align: center;"><strong>Emily Austin</strong><br/>
                                                        Marketing Director</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><img class="aligncenter wp-image-152 size-medium"
                                                            src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent-2-300x300.jpg"
                                                            alt="agent-2" width="300" height="300"/></p>

                                                    <p style="text-align: center;"><strong>Donna Reed</strong><br/>
                                                        Customer Care</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-3">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><strong><img
                                                            class="aligncenter wp-image-154 size-medium"
                                                            src="../../houzez01.favethemes.com/wp-content/uploads/2016/02/agent-4-300x300.jpg"
                                                            alt="agent-4" width="300" height="300"/></strong></p>

                                                    <p style="text-align: center;"><strong>Russell Price</strong><br/>
                                                        Creative Director</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                <span class="vc_sep_holder vc_sep_holder_l"><span
                                        class="vc_sep_line"></span></span><span
                                    class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h1 class="p1" style="margin-bottom: 5px; text-align: center;">Houzez was built with
                                        <b>your success</b> in mind</h1>

                                    <p style="text-align: center;">Get more calls, schedule more viewings and earn more
                                        commissions</p>

                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-8">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1511817036667">
                                                <div class="wpb_wrapper">
                                                    <p class="p1" style="text-align: left;"><b>Easy to Get Started </b>
                                                    </p>

                                                    <p class="p1" style="text-align: left;">Do you like the demo? Import
                                                        the provided sample content in a few clicks and start editing it
                                                        right away</p>

                                                    <p class="p1" style="text-align: left;"><b>Built-in Monetisation
                                                        System </b></p>

                                                    <p class="p1" style="text-align: left;">No need to install
                                                        additional plugins to handle money. Send and receive payments
                                                        straight out of the box</p>

                                                    <p class="p1" style="text-align: left;"><b>Visual Composer </b></p>

                                                    <p class="p1" style="text-align: left;">Not experienced in building
                                                        websites? Get instant visual feedback by dragging and dropping
                                                        elements to build pages</p>

                                                    <p class="p1" style="text-align: left;"><b>Multilingual Support</b>
                                                    </p>

                                                    <p class="p1" style="text-align: left;">Our theme fully supports the
                                                        WPML plugin in case you want to display your content in multiple
                                                        languages</p>

                                                    <p class="p1" style="text-align: left;"><b>Membership System</b></p>

                                                    <p class="p1" style="text-align: left;">Offer your agents custom
                                                        subscription levels by varying the number of featured and
                                                        regular listings</p>

                                                    <p class="p1" style="text-align: left;"><b>Paid or Free
                                                        Submissions/Memberships</b></p>

                                                    <p class="p1" style="text-align: left;">Charge per listing
                                                        submission, offer monthly packages or don’t charge anything at
                                                        all &#8211; the choice is yours</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element  vc_custom_1511817047196">
                                                <div class="wpb_wrapper">
                                                    <p class="p1"><b>Various Header Options</b></p>

                                                    <p class="p1">Grab your visitors’ attention with an attractive
                                                        header. Choose between a slider, video, image or Google maps</p>

                                                    <p class="p1"><b>Unlimited Layouts</b></p>

                                                    <p class="p1">Nothing is set in stone: you can structure your pages
                                                        exactly how you want without having to write any code</p>

                                                    <p class="p1"><b>Choice of Listing Templates</b></p>

                                                    <p class="p1">Choose from 8 different listing templates and lay them
                                                        out as lists or grids, full-width or boxed, with a video or an
                                                        image</p>

                                                    <p class="p1"><b>Visual Composer Modules</b></p>

                                                    <p class="p1">Choose from a number of pre-designed Visual Composer
                                                        modules and lay out your pages in mere minutes</p>

                                                    <p class="p1"><b>Revolution Slider</b></p>

                                                    <p class="p1">We included this slider plugin as to allow you to
                                                        build advanced layered sliders with a myriad of options for
                                                        style and effects</p>

                                                    <p class="p1"><b>Advanced Search</b></p>

                                                    <p class="p1">Help your visitors find the right property by letting
                                                        them set various search criteria such as size and price
                                                        range</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h4 class="p1" style="text-align: center;">&#8230;and many other cool features&#8230;</h4>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-2">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>


        </div> <!--.container Start in header-->
    </div> <!--Start in header end #section-body-->
    <button class="scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
{% endblock %}
