<div class="mapWrapper" id="map" style="position: initial;width: 400px;На">
    <div class="newmap"
         style="height: 335px; background-image: url(https://phuketrenthouse.com/images/phuket/filter-map.png);background-repeat: no-repeat;background-position: center">
        <div class="newmapLocations">
            {% for d in districts %}
                <div class="loc"
                     style="height: 0px; position: relative; left: {{ d.BCLeft }}px; top: {{ d.BCTop }}px">
                    <label class="">
                        <div>
                            <input title="{{ d.Name }}" type="checkbox"
                                   class="map-checkbox" name="location"
                                   value="{{ d.Id }}" {% if d.Id in location %}
                                   checked{% endif %}>
                            {{ d.Name }}
                        </div>
                    </label>
                </div>
            {% endfor %}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 34px; top: 4px">#}
{#                <label class="PHA">#}
{#                    <div>#}
{#                        <input title="Phang Nga" type="checkbox"#}
{#                               class="map-checkbox area-PHA" name="Location[]"#}
{#                               value="20">#}
{#                        Phang Nga#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 37px; top: 84px">#}
{#                <label class="NYG">#}
{#                    <div>#}
{#                        <input title="Nai Yang" type="checkbox"#}
{#                               class="map-checkbox area-NYG" name="Location[]"#}
{#                               value="17">#}
{#                        Nai Yang#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 129px; top: 94px">#}
{#                <label class="EAS">#}
{#                    <div>#}
{#                        <input title="East" type="checkbox"#}
{#                               class="map-checkbox area-EAS" name="Location[]"#}
{#                               value="10">#}
{#                        East#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 21px; top: 107px">#}
{#                <label class="NAT">#}
{#                    <div>#}
{#                        <input title="Nai Thon" type="checkbox"#}
{#                               class="map-checkbox area-NAT" name="location"#}
{#                               value="19">#}
{#                        Nai Thon#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 26px; top: 125px">#}
{#                <label class="LAY">#}
{#                    <div>#}
{#                        <input title="Layan" type="checkbox"#}
{#                               class="map-checkbox area-LAY" name="Location[]"#}
{#                               value="18">#}
{#                        Layan#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 34px; top: 149px">#}
{#                <label class="BAN">#}
{#                    <div>#}
{#                        <input title="Bang Tao" type="checkbox"#}
{#                               class="map-checkbox area-BAN" name="Location[]"#}
{#                               value="8">#}
{#                        Bang Tao#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 60px; top: 159px">#}
{#                <label class="CHE">#}
{#                    <div>#}
{#                        <input title="Cherng Talay" type="checkbox"#}
{#                               class="map-checkbox area-CHE" name="Location[]"#}
{#                               value="16">#}
{#                        Cherng Talay#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 23px; top: 166px">#}
{#                <label class="SUR">#}
{#                    <div>#}
{#                        <input title="Surin" type="checkbox"#}
{#                               class="map-checkbox area-SUR" name="Location[]"#}
{#                               value="15">#}
{#                        Surin#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 67px; top: 219px">#}
{#                <label class="KTH">#}
{#                    <div>#}
{#                        <input title="Kathu" type="checkbox"#}
{#                               class="map-checkbox area-KTH" name="Location[]"#}
{#                               value="11">#}
{#                        Kathu#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 36px; top: 229px">#}
{#                <label class="PAT">#}
{#                    <div>#}
{#                        <input title="Patong" type="checkbox"#}
{#                               class="map-checkbox area-PAT" name="Location[]"#}
{#                               value="3">#}
{#                        Patong#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 139px; top: 250px">#}
{#                <label class="KSR">#}
{#                    <div>#}
{#                        <input title="Koh Sirey" type="checkbox"#}
{#                               class="map-checkbox area-KSR" name="Location[]"#}
{#                               value="23">#}
{#                        Koh Sirey#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 66px; top: 271px">#}
{#                <label class="CHA">#}
{#                    <div>#}
{#                        <input title="Chalong" type="checkbox"#}
{#                               class="map-checkbox area-CHA" name="Location[]"#}
{#                               value="2">#}
{#                        Chalong#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 108px; top: 283px">#}
{#                <label class="PAN"#}
{#                       aria-describedby="ui-tooltip-146">#}
{#                    <div>#}
{#                        <input title="Panwa" type="checkbox"#}
{#                               class="map-checkbox area-PAN" name="Location[]"#}
{#                               value="14">#}
{#                        Panwa#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
{#            <div class="loc"#}
{#                 style="height: 0px; position: absolute; left: 38px; top: 291px">#}
{#                <label class="KAT">#}
{#                    <div>#}
{#                        <input title="Kata" type="checkbox"#}
{#                               class="map-checkbox area-KAT" name="Location[]"#}
{#                               value="6">#}
{#                        Kata#}
{#                    </div>#}
{#                </label>#}
{#            </div>#}
        </div>
    </div>
</div>