{% load i18n %}
<button class="scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
<!--start footer section-->
<footer id="footer-section">


    <div class="footer-bottom">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-col">
                        <p>InDreams Phuket © 2013 - {% now 'Y' %}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-col">
                        <div class="navi">
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-col foot-social">
                        <p>
                            Мы в соц.сетях:
                            <a target="_blank" href="https://vk.com/indreamsphuket"><i
                                    class="fa fa-vk"></i></a>
                            <a target="_blank" href="https://www.facebook.com/indreamsphuket/"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a target="_blank" href="https://ok.ru/naphuketbezputevki"><i
                                    class="fa fa-odnoklassniki-square"></i></a>
                            <a target="_blank" href="https://www.instagram.com/indreams_phuket/"><i
                                    class="fa fa-instagram"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div><!-- End footer bottom -->

</footer>
<!--end footer section-->