<footer id="footer-section">
    <div class="footer footer-v2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div id="houzez_about_widget-2" class="footer-widget widget-about">
                        <div class="widget-top"><h3 class="widget-title">Клиентам</h3></div>
                        <div class="widget-body">

                            <p><a href="{% url 'usloviya-bronirovaniya' %}">Правила бронирования</a></p>

                            <p><a href="{% url 'pravila-prozhivaniya' %}">Правила проживания</a></p>

                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div id="houzez_about_widget-2" class="footer-widget widget-about">
                        <div class="widget-top"><h3 class="widget-title">Владельцам</h3></div>
                        <div class="widget-body">
                            <p><a href="{% url 'add-new-property' %}">Добавить объект</a></p>

                            <p><a href="{% url 'contact' %}">Свяжитесь с нами</a></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div id="houzez_about_widget-2" class="footer-widget widget-about">
                        <div class="widget-top"><h3 class="widget-title">Партнерам</h3></div>
                        <div class="widget-body">
                            <p><a href="{% url 'investoram' %}">Стать партнером</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-col">
                        <p>InDreams Phuket © 2013 - {% now 'Y' %}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="footer-col">
                        <div class="navi">
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-col foot-social">
                        <p>
                            Мы в соц.сетях:
                            <a target="_blank" href="https://vk.com/indreamsphuket"><i
                                    class="fa fa-vk"></i></a>
                            <a target="_blank" href="https://www.facebook.com/indreamsphuket/"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a target="_blank" href="https://ok.ru/naphuketbezputevki"><i
                                    class="fa fa-odnoklassniki-square"></i></a>
                            <a target="_blank" href="https://www.instagram.com/indreams_phuket/"><i
                                    class="fa fa-instagram"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</footer>