{% load i18n static %}

<div id="fb-root"></div>

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</div><!--start section header-->
<header id="header-section" class="header-section-5 houzez-header-main houzez-user-logout">
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="header-top-social" style="padding:40px 0 0;">
                        <ul>
                            <li><a target="_blank" href="https://vk.com/indreamsphuket"><i
                                    class="fa fa-vk"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/indreamsphuket/"><i
                                    class="fa fa-facebook-square"></i></a></li>
                            <li><a target="_blank" href="https://ok.ru/naphuketbezputevki"><i
                                    class="fa fa-odnoklassniki-square"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/indreams_phuket/"><i
                                    class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="logo logo-desktop hidden-sm hidden-xs">

                        <a href="/">
                            <img src="{% static 'images/logo.png' %}" alt="logo" style="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="header-top-social" style="padding:33px 0 0;">
                        <div class="header-nav">
                            <nav class="navi">
                                <ul class="">
                                    <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7529 has-child">
                                        <a href="#">{{ view.currency }}</a>
                                        <ul class="" style="min-width: 56px;">
                                            <li id="menu-item-346" style="display: none"
                                                class=" menu-item-type-custom menu-item-object-custom menu-item-346">
                                                <a href="#"></a></li>
                                            {% for c in view.currencies %}
                                                {% if c != view.currency %}
                                                    <li id="CUR_{{ c }}"
                                                        class=" menu-item-type-custom menu-item-object-custom menu-item-347 currency">
                                                        <a href="#">{{ c }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7529 has-child">
                                        <a href="#">
                                            {% if view.language == 'ru' %}
                                                Русский
                                            {% else %}
                                                English
                                            {% endif %}
                                        </a>
                                        <ul class="sub-menu" style="min-width: 110px;">
                                            {% for k,v in view.languages.items %}
                                                {% if k != view.language %}
                                                    <li id="{{ k }}"
                                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346 language">
                                                        <a href="#">{{ v }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>


                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom" data-sticky="0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="header-nav">
                        <nav class="navi main-nav">
                            <ul id="main-nav" class="">
                                <li id="menu-item-7519"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7519 has-child">
                                    <a href="#">Объекты</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'rent' %}">Аренда</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'buy' %}">Продажа</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-7529"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7529 has-child">
                                    <a href="#">Услуги</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'service' %} ">Для гостей</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'uslugi-dlya-vladelcev-nedvizhimosti' %}">Для владельцев
                                                недвижимости</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-7665"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7665"><a
                                        href="#">О нас</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'testimonials' %}">Отзывы</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'vakansii' %}">Вакансии</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'dostizheniya' %}">Лицензии и достижения</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'nashi-partnery' %}">Наши партнеры</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'faq' %}">Вопросы и ответы</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'fotogalereya' %}">Фотографии</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'news' %}">Новости</a></li>
                                        <li id="menu-item-347"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-347">
                                            <a href="{% url 'stati' %}">Статьи</a></li>
                                    </ul>
                                </li>

                                <li id="menu-item-7666"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7666"><a
                                        href="#">О Пхукете</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'plyazhy-phuketa' %}">Пляжи Пхукета</a></li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'villa-ili-otel' %}">Вилла или отель</a></li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'edem-na-phuket-s-detmi' %}">Едем на Пхукет с детьми</a>
                                        </li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'investoram' %}">Стать партнером</a></li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'vizy-v-tailande' %}">Визы в Таиланде</a></li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'laguna-outrigger-village-na-phukete' %}">Лагуна - жемчужина
                                                Пхукета</a></li>
                                        <li id="menu-item-346"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-346">
                                            <a href="{% url 'excursions' %}">Экскурсии</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-7667"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7667"><a
                                        href="{% url 'contact' %}">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end section header-->


<div class="header-mobile houzez-header-mobile " data-sticky="0">
    <div class="container">
        <!--start mobile nav-->
        <div class="mobile-nav">
            <span class="nav-trigger"><i class="fa fa-navicon"></i></span>

            <div class="nav-dropdown main-nav-dropdown"></div>
        </div>
        <!--end mobile nav-->
        <div class="header-logo ">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="Mobile logo"
                     style="width:initial;max-height: initial;">
            </a></div>
    </div>
</div>
