<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <a id="sell-toogle" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-black active"
               href="#"
               title="">Продажа</a>
            <a id="rent-toogle" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-black"
               href="#"
               title="">Аренда</a>

            <div id="section_sell">
                <div class="houzez-module module-title section-title-module text-left ">


                    <h2>Недвижимость на продажу</h2>

                    <h3 class="sub-heading">Покупка недвижимости на Пхукете - не только сбывшаяся мечта о доме у моря,
                        но и выгодная инвестиция</h3>
                </div>
                <div class="wpb_wrapper" id="props_sell">
                    <div id="properties_module_section" class="houzez-module property-item-module">
                        <div id="properties_module_container">
                            <div id="module_properties" class="property-listing list-view">
                                {% include 'includes/index_featured_inner.html' %}
                            </div>
                            <!-- end container-content -->
                        </div>
                        <div class="clearfix"></div>
                        <div id="fave-pagination-loadmore" class="pagination-wrap fave-load-more">
                            <div class="pagination">
                                <a data-paged="2"
                                   data-prop-limit="3"
                                   data-grid-style="v_2"
                                   data-type=""
                                   data-status=""
                                   data-state=""
                                   data-city=""
                                   data-area=""
                                   data-label=""
                                   data-user-role=""
                                   data-featured-prop="yes"
                                   data-offset=""
                                   data-sortby=""
                                   href="#">
                                    Другие объекты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section_rent" style="display: none">
                <div class="houzez-module module-title section-title-module text-left ">
                    <h2>Недвижимость в аренду</h2>

                    <h3 class="sub-heading">Аренда недвижимости на Пхукете — это престиж, комфорт, свобода и
                        приватность</h3>
                </div>
                <div class="wpb_wrapper" id="props_rent">
                    <div id="properties_module_section" class="houzez-module property-item-module">
                        <div id="properties_module_container">
                            <div id="module_properties" class="property-listing list-view">
                                {% include 'includes/index_featured_inner_rent.html' %}
                            </div>
                            <!-- end container-content -->
                        </div>
                        <div class="clearfix"></div>
                        <div id="fave-pagination-loadmore" class="pagination-wrap fave-load-more">
                            <div class="pagination">
                                <a
                                        data-paged="2"
                                        data-prop-limit="3"
                                        data-grid-style="v_2"
                                        data-type="rent"
                                        data-status=""
                                        data-state=""
                                        data-city=""
                                        data-area=""
                                        data-label=""
                                        data-user-role=""
                                        data-featured-prop="yes"
                                        data-offset=""
                                        data-sortby=""
                                        href="#">
                                    Другие объекты
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>