<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-parallax="1.5" style="z-index: -2"
     data-vc-parallax-o-fade="on"
     data-vc-parallax-image="http://{{ request.get_host }}/static/wp-content/uploads/2017/11/200.jpg"
     class="vc_row wpb_row vc_row-fluid vc_row-has-fill vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <h2 style="text-align: left;"><strong><span
                                style="color: #ffffff;">Modern Design Villa</span></strong><br/>
                            <strong><span style="color: #ffffff;">With Pool and Guest House</span></strong></h2>

                        <p><span style="color: #ffffff;"><strong>$2,560.00/mo</strong></span></p>

                        <p style="text-align: left;"><span style="color: #ffffff;">Lorem ipsum dolor sit amet, cotetur adipiscing elit nam</span><br/>
                            <span style="color: #ffffff;">sollicitudin in nulla vitae suscipit aenean</span></p>

                        <p><span style="color: #ffffff;"><strong>2 Beds &#8211; 2 Baths &#8211; 1354
                            Sqft</strong></span></p>

                    </div>
                </div>
                <div class="vc_btn3-container vc_btn3-inline vc_custom_1512587183226">
                    <a class="vc_general vc_btn3 vc_btn3-size-sm vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-white"
                       href="property/comfortable-apartment-bay-view/index.html" title="">VIEW PROPERTY</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper"></div>
        </div>
    </div>
</div>