<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 55px"><span class="vc_empty_space_inner"></span>
                </div>
                <div
                        class="houzez-module module-title section-title-module text-left ">
                    <h2>О Пхукете</h2>

                    {#                    <h3 class="sub-heading">Keep always update on latest topics</h3>#}
                </div>

                <div id="post-card-grid-module" class="houzez-module post-card-module">
                    <div class="row grid-row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item-wrap">
                                <div id="post-637"
                                     class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                    <div class="figure-block">
                                        <figure class="item-thumb">
                                            <a href="skills-that-you-can-learn-in-the-real-estate-market/index.html"
                                               class="hover-effect">
                                                <img width="385" height="258"
                                                     src="static/wp-content/uploads/2017/11/04-1-385x258.jpg"
                                                     class="attachment-houzez-property-thumb-image size-houzez-property-thumb-image wp-post-image"
                                                     alt=""
                                                     srcset="http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-385x258.jpg 385w, http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-300x200.jpg 300w, http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-768x512.jpg 768w, http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-1024x683.jpg 1024w, http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-150x100.jpg 150w, http://houzez12.favethemes.com/static/wp-content/uploads/2017/11/04-1-720x480.jpg 720w"
                                                     sizes="(max-width: 385px) 100vw, 385px"/> </a>
                                            <figcaption class="thumb-caption clearfix">
                                                <div class="file-type pull-left"><i class="fa fa-file"></i>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>

                                    <div class="post-card-body">

                                        <div class="post-card-description">
                                            <ul class="list-inline">
                                                <li>
                                                    <time datetime="March 9, 2016"><i
                                                            class="fa fa-calendar"></i> March 9, 2016
                                                    </time>
                                                </li>
                                                <li><i class="fa fa-bookmark-o"></i> <a
                                                        href="#"
                                                        rel="category tag">О пхукете</a>
                                                </li>
                                            </ul>
                                            <h3 class="post-card-title">Отдыхайте с Indreams Phuket</h3>

                                            <p>Только в этом году более 5 000 россиян купили или арендовали недвижимость
                                                на Пхукете. И это неудивительно...</p>
                                            <a href="#"
                                               class="read">Подробнее<i
                                                    class="fa fa-caret-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>