<div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="houzez-module module-title section-title-module text-left houzez-section-title-dark">
                    <h2>Наши агенты</h2>
                </div>
                <!--start agents module-->
                <div id="agents-module" class="houzez-module agents-module">
                    <div class="agents-blocks-main">
                        <div class="row no-margin">
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">

                                    <figure class="auther-thumb">
                                        <a href="#"
                                           class="view">
                                            <img src="http://www.indreamsphuket.ru/assets/94f0f4f0/images/agent_img2_128x128.jpg"
                                                 class="img-circle" width="150"
                                                 height="150" alt="Анна Баранова">
                                        </a>
                                    </figure>


                                    <div class="web-logo text-center">
                                    </div>

                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Анна Баранова</span>
                                            <span style="height: 36px;">Основатель и управляющий директор</span>
                                            <span> <a href="tel:+66846299335">+66-846-299335</a></span>
                                            <span> <a
                                                    href="mailto:info@indreamsphuket.ru">info@indreamsphuket.ru</a></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">

                                    <figure class="auther-thumb">
                                        <a href="#"
                                           class="view">
                                            <img src="http://www.indreamsphuket.ru/assets/94f0f4f0/images/agent_img5_128x128.jpg"
                                                 class="img-circle" width="150"
                                                 height="150" alt="Юлия Грачева">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Юлия Грачева</span>
                                            <span style="height: 36px;">Агент по продаже и аренде недвижимости</span>
                                            <span> <a href="tel:+66954293403">+66 95 429 3403</a></span>
                                            <span> <a
                                                    href="mailto:rental@indreamsphuket.ru">rental@indreamsphuket.ru</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">

                                    <figure class="auther-thumb">
                                        <a href="#"
                                           class="view">
                                            <img src="http://www.indreamsphuket.ru/assets/94f0f4f0/images/agent_55_128x128.jpg"
                                                 class="img-circle" width="150"
                                                 height="150" alt="Ксения Иголкина">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Ксения Иголкина</span>
                                            <span style="height: 36px;">Агент по продаже и аренде недвижимости</span>
                                            <span>
                                                <a href="tel:+66952580305">+66-952-58-03-05</a>
                                            </span>
                                            <span>
                                                <a href="mailto:manager@indreamsphuket.ru">manager@indreamsphuket.ru</a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">

                                    <figure class="auther-thumb">
                                        <a href="#"
                                           class="view">
                                            <img src="http://www.indreamsphuket.ru/assets/94f0f4f0/images/agent_6_218x218.jpg"
                                                 class="img-circle" width="150"
                                                 height="150" alt="Юлия Грачева">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Юлия Лозовицкая</span>
                                            <span style="height: 36px;">Агент по продаже и аренде недвижимости</span>
                                            <span>
                                                <a href="tel:+79832834210">+7 (983) 283-42-10</a>
                                            </span>
                                            <span>
                                                <a href="mailto:katerina@indreamsphuket.ru">katerina@indreamsphuket.ru</a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end post agents module-->
            </div>
        </div>
    </div>