{% load multiply %}
{% for l in featured_listings_rent %}
    <div id="{{ l.Id }}" class="item-wrap infobox_trigger featured_prop">
        <div class="property-item-v2">
            <div class="figure-block">
                <figure class="item-thumb">

                    <div class="label-wrap label-right">
                    </div>
                    <a href="property/{{ l.slug }}">
                        <img width="380" height="280"
                             src="{{ l.main_photo }}"
                             class="attachment-houzez-property-thumb-image-v2 size-houzez-property-thumb-image-v2 wp-post-image"
                             alt=""
                             srcset="{{ l.main_photo }} 380w"
                             sizes="(max-width: 380px) 100vw, 380px"/> </a>

                    <div class="item-price-block hide-on-list">
                        <span class="item-price">{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}/месяц</span>
                    </div>
                    <ul class="actions">
                    </ul>
                </figure>
            </div>
            <div class="item-body">
                <div class="item-body-top">
                    <div class="item-title">
                        <h2 class="property-title"><a
                                href="property/{{ l.slug }}">{{ l.Name }}</a>
                        </h2>
                        <address class="property-address">{{ l.Address }}
                        </address>
                    </div>
                    <div class="item-price-block hide-on-grid">
                        <span class="item-price">{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}/месяц</span>
                    </div>
                </div>
                <div class="item-body-bottom">
                    <ul class="item-amenities">
                        <li class="h-beds"><span>{{ l.BCSTRINGBedroom }}</span>Спален</li>
                        <li class="h-baths"><span>{{ l.BCINTEGERBathroom }}</span>Ванных
                        </li>
                        <li class="h-area"><span>{{ l.BCFLOATBuiltUpArea|add:"0" }}</span>Кв. м.</li>
                        <li class="h-area"><span>{{ l.District.displayValue }}</span>Район</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}