{% load multiply %}
<div class="property-similer" style="margin-bottom:40px; ">
    <div class="detail-contact-inner" style="max-width: 1000px">
        <div class="detail-title">
            <h2 class="title-left">Другие предложения {{ object_group }}</h2>
        </div>

        <div class="property-listing list-view">
            <div class="row">
                {% for l in object_group_list %}
                    <div id="{{ l.Id }}"
                         class="item-wrap infobox_trigger  item-luxury-apartment-ocean-view">
                        <div class="property-item table-list">
                            <div class="table-cell">
                                <div class="figure-block">
                                    <figure class="item-thumb">


                                        <div class="label-wrap label-right hide-on-list">
                                        </div>

                                        <div class="price hide-on-list">
                                            <span class="item-price">
                                            {% if  l.BCDiscountedPrice > 0 %}
                                                {{ view.currency }}
                                                {{ l.BCDiscountedPrice|multiply:view.rates|add:"0" }}
                                                {% if l.LeadType.displayValue != 'Продажа' %}
                                                    / месяц
                                                {% endif %}
                                                <s>{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}
                                                    {% if l.LeadType.displayValue != 'Продажа' %}
                                                        / месяц
                                                    {% endif %}</s>
                                            {% else %}
                                                {{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}
                                                {% if l.LeadType.displayValue != 'Продажа' %}
                                                    / месяц
                                                {% endif %}
                                            {% endif %}
                                            </span>
                                        </div>

                                        <a class="hover-effect"
                                           href="/property/{{ l.slug }}/">
                                            <img width="385" height="258"
                                                 src="{{ l.main_photo }}"
                                                 class="attachment-houzez-property-thumb-image size-houzez-property-thumb-image wp-post-image"
                                                 alt=""> </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="item-body table-cell">

                                <div class="body-left table-cell">
                                    <div class="info-row">
                                        <div class="label-wrap hide-on-grid">
                                        </div>
                                        <h2 class="property-title"><a
                                                href="/property/{{ l.slug }}/">{{ l.Name }}</a></h2>
                                        <address class="property-address">{{ l.Address }}
                                        </address>
                                    </div>
                                    <div class="info-row amenities hide-on-grid">
                                        <p>
                                            <span class="h-beds">Спален: {{ l.BCSTRINGBedroom }}</span>
                                            <span class="h-baths">Ванных: {{ l.BCINTEGERBathroom }}</span>
                                            <span class="h-area">Площадь: {{ l.BCFLOATBuiltUpArea }}</span>
                                        </p>

                                        <p>{{ l.PropertyType.displayValue }}</p>
                                    </div>

                                    <div class="info-row date hide-on-grid">
                                    </div>

                                </div>
                                <div class="body-right table-cell hidden-gird-cell">

                                    <div class="info-row price"><span class="item-price">
                                        {% if  l.BCDiscountedPrice > 0 %}
                                            {{ view.currency }}
                                            {{ l.BCDiscountedPrice|multiply:view.rates|add:"0" }}
                                            {% if l.LeadType.displayValue != 'Продажа' %}
                                                / месяц
                                            {% endif %}
                                            <s>{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}
                                                {% if l.LeadType.displayValue != 'Продажа' %}
                                                    / месяц
                                                {% endif %}</s>
                                        {% else %}
                                            {{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}
                                            {% if l.LeadType.displayValue != 'Продажа' %}
                                                / месяц
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    </div>

                                    <div class="info-row phone text-right">
                                        <a href="/property/{{ l.slug }}/"
                                           class="btn btn-primary">Подробнее <i
                                                class="fa fa-angle-right fa-right"></i></a>
                                    </div>
                                </div>

                                <div class="table-list full-width hide-on-list">
                                    <div class="cell">
                                        <div class="info-row amenities">
                                            <p>
                                                <span class="h-beds">Спален: {{ l.BCSTRINGBedroom }}</span>
                                                <span class="h-baths">Ванных: {{ l.BCINTEGERBathroom }}</span>
                                                <span class="h-area">Площадь: {{ l.BCFLOATBuiltUpArea }}</span>
                                            </p>

                                            <p>{{ l.PropertyType.displayValue }}</p>

                                        </div>
                                    </div>
                                    <div class="cell">
                                        <div class="phone">
                                            <a href="/property/{{ l.slug }}/"
                                               class="btn btn-primary"> Подробнее <i
                                                    class="fa fa-angle-right fa-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item-foot date hide-on-list">
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>