<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div>
            <div class="houzez-module module-title section-title-module text-left">
                <h2>Недвижимость в районах острова Пхукет</h2>
            </div>
            <div class="vc_column-inner" style="padding-top: 20px;">
                {% for d in districts %}
                <a id="rent-toogle" style="margin-top: 10px;"
                   class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-black"
                   href="/advanced-search?location={{ d.Id }}"
                   title="">{{d.Name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
