<div class="">
    <div class="">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="search-inner-wrap" style="padding-top: 40px;">
                    <h2 id="search_header" style="text-transform: none">Поиск объектов</h2>

                    <div class="advanced-search advanced-search-openclose  houzez-adv-price-range"
                         style="display: block;box-shadow: none">
                        <form method="get" action="{{ request.base_url }}/advanced-search/">
                            <div class="row">
                                <div class="col-sm-9 col-xs-12 search-expandable-left">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="btn-group bootstrap-select show-tick">
                                                    <button type="button" class="btn dropdown-toggle btn-default"
                                                            data-toggle="dropdown" title="Все районы"
                                                            aria-expanded="false"><span class="filter-option pull-left">Все районы</span>&nbsp;<span
                                                            class="fa fa-sort"></span></button>
                                                    <div class="dropdown-menu">
                                                        {% include 'includes/district_map.html' %}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {#                                        <div class="col-sm-3 col-xs-6">#}
                                        {#                                            <div class="form-group">#}
                                        {#                                                <select name="location" title="Все районы" multiple#}
                                        {#                                                        class="selectpicker bs-select-hidden"#}
                                        {#                                                        data-live-search="false" data-live-search-style="begins">#}
                                        {#                                                    {% for d in districts %}#}
                                        {#                                                        <option data-parentstate=""#}
                                        {#                                                                value="{{ d.Id }}"#}
                                        {#                                                                {% if d.Id in location %}#}
                                        {#                                                                selected{% endif %}>{{ d.Name }}</option>#}
                                        {#                                                    {% endfor %}#}
                                        {##}
                                        {#                                                    </option>#}
                                        {#                                                </select>#}
                                        {##}
                                        {#                                            </div>#}
                                        {#                                        </div>#}

                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group" id="selected_status">
                                                <select class="selectpicker bs-select-hidden"
                                                        name="status" data-live-search="false"
                                                        data-live-search-style="begins">
                                                    <option value="for-sale"
                                                            {% if status == 'for-sale' %}selected{% endif %}>Продажа
                                                    </option>
                                                    <option value="for-rent"
                                                            {% if status == 'for-rent' %}selected{% endif %}>Аренда
                                                    </option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group">
                                                <select class="selectpicker bs-select-hidden" title="Категория" multiple
                                                        name="type"
                                                        data-live-search="false" data-live-search-style="begins">
                                                    {% for p in property_types %}
                                                        <option value="{{ p.Id }}"
                                                                {% if p.Id in type %}
                                                                selected
                                                                {% endif %}
                                                        >{{ p.Name }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="form-group">
                                                <select name="bedrooms" title="Спален" multiple
                                                        class="selectpicker bs-select-hidden"
                                                        data-live-search="false" data-live-search-style="begins">
                                                    {% for i in "xxxxxxxxxxxx" %}
                                                        <option value="{{ forloop.counter }}"
                                                                {% if forloop.counter in bedrooms %}selected{% endif %}>{{ forloop.counter }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div id="date_start_outer" class="col-xs-6">
                                            <div class="btn-group bootstrap-select show-tick">
                                                <div class="btn dropdown-toggle btn-default"
                                                     data-toggle="dropdown" title="Все районы" aria-expanded="false">
                                                    <input autocomplete="off" id="date_start" name="date_start"
                                                           placeholder="Даты пребывания"
                                                           data-multiple-dates-separator=" - "
                                                           class="filter-option pull-left" style="border:none"
                                                           value="{{ date_start }}"></div>
                                            </div>
                                        </div>
                                    <div id="" class="col-xs-3">
                                            <div class="btn-group show-tick">
                                                <div class="btn dropdown-toggle">
                                                    <input autocomplete="off" name="id"
                                                           placeholder="ID объекта: "
                                                           class="filter-option pull-left" style="border:none"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" style="padding-top: 10px;">
                                            <div class="range-advanced-main">
                                                <div class="range-text">
                                                    <input type="hidden" name="min-price"
                                                           class="min-price-range-hidden range-input"
                                                           value="{{ view.currency }} 500">
                                                    <input type="hidden" name="max-price"
                                                           class="max-price-range-hidden range-input"
                                                           value="{{ view.currency }} 3,500,000">

                                                    <p><span class="range-title">Стоимость:</span> от <span
                                                            class="min-price-range">{{ view.currency }} 500</span>
                                                        до <span
                                                                class="max-price-range">{{ view.currency }} 3,500,000</span>
                                                    </p>
                                                </div>
                                                <div class="range-wrap">
                                                    <div class="price-range-advanced ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                        <div class="ui-slider-range ui-widget-header ui-corner-all"
                                                             style="width: 100%; left: 0%;"></div>
                                                        <span class="ui-slider-handle ui-state-default ui-corner-all"
                                                              tabindex="0" style="left: 0%;"></span><span
                                                            class="ui-slider-handle ui-state-default ui-corner-all"
                                                            tabindex="0" style="left: 100%;"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12 search-expandable-right">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary btn-block">Поиск
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button class="advance-btn btn" type="button"><i class="fa fa-gear"></i>
                                                    Дополнительно
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="advance-fields" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 features-list">

                                        <label class="text-uppercase title">Дополнительно</label>

                                        <div class="clearfix"></div>

                                        <div class="">
                                            <label class="checkbox-inline"><input name="feature[]" type="checkbox"
                                                                                  value="lux">люкс</label>
                                            <label class="checkbox-inline"><input name="feature[]" type="checkbox"
                                                                                  value="sea_view">вид на море</label>
                                            <label class="checkbox-inline"><input name="feature[]" type="checkbox"
                                                                                  value="near_beach">рядом с
                                                пляжем</label>
                                            <label class="checkbox-inline"><input name="feature[]" type="checkbox"
                                                                                  value="special_offer">специальное
                                                предложение</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        $('#date_start').datepicker({
            minDate: new Date(),
            range: true
        });
        {#        $('#date_finish').datepicker({#}
        {#            minDate: new Date(new Date().getTime() + 86400000)#}
        {#        });#}
        var is_calendar_available = function () {
            var status = $('#selected_status').find('select').val();
            if (status == 'for-rent') {
                $("#date_start_outer").show();
                {#                $("#date_finish_outer").show();#}

            }
            else {
                $("#date_start_outer").hide();
                {#                $("#date_finish_outer").hide();#}
            }
        };
        is_calendar_available();
        $('#selected_status').on('change', function () {
            is_calendar_available();
        });
        $('#houzez_sort_half_map').on('change', function () {
            var sort = $('#houzez_sort_half_map').val();
            $.post(
                    "/ajax/",
                    {
                        action: "change_sort",
                        order_by: sort
                    },
                    function () {
                        location.reload();
                    }
            );
        });
    });

</script>