<div data-vc-full-width="true" data-vc-full-width-init="false"
     class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="houzez-module module-title section-title-module text-left">
                    <h2>Meet Our Real Estate Agents</h2>

                    <h3 class="sub-heading">Provide your sales agents with attractive profile pages where they can
                        display their contact info and listings</h3>
                </div>
                <!--start agents module-->
                <div id="agents-module" class="houzez-module agents-module">
                    <div class="agents-blocks-main">
                        <div class="row no-margin">
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">
                                    <figure class="auther-thumb">
                                        <a href="agent/samuel-palmer/index.html"
                                           class="view">
                                            <img src="wp-content/uploads/2016/02/4team-350x350.jpg" class="img-circle"
                                                 width="150"
                                                 height="150" alt="Samuel Palmer">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Samuel Palmer</span>
                                             <span>
                                             Founder &amp; CEO                                                                                        , Modern House Real Estate
                                             </span>
                                        </p>

                                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            luctus ligula ac faucibus faucibus. Cras in nisi in turpis eleifend vehicula
                                            at at massa. Vivamus aliquet porttitor odio.</p>
                                        <a href="agent/samuel-palmer/index.html"
                                           class="view">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">
                                    <figure class="auther-thumb">
                                        <a href="agent/vincent-fuller/index.html"
                                           class="view">
                                            <img src="wp-content/uploads/2016/02/3team-350x350.jpg" class="img-circle"
                                                 width="150"
                                                 height="150" alt="Vincent Fuller">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Vincent Fuller</span>
                                             <span>
                                             Company Agent                                                                                        , Country House Real Estate
                                             </span>
                                        </p>

                                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            luctus ligula ac faucibus faucibus. Cras in nisi in turpis eleifend vehicula
                                            at at massa. Vivamus aliquet porttitor odio.</p>
                                        <a href="agent/vincent-fuller/index.html"
                                           class="view">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">
                                    <figure class="auther-thumb">
                                        <a href="agent/brittany-watkins/index.html"
                                           class="view">
                                            <img src="wp-content/uploads/2016/02/1team-350x350.jpg" class="img-circle"
                                                 width="150"
                                                 height="150" alt="Brittany Watkins">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Brittany Watkins</span>
                                             <span>
                                             Senior Company Agent                                                                                        , All American Real Estate
                                             </span>
                                        </p>

                                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            luctus ligula ac faucibus faucibus. Cras in nisi in turpis eleifend vehicula
                                            at at massa. Vivamus aliquet porttitor odio.</p>
                                        <a href="agent/brittany-watkins/index.html"
                                           class="view">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="agents-block">
                                    <figure class="auther-thumb">
                                        <a href="agent/michelle-ramirez/index.html"
                                           class="view">
                                            <img src="wp-content/uploads/2016/02/2team-350x350.jpg" class="img-circle"
                                                 width="150"
                                                 height="150" alt="Michelle Ramirez">
                                        </a>
                                    </figure>
                                    <div class="web-logo text-center">
                                    </div>
                                    <div class="block-body">
                                        <p class="auther-info">
                                            <span class="blue">Michelle Ramirez</span>
                                             <span>
                                             Company Agent                                                                                        , Modern House Real Estate
                                             </span>
                                        </p>

                                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            luctus ligula ac faucibus faucibus. Cras in nisi in turpis eleifend vehicula
                                            at at massa. Vivamus aliquet porttito.</p>
                                        <a href="agent/michelle-ramirez/index.html"
                                           class="view">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end post agents module-->
            </div>
        </div>
    </div>
</div>