{% load static %}
<section>
    <div class="container">
        <header class="section__title">
            <h2>КОМАНДА TEST:</h2>
            <small>Мы любим Таиланд и ждем встречи с Вами здесь</small>
        </header>

        <div class="row team" style="margin-top:initial">
            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/1.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Вадим</h4>
                        <small>Основатель компании</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                        <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                        <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/2.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Екатерина</h4>
                        <small>Должность 2</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>

                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                        <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/3.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Екатерина</h4>
                        <small>Должность 2</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                        <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/4.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Екатерина</h4>
                        <small>Должность 2</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                        <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                        <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/5.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Вадим</h4>
                        <small>Основатель компании</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>

                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                        <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="team__item">
                    <img src="{% static 'img/people/6.jpg' %}" class="team__img" alt="">

                    <div class="team__info">
                        <h4>Екатерина</h4>
                        <small>Должность 2</small>

                        <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                    </div>

                    <div class="team__social">
                        <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                        <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                        <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="team-slider">
    <div class="my-location">
        <div class="my-location__title" style="color:#676767;">КОМАНДА TEST (вариант со слайдером)</div>
    </div>

    <div class="team-grid">
        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/1.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Вадим</h4>
                    <small>Основатель компании</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                    <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                    <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/2.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Екатерина</h4>
                    <small>Должность 2</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>

                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                    <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/3.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Екатерина</h4>
                    <small>Должность 2</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                    <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/4.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Екатерина</h4>
                    <small>Должность 2</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                    <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                    <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/5.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Вадим</h4>
                    <small>Основатель компании</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>

                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                    <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="team__item">
                <img src="{% static 'img/people/6.jpg' %}" class="team__img" alt="">

                <div class="team__info">
                    <h4>Екатерина</h4>
                    <small>Должность 2</small>

                    <p>Каждый день мы задаем вопрос: “Как мы можем сделать наших любимых клиентов счастливыми?”</p>
                </div>

                <div class="team__social">
                    <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                    <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                    <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-slider">
    <div class="my-location">
        <div class="my-location__title" style="color:#676767;">Отзывы наших клиентов</div>
    </div>

    <div class="testimonials-grid">
        <div class="col-md-4 col-sm-6">
            <div class="team__item demo-people">
                <div class="demo-photo"><img src="{% static 'img/people/2.jpg' %}"></div>
                <div class="demo-review">
                    <div class="h3">Cемья Иващенко, Москва</div>
                    <p>Отдых, организованный вами, нам очень понравился! Условия проживания отличные, обслуживание
                        на высоком
                        уровне. Сотрудники хорошие и вежливые. В следующем году обязательно приедем!</p>
                    <p><span class="date">07/05/2014</span></p>
                </div>


            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="team__item demo-people">
                <div class="demo-photo"><img src="{% static 'img/people/5.jpg' %}"></div>
                <div class="demo-review">
                    <div class="h3">Семьи Винтовы и Тарасюк, Херсон</div>
                    <p>Вилла замечательная! Консьерж-менеджер хорошо и добросовестно отнесся к нашим требованиям и
                        желаниям.
                        Спасибо ему! Отдых прошел на все 100%! Надеюсь в скором времени мы еще вернемся!</p>

                    <p>
                        <span class="date">04/04/2016</span>
                    </p>
                </div>


            </div>
        </div>
    </div>
</div>