{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">


        <div class="container">


            <!--start compare panel-->
            <div id="compare-controller" class="compare-panel">
                <div class="compare-panel-header">
                    <h4 class="title"> Compare Listings <span class="panel-btn-close pull-right"><i
                            class="fa fa-times"></i></span></h4>
                </div>

                <div id="compare-properties-basket">
                </div>
            </div>
            <!--end compare panel-->
            <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
                 data-vc-parallax="1.5" data-vc-parallax-o-fade="on"
                 data-vc-parallax-image="/static/wp-content/uploads/2017/11/24.jpg"
                 class="vc_row wpb_row vc_row-fluid vc_custom_1512589200978 vc_row-has-fill vc_row-no-padding vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_general vc_parallax vc_parallax-content-moving-fade js-vc_parallax-o-fade"
                 style="position: relative; left: -119.5px; box-sizing: border-box; width: 1439px;">
                <div class="wpb_column vc_column_container vc_col-sm-12 skrollable skrollable-before"
                     data-5p-top-bottom="opacity:0;" data-30p-top-bottom="opacity:1;" style="opacity: 1;">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="houzez-module module-title section-title-module text-center houzez-section-title-dark">
                                <h2>{{ action }} вилл и таунхаусов </h2>

                            </div>
                            <div class="vc_btn3-container vc_btn3-center">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-white"
                                   href="{% url 'advanced_search' %}?status={{ status }}&type=1cb985bb-4eaf-429b-8cd3-3d36e26df32c&type=2a0c0600-131c-4433-8bc6-c03c97c1c34e" title="">Посмотреть предложения</a></div>
                        </div>
                    </div>
                </div>
                <div class="vc_parallax-inner skrollable skrollable-between"
                     style="height: 150%; background-image: url(&quot;http://houzez12.favethemes.com/wp-content/uploads/2017/11/24.jpg&quot;); top: -50%;"
                     data-bottom-top="top: -50%;" data-top-bottom="top: 0%;"></div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
                 data-vc-parallax="1.5"
                 data-vc-parallax-image="/static/wp-content/uploads/2017/11/61.jpg"
                 class="vc_row wpb_row vc_row-fluid vc_custom_1512589661672 vc_row-has-fill vc_row-no-padding vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-o-content-middle vc_row-flex vc_general vc_parallax vc_parallax-content-moving"
                 style="position: relative; left: -119.5px; box-sizing: border-box; width: 1439px;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="houzez-module module-title section-title-module text-center houzez-section-title-dark">
                                <h2>{{ action }} апартаментов и пентхаусов</h2>

                            </div>
                            <div class="vc_btn3-container vc_btn3-center">
                                <a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round vc_btn3-style-outline vc_btn3-color-white"
                                   href="{% url 'advanced_search' %}?status={{ status }}&type=28b51a85-033a-41da-945b-2a16ac2f79c6" title="">Посмотреть предложения</a></div>
                        </div>
                    </div>
                </div>
                <div class="vc_parallax-inner skrollable skrollable-before"
                     style="height: 150%; background-image: url(&quot;http://houzez12.favethemes.com/wp-content/uploads/2017/11/61.jpg&quot;); top: -50%;"
                     data-bottom-top="top: -50%;" data-top-bottom="top: 0%;"></div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </div> <!--.container Start in header-->
    </div>
    <button class="scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
{% endblock %}
