{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <section id="main" class="four-zero">
            <div class="four-zero__content">
                <h1>404</h1>
                <p>Запрашиваемая страница не найдена</p>

                <div class="four-zero__links">
                    <a href="{% url 'index' %}">На главную</a>
                </div>
            </div>
        </section>
{% endblock %}