{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="landing-page">
        <div class="user-dashboard-right houzez-m-step-form ">
            <div class="dashboard-content-area dashboard-fix">
                <div class="container">
                    <div class="row dashboard-inner-main">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <form autocomplete="off" id="submit_property_form" name="new_post" method="post" action="#"
                                  enctype="multipart/form-data" class="add-frontend-property">

                                <div class="validate-errors alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-hide="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <strong>Error!</strong> Please fill out the following required fields.
                                </div>
                                <div class="validate-errors-gal alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-hide="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <strong>Error!</strong> Upload at least one image.
                                </div>

                                <div class="submit-form-wrap">

                                    <div class="account-block form-step">
                                        <div class="add-title-tab">
                                            <h3>Общее</h3>

                                            <div class="add-expand"></div>
                                        </div>
                                        <div class="add-tab-content">
                                            <div class="add-tab-row push-padding-bottom">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label for="prop_title">Название объекта</label>
                                                            <input type="text" id="prop_title" class="form-control"
                                                                   name="prop_title"
                                                                   placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Описание объекта</label>

                                                            <div id="wp-prop_des-wrap"
                                                                 class="wp-core-ui wp-editor-wrap tmce-active">
                                                                <link rel="stylesheet" id="dashicons-css"
                                                                      href="//29135-100703-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/css/dashicons.min.css"
                                                                      type="text/css" media="all">
                                                                <link rel="stylesheet" id="editor-buttons-css"
                                                                      href="//29135-100703-raikfcquaxqncofqfm.stackpathdns.com/wp-includes/css/editor.min.css"
                                                                      type="text/css" media="all">
                                                                <div id="wp-prop_des-editor-tools"
                                                                     class="wp-editor-tools hide-if-no-js">

                                                                </div>
                                                                <div id="wp-prop_des-editor-container"
                                                                     class="wp-editor-container">
                                                                    <div id="qt_prop_des_toolbar"
                                                                         class="quicktags-toolbar"></div>
                                                                    <textarea class="wp-editor-area" rows="18"
                                                                              autocomplete="off" cols="40"
                                                                              name="prop_des" id="prop_des"></textarea>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add-tab-row push-padding-bottom">
                                                <div class="row">


                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="prop_price"> Цена </label>
                                                            <input type="text" id="prop_price" class="form-control"
                                                                   name="prop_price" value=""
                                                                   placeholder="">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="prop_sec_price">Цена за день (опционально)</label>
                                                            <input type="text" id="prop_sec_price" class="form-control"
                                                                   name="prop_sec_price"
                                                                   placeholder="">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <label for="prop_label">Период (только для аренды)</label>
                                                            <input type="text" id="prop_label" class="form-control"
                                                                   name="prop_label"
                                                                   placeholder="">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
{#                                    <div class="account-block form-step">#}
{##}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Property location</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row  push-padding-bottom">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="geocomplete">Address*</label>#}
{#                                                            <input class="form-control" name="property_map_address"#}
{#                                                                   id="geocomplete"#}
{#                                                                   placeholder="Enter your property address">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="zip">Postal Code / Zip</label>#}
{#                                                            <input class="form-control" name="postal_code" id="zip"#}
{#                                                                   placeholder="Enter your property zip code">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6 submit_country_field">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="country">Country</label>#}
{#                                                            <input class="form-control" name="country" id="country"#}
{#                                                                   placeholder="Enter your property country">#}
{#                                                            <input name="country_short" type="hidden" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="countyState">County / State</label>#}
{#                                                            <input class="form-control"#}
{#                                                                   name="administrative_area_level_1" id="countyState"#}
{#                                                                   placeholder="Enter your property county/state">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="city">City</label>#}
{#                                                            <input class="form-control" name="locality" id="city"#}
{#                                                                   placeholder="Enter your property city">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="neighborhood">Neighborhood</label>#}
{#                                                            <input class="form-control" name="neighborhood"#}
{#                                                                   id="neighborhood"#}
{#                                                                   placeholder="Enter your property neighborhood">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="add-tab-row">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="map_canvas" id="map">#}
{#                                                        </div>#}
{#                                                        <button id="find" class="btn btn-primary btn-block">Place the#}
{#                                                            pin the address above#}
{#                                                        </button>#}
{#                                                        <a id="reset" href="#" style="display:none;">Reset Marker</a>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="latitude">Google Maps latitude</label>#}
{#                                                            <input class="form-control" name="lat" id="latitude"#}
{#                                                                   placeholder="Enter google maps latitude">#}
{#                                                        </div>#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="longitude">Google Maps longitude</label>#}
{#                                                            <input class="form-control" name="lng" id="longitude"#}
{#                                                                   placeholder="Enter google maps longitude">#}
{#                                                        </div>#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_google_street_view">Google Map Street#}
{#                                                                View</label>#}
{#                                                            <select name="prop_google_street_view"#}
{#                                                                    id="prop_google_street_view" class="selectpicker"#}
{#                                                                    data-live-search="false">#}
{#                                                                <option value="hide">Hide</option>#}
{#                                                                <option selected="" value="show">Show</option>#}
{#                                                            </select>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Property Details</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="row">#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="property_id">Property ID</label>#}
{#                                                            <input type="text" id="property_id" class="form-control"#}
{#                                                                   name="property_id" placeholder="Enter property ID">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_size">Area Size ( Only digits )*</label>#}
{#                                                            <input type="text" id="prop_size" class="form-control"#}
{#                                                                   name="prop_size"#}
{#                                                                   placeholder="Enter property area size" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_size_prefix">Size Prefix</label>#}
{#                                                            <input type="text" id="prop_size_prefix"#}
{#                                                                   class="form-control" name="prop_size_prefix"#}
{#                                                                   value="sqft">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_land_area">Land Area ( Only digits#}
{#                                                                )</label>#}
{#                                                            <input type="text" id="prop_land_area" class="form-control"#}
{#                                                                   name="prop_land_area"#}
{#                                                                   placeholder="Enter property land area size" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_land_area_prefix">Land Area Size#}
{#                                                                Postfix</label>#}
{#                                                            <input type="text" id="prop_land_area_prefix"#}
{#                                                                   class="form-control" name="prop_land_area_prefix"#}
{#                                                                   value="sqft">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_beds">Bedrooms</label>#}
{#                                                            <input type="text" id="prop_beds" class="form-control"#}
{#                                                                   name="prop_beds"#}
{#                                                                   placeholder="Enter number of bedrooms" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_baths">Bathrooms</label>#}
{#                                                            <input type="text" id="prop_baths" class="form-control"#}
{#                                                                   name="prop_baths"#}
{#                                                                   placeholder="Enter number of bathrooms" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_garage">Garages</label>#}
{#                                                            <input type="text" id="prop_garage" class="form-control"#}
{#                                                                   name="prop_garage"#}
{#                                                                   placeholder="Enter number of garages" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_garage_size">Garages Size</label>#}
{#                                                            <input type="text" id="prop_garage_size"#}
{#                                                                   class="form-control" name="prop_garage_size"#}
{#                                                                   placeholder="Enter garage size" value="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_year_built">Year Built</label>#}
{##}
{#                                                            <div class="input-group">#}
{#                                                                <div class="input-group-addon"><i#}
{#                                                                        class="fa fa-calendar"></i></div>#}
{#                                                                <input type="text" id="prop_year_built"#}
{#                                                                       class="input_date form-control"#}
{#                                                                       name="prop_year_built"#}
{#                                                                       placeholder="Enter year built" value="">#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-4">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="prop_video_url">Video URL</label>#}
{#                                                            <input class="form-control" name="prop_video_url"#}
{#                                                                   id="prop_video_url"#}
{#                                                                   placeholder="YouTube, Vimeo, SWF File and MOV File are supported">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{##}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                            <div class="add-tab-row">#}
{#                                                <h4>Additional Features</h4>#}
{#                                                <table class="additional-block">#}
{#                                                    <thead>#}
{#                                                    <tr>#}
{#                                                        <td></td>#}
{#                                                        <td><label>Title</label></td>#}
{#                                                        <td><label>Value</label></td>#}
{#                                                        <td></td>#}
{#                                                    </tr>#}
{#                                                    </thead>#}
{#                                                    <tbody id="houzez_additional_details_main">#}
{#                                                    <tr>#}
{#                                                        <td class="action-field">#}
{#                                                            <span class="sort-additional-row"><i#}
{#                                                                    class="fa fa-navicon"></i></span>#}
{#                                                        </td>#}
{#                                                        <td class="field-title">#}
{#                                                            <input class="form-control" type="text"#}
{#                                                                   name="additional_features[0][fave_additional_feature_title]"#}
{#                                                                   id="fave_additional_feature_title_0"#}
{#                                                                   placeholder="Eg: Equipment" value="">#}
{#                                                        </td>#}
{#                                                        <td>#}
{#                                                            <input class="form-control" type="text"#}
{#                                                                   name="additional_features[0][fave_additional_feature_value]"#}
{#                                                                   id="fave_additional_feature_value_0"#}
{#                                                                   placeholder="Grill - Gas" value="">#}
{#                                                        </td>#}
{#                                                        <td class="action-field">#}
{#                                                            <span data-remove="0" class="remove-additional-row"><i#}
{#                                                                    class="fa fa-remove"></i></span>#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                    </tbody>#}
{#                                                    <tfoot>#}
{#                                                    <tr>#}
{#                                                        <td></td>#}
{#                                                        <td>#}
{#                                                            <button data-increment="0" class="add-additional-row"><i#}
{#                                                                    class="fa fa-plus"></i> Add New#}
{#                                                            </button>#}
{#                                                        </td>#}
{#                                                        <td></td>#}
{#                                                    </tr>#}
{#                                                    </tfoot>#}
{#                                                </table>#}
{##}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step-gal form-step">#}
                                        <div class="add-title-tab">
                                            <h3>Изображения</h3>

                                            <div class="add-expand"></div>
                                        </div>
                                        <div class="add-tab-content">
                                            <div class="add-tab-row">
                                                <div class="property-media">
                                                    <div class="media-gallery">
                                                        <div class="row">
                                                            <div id="houzez_property_gallery_container">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="houzez_gallery_dragDrop" class="media-drag-drop">
                                                        <span class="icon-cloud-upload text-primary"><i
                                                                class="fa fa-cloud-upload"></i></span>
                                                        <h4 class="drag-title"></h4>
                                                        <a id="select_gallery_images" href="javascript:;"
                                                           class="btn btn-primary">Выбрать фотографии</a>
                                                    </div>
                                                    <div id="plupload-container"></div>
                                                    <div id="houzez_errors"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Property Features</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-1" value="21">Air#}
{#                                                            Conditioning</label></div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-2" value="22">Barbeque</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-3" value="20">Dryer</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-4" value="11">Gym</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-5" value="12">Laundry</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-6" value="6">Lawn</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-7" value="18">Microwave</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-8" value="26">Outdoor#}
{#                                                            Shower</label></div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-9" value="15">Refrigerator</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-10" value="14">Sauna</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-11" value="4">Swimming#}
{#                                                            Pool</label></div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-12" value="13">TV#}
{#                                                            Cable</label></div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-13" value="19">Washer</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-14" value="5">WiFi</label>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-3">#}
{#                                                        <div class="checkbox"><label><input type="checkbox"#}
{#                                                                                            name="prop_features[]"#}
{#                                                                                            id="feature-15" value="25">Window#}
{#                                                            Coverings</label></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{##}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Energy Class</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="energy_class">Energy Class</label>#}
{##}
{#                                                            <select name="energy_class" id="energy_class"#}
{#                                                                    class="selectpicker" data-live-search="false"#}
{#                                                                    data-live-search-style="begins">#}
{#                                                                <option selected="selected" value="">Select Energy#}
{#                                                                    Class#}
{#                                                                </option>#}
{#                                                                <option value="A+">A+</option>#}
{#                                                                <option value="A">A</option>#}
{#                                                                <option value="B">B</option>#}
{#                                                                <option value="C">C</option>#}
{#                                                                <option value="D">D</option>#}
{#                                                                <option value="E">E</option>#}
{#                                                                <option value="F">F</option>#}
{#                                                                <option value="G">G</option>#}
{#                                                            </select>#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="energy_global_index">Global energy performance#}
{#                                                                index</label>#}
{##}
{#                                                            <input type="text" id="energy_global_index"#}
{#                                                                   class="form-control" name="energy_global_index"#}
{#                                                                   placeholder="Eg: 92.42 kWh / m²a">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="renewable_energy_global_index">Renewable energy#}
{#                                                                performance index</label>#}
{##}
{#                                                            <input type="text" id="renewable_energy_global_index"#}
{#                                                                   class="form-control"#}
{#                                                                   name="renewable_energy_global_index"#}
{#                                                                   placeholder="Eg: 0.00 kWh / m²a">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                    <div class="col-sm-6">#}
{#                                                        <div class="form-group">#}
{#                                                            <label for="energy_performance">Energy performance of the#}
{#                                                                building</label>#}
{##}
{#                                                            <input type="text" id="energy_performance"#}
{#                                                                   class="form-control" name="energy_performance"#}
{#                                                                   placeholder="">#}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Floor Plans</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row">#}
{#                                                <table class="add-sort-table">#}
{#                                                    <thead>#}
{#                                                    <tr>#}
{#                                                        <td class="row-sort"></td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="row">#}
{#                                                                <div class="col-sm-12 col-xs-12">#}
{#                                                                    <label for="floorPlans">Floor Plans</label>#}
{#                                                                    <select class="selectpicker"#}
{#                                                                            name="floorPlans_enable"#}
{#                                                                            id="floorPlans_enable"#}
{#                                                                            data-live-search="false"#}
{#                                                                            data-live-search-style="begins">#}
{#                                                                        <option value="disable">Disable</option>#}
{#                                                                        <option value="enable">Enable</option>#}
{#                                                                    </select>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove"></td>#}
{#                                                    </tr>#}
{#                                                    </thead>#}
{#                                                    <tbody id="houzez_floor_plans_main">#}
{##}
{#                                                    <tr>#}
{#                                                        <td class="row-sort">#}
{#                                                            <span class="sort-floorplan-row sort"><i#}
{#                                                                    class="fa fa-navicon"></i></span>#}
{#                                                        </td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="sort-inner-block">#}
{#                                                                <div class="row">#}
{#                                                                    <div class="col-sm-12 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_title]">Plan#}
{#                                                                                Title</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_title]"#}
{#                                                                                   type="text" id="fave_plan_title_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_rooms]">Plan#}
{#                                                                                Bedrooms</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_rooms]"#}
{#                                                                                   type="text" id="fave_plan_rooms_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_bathrooms]">Plan#}
{#                                                                                Bathrooms</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_bathrooms]"#}
{#                                                                                   type="text"#}
{#                                                                                   id="fave_plan_bathrooms_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_price]">Plan#}
{#                                                                                Price</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_price]"#}
{#                                                                                   type="text" id="fave_plan_price_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_price_postfix]">Price#}
{#                                                                                Postfix</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_price_postfix]"#}
{#                                                                                   type="text"#}
{#                                                                                   id="fave_plan_price_postfix_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="floor_plans[0][fave_plan_size]">Plan#}
{#                                                                                Size</label>#}
{#                                                                            <input name="floor_plans[0][fave_plan_size]"#}
{#                                                                                   type="text" id="fave_plan_size_0"#}
{#                                                                                   class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group"#}
{#                                                                             id="drag-and-drop_floorplan">#}
{#                                                                            <label for="floor_plans[0][fave_plan_image]">Plan#}
{#                                                                                Image</label>#}
{##}
{#                                                                            <div class="file-upload-block">#}
{#                                                                                <input name="floor_plans[0][fave_plan_image]"#}
{#                                                                                       type="text"#}
{#                                                                                       id="fave_plan_image_0"#}
{#                                                                                       class="fave_plan_image form-control"#}
{#                                                                                       value="">#}
{#                                                                                <button id="0"#}
{#                                                                                        class="floorPlansImg btn btn-primary">#}
{#                                                                                    Upload#}
{#                                                                                </button>#}
{#                                                                            </div>#}
{#                                                                            <div id="plupload-container"></div>#}
{#                                                                            <div id="errors-log"></div>#}
{#                                                                            <div id="progress-0"></div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-12 col-xs-12">#}
{#                                                                        <label for="floor_plans[0][fave_plan_description]">Plan#}
{#                                                                            Description</label>#}
{#                                                                        <textarea#}
{#                                                                                name="floor_plans[0][fave_plan_description]"#}
{#                                                                                rows="4" id="fave_plan_description_0"#}
{#                                                                                class="form-control"></textarea>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove">#}
{#                                                            <span data-remove="0" class="remove-floorplan-row remove"><i#}
{#                                                                    class="fa fa-remove"></i></span>#}
{#                                                        </td>#}
{#                                                    </tr>#}
{##}
{#                                                    </tbody>#}
{#                                                    <tfoot>#}
{#                                                    <tr>#}
{#                                                        <td class="row-sort"></td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="row">#}
{#                                                                <div class="col-sm-12 col-xs-12">#}
{#                                                                    <button id="add-floorplan-row" data-increment="0"#}
{#                                                                            class="btn btn-primary"><i#}
{#                                                                            class="fa fa-plus"></i> Add More#}
{#                                                                    </button>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove"></td>#}
{#                                                    </tr>#}
{#                                                    </tfoot>#}
{##}
{#                                                </table>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>360° Virtual Tour</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-12">#}
{#                                                        <div class="form-group">#}
{#                                                            <textarea class="form-control" name="virtual_tour"#}
{#                                                                      id="virtual_tour" rows="6"#}
{#                                                                      placeholder="Enter virtual tour iframe/embeded code"></textarea>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Multi Units / Sub Properties</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row">#}
{#                                                <table class="add-sort-table">#}
{#                                                    <thead>#}
{#                                                    <tr>#}
{#                                                        <td class="row-sort"></td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="row">#}
{#                                                                <div class="col-sm-12 col-xs-12">#}
{#                                                                    <label for="multiUnits">Multi Units / Sub#}
{#                                                                        Properties</label>#}
{#                                                                    <select class="selectpicker" name="multiUnits"#}
{#                                                                            id="multiUnits" data-live-search="false"#}
{#                                                                            data-live-search-style="begins">#}
{#                                                                        <option value="disable">Disable</option>#}
{#                                                                        <option value="enable">Enable</option>#}
{#                                                                    </select>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove"></td>#}
{#                                                    </tr>#}
{#                                                    </thead>#}
{#                                                    <tbody id="multi_units_main">#}
{#                                                    <tr>#}
{#                                                        <td class="row-sort">#}
{#                                                            <span class="sort-subproperty-row sort"><i#}
{#                                                                    class="fa fa-navicon"></i></span>#}
{#                                                        </td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="sort-inner-block">#}
{#                                                                <div class="row">#}
{#                                                                    <div class="col-sm-12 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_title]">Title</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_title]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_beds]">Bedrooms</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_beds]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_baths]">Bathrooms</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_baths]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_size]">Property#}
{#                                                                                Size</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_size]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_size_postfix]">Size#}
{#                                                                                Postfix</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_size_postfix]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_price]">Price</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_price]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_price_postfix]">Price#}
{#                                                                                Postfix </label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_price_postfix]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="fave_multi_units[0][fave_mu_type]">Property#}
{#                                                                                Type</label>#}
{#                                                                            <input name="fave_multi_units[0][fave_mu_type]"#}
{#                                                                                   type="text" class="form-control">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6 col-xs-12">#}
{#                                                                        <label for="fave_multi_units[0][fave_mu_availability_date]">Availability#}
{#                                                                            Date</label>#}
{#                                                                        <input name="fave_multi_units[0][fave_mu_availability_date]"#}
{#                                                                               type="text" class="form-control">#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove">#}
{#                                                            <span data-remove="0" class="remove-subproperty-row remove"><i#}
{#                                                                    class="fa fa-remove"></i></span>#}
{#                                                        </td>#}
{#                                                    </tr>#}
{#                                                    </tbody>#}
{#                                                    <tfoot>#}
{#                                                    <tr>#}
{#                                                        <td class="row-sort"></td>#}
{#                                                        <td class="sort-middle">#}
{#                                                            <div class="row">#}
{#                                                                <div class="col-sm-12 col-xs-12">#}
{#                                                                    <button id="add-subproperty-row" data-increment="0"#}
{#                                                                            class="btn btn-primary"><i#}
{#                                                                            class="fa fa-plus"></i> Add More#}
{#                                                                    </button>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </td>#}
{#                                                        <td class="row-remove"></td>#}
{#                                                    </tr>#}
{#                                                    </tfoot>#}
{#                                                </table>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Private Note</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-12">#}
{#                                                        <div class="form-group">#}
{#                                                            <textarea class="form-control" name="private_note"#}
{#                                                                      id="private_note" rows="6"#}
{#                                                                      placeholder="Write private note for this property, it will not display for public."></textarea>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                        </div>#}
{#                                    </div>#}

{#                                    <div class="account-block form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Attachments</h3>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="add-attachment">#}
{#                                                    <div class="attach-list" id="houzez_property_attachments_container">#}
{#                                                    </div>#}
{#                                                    <div id="plupload-container"></div>#}
{#                                                    <div id="houzez_errors"></div>#}
{#                                                    <div id="houzez_attachment_dragDrop">#}
{#                                                        <a id="select_attachments" href="javascript:;"#}
{#                                                           class="btn btn-primary">Select Attachment</a>#}
{#                                                    </div>#}
{#                                                    <p>You can attach PDF files, Map images OR other documents to#}
{#                                                        provide further details related to property.</p>#}
{#                                                </div>#}
{##}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="account-block class-for-register-msg form-step">#}
{#                                        <div class="add-title-tab">#}
{#                                            <h3>Do you have an account?</h3>#}
{##}
{#                                            <div class="add-expand"></div>#}
{#                                        </div>#}
{#                                        <div class="add-tab-content">#}
{#                                            <div class="add-tab-row push-padding-bottom">#}
{#                                                <div class="row">#}
{#                                                    <div class="col-sm-12">#}
{#                                                        <p>If you don't have an account you can create one below by#}
{#                                                            entering your email address. Your account details will be#}
{#                                                            confirmed via email. Otherwise you can </p>#}
{##}
{#                                                        <div class="form-group step-login-btn">#}
{#                                                            <a href="#" class="login-here">Login here</a>#}
{#                                                            <a href="#" class="register-here" style="display: none">Register#}
{#                                                                here</a>#}
{#                                                        </div>#}
{#                                                        <div class="form-group">#}
{#                                                            <div class="houzez_messages_register message"></div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="col-sm-12">#}
{#                                                        <div class="tab-content">#}
{#                                                            <div class="tab-pane fade in active step-tab-register">#}
{#                                                                <div class="row">#}
{#                                                                    <div class="col-sm-4">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="username">Username* </label>#}
{#                                                                            <input type="text" id="username"#}
{#                                                                                   name="username" class="form-control"#}
{#                                                                                   placeholder="Enter your username">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-4">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="user_email">Email#}
{#                                                                                Address* </label>#}
{#                                                                            <input type="email" id="user_email"#}
{#                                                                                   class="form-control"#}
{#                                                                                   name="user_email"#}
{#                                                                                   placeholder="Enter your email address">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                            <div class="tab-pane fade step-tab-login">#}
{#                                                                <div class="row">#}
{#                                                                    <div class="col-sm-6">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="sp_username">Username* </label>#}
{#                                                                            <input type="text" id="sp_username"#}
{#                                                                                   name="sp_username"#}
{#                                                                                   class="form-control"#}
{#                                                                                   placeholder="Enter Your Username">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                    <div class="col-sm-6">#}
{#                                                                        <div class="form-group">#}
{#                                                                            <label for="sp_password">Password* </label>#}
{#                                                                            <input type="password" id="sp_password"#}
{#                                                                                   class="form-control"#}
{#                                                                                   name="sp_password"#}
{#                                                                                   placeholder="Enter Your Password">#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{##}
{#                                                        </div>#}
{#                                                    </div>#}
{##}
{##}
{#                                                    <input type="hidden" id="houzez_register_security2"#}
{#                                                           name="houzez_register_security2" value="e859c81df8"><input#}
{#                                                        type="hidden" name="_wp_http_referer"#}
{#                                                        value="/add-new-property/"></div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}


                                    <input type="hidden" id="property_nonce" name="property_nonce"
                                           value="d4aa300269"><input type="hidden" name="_wp_http_referer"
                                                                     value="/add-new-property/">
                                    <input type="hidden" name="action" value="add_property">
                                    <input type="hidden" name="prop_featured" value="0">
                                    <input type="hidden" name="prop_payment" value="not_paid">
                                    <input type="hidden" name="user_submit_has_no_membership" value="yes">


                                    <div class="steps-nav">
                                        <div class="btn-left btn-back action">
                                            <button type="button" class="btn"><i class="fa fa-angle-left"></i></button>
                                            <span>Назад</span>
                                        </div>
                                        <div class="btn-right btn-next action">
                                            <span>Далее</span>
                                            <button type="button" class="btn"><i class="fa fa-angle-right"></i></button>
                                        </div>
                                        <div class="btn-right action btn-submit btn-step-submit">
                                            <span>Отправить</span>
                                            <button id="add_new_property" type="submit" class="btn"><i
                                                    class="fa fa-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block extra_js %}
    <script type='text/javascript' src='/static/js/plupload/moxie.min.js'></script>
    <script type='text/javascript' src='/static/js/plupload/plupload.min.js'></script>
    <script type='text/javascript' src='/static/js/houzez_property.js'></script>
{% endblock %}