{% extends 'base.html' %}
{% load multiply %}
{% load url_replace %}
{% block content %}
    <div id="section-body" class="houzez-body-half landing-page">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 no-padding">
                    <div id="houzez-gmap-main" class="fave-screen-fix" style="z-index: 0">
                        <div id="mapViewHalfListings" class="map-half">
                        </div>
                        <input type="hidden" id="securityHouzezHeaderMap" name="securityHouzezHeaderMap"
                               value="bd734b3192"/><input type="hidden" name="_wp_http_referer"
                                                          value="/apartments/?keyword="/>
                    </div>
                </div>

                <div class="col-md-8 col-sm-6 col-xs-12 no-padding">
                    <div class="module-half map-module-half fave-screen-fix grid-view-style3">
                        <form autocomplete="off" method="get" id="half_map_search_form" class="save_search_form"
                              action="#">
                            {% include 'includes/search_expandable.html' %}
                            <div class="houzez-module">
                                <!--start list tabs-->
                                <div class="list-tabs table-list full-width">
                                    <div class="tabs table-cell">
                                        <h2 class="tabs-title"><span></span> Найдено {{ count }} объектов</h2>
                                    </div>

                                    <div class="sort-tab table-cell text-right">
                                        Сортировать: <select id="houzez_sort_half_map" name="sort_half_map"
                                                             class="selectpicker bs-select-hidden" title=""
                                                             data-live-search-style="begins" data-live-search="false">
                                        <option value="">Не выбрано</option>
                                        <option value="price_asc" {% if order_by == 'price_asc' %}selected{% endif %}>
                                            Цена (по возрастанию)
                                        </option>
                                        <option value="price_desc" {% if order_by == 'price_desc' %}selected{% endif %}>
                                            Цена (по убыванию)
                                        </option>

                                        <option value="date_asc" {% if order_by == 'date_asc' %}selected{% endif %}>Дата
                                            (сначала старые)
                                        </option>
                                        <option value="date_desc" {% if order_by == 'date_desc' %}selected{% endif %}>
                                            Дата (сначала новые)
                                        </option>
                                    </select>
                                    </div>

                                </div>
                                <!--end list tabs-->
                                <div class="property-listing grid-view">
                                    <div class="row">
                                        <div id="houzez_ajax_container">
                                            {% for l in listings %}
                                                <div id="{{ l.Id }}" class="item-wrap infobox_trigger">
                                                    <div class="property-item-grid property-item-grid-v3">
                                                        <figure class="item-thumb">
                                                            <a class="hover-effect"
                                                               href="/property/{{ l.slug }}">
                                                                <img style="height: 250px"
                                                                        {% if l.main_photo %}
                                                                     src="{{ l.main_photo }}"
                                                                        {% else %}
                                                                     src="/static/images/no-image.png"
                                                                        {% endif %}
                                                                     class="attachment-houzez-property-thumb-image size-houzez-property-thumb-image wp-post-image"
                                                                     alt=""> </a>

                                                            <div class="label-wrap label-left">
                                                                <span class="label label-success label-featured">ID: {{ l.BCSTRINGObjectID }}</span>
                                                                <span class="label label-success label-featured">{{ l.LeadType.displayValue }}</span>
                                                                {% if l.BCDiscountedPrice %}
                                                                    <span class="label label-success label-featured">Цена снижена</span>
                                                                {% endif %}
                                                                {% if l.District %}
                                                                <span class="label label-success label-featured">{{ l.District.displayValue }}</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="price">
                                                                {% if l.LeadType.displayValue == "Продажа" %}
                                                                    <span class="item-price">{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}</span>
                                                                {% else %}
                                                                    <span class="item-price">{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }} / месяц</span>
                                                                {% endif %}

                                                            </div>

                                                            <div class="item-caption">
                                                                <div class="label-wrap">
                                                                    <span class="label-status label-status-8 label label-default">{{ l.PropertyType.displayValue }}</span>
                                                                </div>
                                                                <h4 class="item-caption-title">{{ l.Name }}</h4>
                                                            </div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <hr>
                                            <div class="pagination-main half_map_ajax_pagi">
                                                <ul class="pagination">
                                                    {% if prev %}
                                                        <li>
                                                            <a aria-label="Previous"
                                                               href="?{% url_replace request 'paged' prev_page %}"><span
                                                                    aria-hidden="true">
                                                            <i class="fa fa-angle-left"></i></span></a>
                                                        </li>

                                                    {% endif %}
                                                    {% if next %}
                                                        <li>
                                                            <a rel="Next"
                                                               href="?{% url_replace request 'paged' next_page %}"><span
                                                                    aria-hidden="true">
                                                            <i class="fa fa-angle-right"></i></span></a>
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--end latest listing module-->
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        #search_header {
            padding-left: 20px;
        }
    </style>
{% endblock %}
{% block extra_js %}
    <script>

        var mymap = L.map('mapViewHalfListings', {tap: false}).setView([8.05, 98.27], 9);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);
        var marker;
        var popup;
        {% for l in listings %}
            {% if l.Latitude and l.Longitude %}
                marker = L.marker([{{ l.Latitude }}, {{ l.Longitude }}]).addTo(mymap);
                {% if l.LeadType.displayValue == "Продажа" %}
                    popup = "<b><a href='/property/{{ l.slug }}'>{{l.Name}}</a></b><br>{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }}";
                {% else %}
                    popup = "<b><a href='/property/{{ l.slug }}'>{{l.Name}}</a></b><br>{{ view.currency }} {{ l.Price|multiply:view.rates|add:"0" }} / месяц";
                {% endif %}
                marker.bindPopup(popup);
                marker.on('mouseover', function (e) {
                    this.openPopup();
                });
                marker.on('mouseout', function (e) {
                    this.closePopup();
                });
            {% endif %}

        {% endfor %}
        {% if min_price_int and max_price_int and not currency_switched %}
            jQuery(document).ready(function ($) {
                var addCommas = function (nStr) {
                    nStr += '';
                    var x = nStr.split('.');
                    var x1 = x[0];
                    var x2 = x.length > 1 ? '.' + x[1] : '';
                    var rgx = /(\d+)(\d{3})/;
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + HOUZEZ_ajaxcalls_vars.thousands_separator + '$2');
                    }
                    return x1 + x2;
                }
                $('.price-range-advanced').slider('values', 0, {{min_price_int|safe}});
                $('.price-range-advanced').slider('values', 1, {{max_price_int|safe}});
                var min_price_range = HOUZEZ_ajaxcalls_vars.currency_symbol + addCommas({{min_price_int|safe}});
                var max_price_range = HOUZEZ_ajaxcalls_vars.currency_symbol + addCommas({{max_price_int|safe}});
                $(".min-price-range-hidden").val(min_price_range);
                $(".max-price-range-hidden").val(max_price_range);
                $(".min-price-range").text(min_price_range);
                $(".max-price-range").text(max_price_range);
            });
        {% endif %}


    </script>
{% endblock %}