{% load multiply %}
<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <title>IndreamsPhuket</title>
    <script>
        /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
        if (typeof WebFontConfig === "undefined") {
            WebFontConfig = new Object();
        }
        WebFontConfig['google'] = {families: ['Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', 'Roboto:700&subset=latin']};

        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <meta property='og:site_name' content='IndreamsPhuket'/>
    <meta property='og:url' content='http://indreamsphuket.com/'/>
    <meta property='og:title' content='Homepage'/>
    <meta property='og:type' content='article'/>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

    </style>
    <link rel='stylesheet' href='/static/vendors/bower_components/lato/css/lato.min.css' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='contact-form-7-css'
          href='/static/wp-content/plugins/contact-form-7/includes/css/styles972f.css?ver=5.0.1' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='rs-plugin-settings-css'
          href='/static/wp-content/plugins/revslider/public/assets/css/settingsf1f1.css?ver=5.4.7.3' type='text/css'
          media='all'/>
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='bootstrap.min-css'
          href='/static/wp-content/themes/houzez/css/bootstrap.min46df.css?ver=3.3.5' type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome.min-css'
          href='/static/wp-content/themes/houzez/css/font-awesome.min1849.css?ver=4.7.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='houzez-all-css' href='/static/wp-content/themes/houzez/css/all.minaff7.css?ver=1.6.0'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='houzez-main-css' href='/static/wp-content/themes/houzez/css/mainaff7.css?ver=1.6.0'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='houzez-style-css' href='/static/wp-content/themes/houzez/styleaff7.css?ver=1.6.0'
          type='text/css' media='all'/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <style id='houzez-style-inline-css' type='text/css'>

        .advance-search-header,
        .advanced-search-mobile,
        .advanced-search-mobile .single-search .form-control,
        .search-expandable .advanced-search {
            background-color: #ffffff;
        }

        .search-expand-btn {
            background-color: #e4192b;
        }

        .search-expand-btn {
            color: #ffffff
        }

        .advance-search-header .houzez-theme-button,
        .advanced-search-mobile .houzez-theme-button,
        .splash-search .btn-secondary,
        .advanced-search .btn-secondary {
            color: #ffffff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .advance-search-header .houzez-theme-button:focus,
        .advanced-search-mobile .houzez-theme-button:focus,
        .advanced-search .btn-secondary:focus,
        .splash-search .btn-secondary:focus {
            color: #ffffff;
            background-color: #00b9ce;
            border: 1px solid #00b9ce;
        }

        .advance-search-header .houzez-theme-button:hover,
        .advanced-search .btn-secondary:hover,
        .advanced-search .btn-secondary:active,
        .advanced-search .btn-secondary:active:hover,
        .advanced-search .btn-secondary.active,
        .advanced-search-mobile .houzez-theme-button:hover,
        .splash-search .btn-secondary:hover {
            color: #ffffff;
            background-color: #00b9ce;
            border: 1px solid #00b9ce;
        }

        .advance-search-header .houzez-theme-button:active,
        .advanced-search .btn-secondary:active,
        .advanced-search-mobile .houzez-theme-button:active,
        .splash-search .btn-secondary:active {
            color: #ffffff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .advanced-search .bootstrap-select .btn,
        .advanced-search .bootstrap-select.open .btn,
        .banner-search-main .dropdown-toggle,
        .advanced-search .form-control,
        .advanced-search-mobile .advance-fields .bootstrap-select .btn,
        .advanced-search-mobile .advance-fields .bootstrap-select.open .btn,
        .advanced-search-mobile .advance-fields .form-control {
            background-color: #fff;
            color: #959595;
        }

        .advanced-search .dropdown-toggle,
        .advanced-search .form-control,
        .advance-search-header .bootstrap-select .btn,
        .advance-search-header .bootstrap-select .fave-load-more a,
        .fave-load-more .advance-search-header .bootstrap-select a,
        .advance-fields .form-control,
        .advanced-search .btn-default.active:hover, .btn-default:active:hover,
        .advanced-search .open > .btn-default.dropdown-toggle:hover
        .advanced-search .bootstrap-select .btn,
        .advanced-search .bootstrap-select.open .btn,
        .range-wrap {
            border-width: 1px;
            border-style: solid;
            border-color: #d1d1d1;
        }

        .advanced-search .input-group .form-control,
        .search-long .search input,
        .advanced-search .search-long .search,
        .advanced-search .search-long .btn-group,
        .advanced-search .search-long .advance-btn,
        .input-group-addon {
            border-color: #d1d1d1 !important;
        }

        .advanced-search-mobile .advance-fields {
            border-top: 1px solid #d1d1d1;
        }

        .advanced-search-mobile .single-search-wrap button {
            color: #d1d1d1;
        }

        .advanced-search-mobile .advance-fields::after {
            border-bottom-color: #d1d1d1;
        }

        .advance-btn.blue {
            color: #ffffff;
        }

        .advance-btn.blue:hover,
        .advance-btn.blue:focus {
            color: #00b9ce;
        }

        .advanced-search .advance-btn {
            color: #00b9ce;
        }

        .advanced-search .advance-btn:hover {
            color: #00b9ce;
        }

        .advanced-search .advance-btn:focus,
        .advanced-search .advance-btn.active {
            color: #00b9ce;
        }

        .advanced-search .advance-fields,
        .advanced-search .features-list label.title,
        .advanced-search .features-list .checkbox-inline,
        .advanced-search-mobile .advance-fields,
        .advanced-search-mobile .features-list label.title,
        .advanced-search-mobile .features-list .checkbox-inline,
        .range-title,
        .range-text,
        .range-text p,
        .min-price-range,
        .max-price-range,
        .advanced-search-mobile {
            color: #545454;
        }

        .auto-complete {
            background-color: #fff;
        }

        .auto-complete,
        .auto-complete .media {
            border-color: #ccc;
        }

        .bootstrap-select.btn-group .dropdown-menu li a:hover,
        .bootstrap-select.btn-group .dropdown-menu li a:focus,
        .bootstrap-select.btn-group .dropdown-menu li a:active {
            background-color: rgba(0, 174, 239, 0.12);
        }

        .top-bar {
            background-color: #000000;
        }

        .top-bar .top-nav > ul > li > a:hover,
        .top-bar .top-nav > ul li.active > a,
        .top-bar .top-nav > ul ul a:hover,
        .top-contact a:hover,
        .top-bar .dropdown-menu > li:hover,
        .top-contact li .btn:hover {
            color: rgba(228, 25, 43, 1);
        }

        .top-contact a,
        .top-contact li,
        .top-contact li .btn,
        .top-bar .top-nav > ul > li > a {
            color: #ffffff;
        }

        .top-bar .mobile-nav .nav-trigger {
            color: #FFFFFF;
        }

        body {
            background-color: #f8f8f8;
        }

        a,
        .blue,
        .text-primary,
        .btn-link,
        .item-body h2,
        .detail h3,
        .breadcrumb li a,
        .fave-load-more a,
        .sort-tab .btn,
        .sort-tab .fave-load-more a,
        .fave-load-more .sort-tab a,
        .pagination-main .pagination a,
        .team-caption-after .team-name a:hover,
        .team-caption-after .team-designation a:hover,
        .agent-media .view,
        .my-property-menu a.active,
        .my-property-menu a:hover,
        .search-panel .advance-trigger {
            color: #0c4f84;
        }

        .banner-caption h1,
        .banner-caption h2 {
            color: #ffffff;
        }

        .property-item h2 a,
        .property-item .property-title a,
        .widget .media-heading a {
            color: #000000;
        }

        .property-item h2 a:hover,
        .property-item .property-title a:hover,
        .widget .media-heading a:hover {
            color: #0c4f84;
        }

        .owl-theme .owl-nav [class*=owl-],
        .testimonial-carousel .owl-nav [class*=owl-]:hover,
        .testimonial-carousel .owl-nav [class*=owl-]:focus,
        .gallery-thumb .icon,
        .share_tooltip {
            background-color: #0c4f84;
        }

        #sidebar .widget_tag_cloud .tagcloud a,
        .article-footer .meta-tags a,
        .pagination-main .pagination li.active a,
        .other-features .btn.btn-secondary,
        .my-menu .active a,
        .houzez-module .module-title-nav .module-nav .btn,
        .houzez-module .module-title-nav .module-nav .fave-load-more a,
        .fave-load-more .houzez-module .module-title-nav .module-nav a {
            color: #fff;
            background-color: #0c4f84;
            border: 1px solid #0c4f84;
        }

        .plan-tabs li.active {
            box-shadow: inset 0 4px 0 #0c4f84;
            border-top-color: #0c4f84;
            background-color: #fff;
            color: #0c4f84;
        }

        .btn-primary,
        .label-primary,
        .scrolltop-btn {
            color: #fff;
            background-color: #0c4f84;
            border-color: #0c4f84;
        }

        .btn-primary.btn-trans {
            color: #0c4f84;
        }

        .header-section-2 .header-top-call {
            color: #ffffff;
            background-color: #00aeef;
        }

        .header-section-2 .avatar {
            color: #ffffff;
        }

        @media (max-width: 991px) {
            .header-section-2 .header-top,
            .header-section-5 .header-top {
                background-color: #0c4f84;
            }
        }

        .modal-header,
        .ui-slider-horizontal .ui-slider-range,
        .ui-state-hover,
        .ui-widget-content .ui-state-hover,
        .ui-widget-header .ui-state-hover,
        .ui-state-focus,
        .ui-widget-content .ui-state-focus,
        .ui-widget-header .ui-state-focus,
        .list-loading-bar {
            background-color: #0c4f84;
            border-color: transparent;
        }

        .houzez-module .module-title-nav .module-nav .btn,
        #save_as_draft {
            color: #0c4f84;
            border: 1px solid #0c4f84;
            background-color: transparent;
        }

        .fave-load-more a,
        .fave-load-more a:hover {
            border: 1px solid #0c4f84;
        }

        #transportation,
        #supermarkets,
        #schools,
        #libraries,
        #pharmacies,
        #hospitals,
        .pay-step-block.active span,
        .loader-ripple div:nth-of-type(2) {
            border-color: #0c4f84;
        }

        .loader-ripple div:nth-of-type(1) {
            border-color: #cbb492;
        }

        .detail-block .alert-info {
            color: rgba(0, 0, 0, .85);
            background-color: rgba(228, 25, 43, 0.1);
            border: 1px solid #0c4f84;
        }

        .houzez-taber-wrap .houzez-tabs li.active::before,
        .houzez-taber-wrap .houzez-tabs li:hover::before,
        .houzez-taber-wrap .houzez-tabs li:active::before,
        .profile-tabs li:hover,
        .steps-nav, .steps-progress-main .steps-progress span {
            background-color: #0c4f84;
        }

        .btn-secondary,
        .agent_contact_form.btn-secondary,
        .form-media .wpcf7-submit,
        .wpcf7-submit,
        .dsidx-resp-area-submit input[type='submit'] {
            color: #fff;
            background-color: #cbb492;
            border-color: #cbb492;
        }

        .btn-secondary.btn-trans {
            color: #cbb492;
        }

        .item-thumb .label-featured, figure .label-featured, .carousel-module .carousel .item figure .label-featured {
            background-color: #0098a3;
            color: #ffffff;
        }

        a:hover,
        a:focus,
        a:active,
        .blue:hover,
        .btn-link:hover,
        .breadcrumb li a:hover,
        .pagination-main .pagination a:hover,
        .vc_toggle_title h4:hover,
        .footer a:hover,
        .impress-address:hover,
        .agent-media .view:hover,
        .my-property .dropdown-menu a:hover,
        .article-detail .article-title a:hover,
        .comments-block .article-title a:hover,
        .detail-block .list-features a:hover {
            color: rgba(12, 79, 132, 0.75);
            text-decoration: none;
        }

        .detail-top .media-tabs a:hover span,
        .header-section.slpash-header .header-right a.btn:hover,
        .slpash-header.header-section-4 .header-right a.btn:hover,
        .houzez-module .module-title-nav .module-nav .btn:hover,
        .houzez-module .module-title-nav .module-nav .fave-load-more a:hover,
        .fave-load-more .houzez-module .module-title-nav .module-nav a:hover,
        .houzez-module .module-title-nav .module-nav .btn:focus,
        .houzez-module .module-title-nav .module-nav .fave-load-more a:focus,
        .fave-load-more .houzez-module .module-title-nav .module-nav a:focus {
            color: #fff;
            background-color: rgba(12, 79, 132, 0.75);
            border: 1px solid rgba(12, 79, 132, 0.75);
        }

        .fave-load-more a:hover,
        #sidebar .widget_tag_cloud .tagcloud a:hover,
        .article-footer .meta-tags a:hover,
        .other-features .btn.btn-secondary:hover,
        .my-actions .action-btn:hover,
        .my-actions .action-btn:focus,
        .my-actions .action-btn:active,
        .my-actions .open .action-btn {
            background-color: rgba(12, 79, 132, 0.75);
            border-color: rgba(12, 79, 132, 0.75);
        }

        .owl-theme .owl-nav [class*=owl-]:hover,
        .owl-theme .owl-nav [class*=owl-]:focus,
        .owl-theme .owl-nav [class*=owl-]:active,
        .testimonial-carousel .owl-nav [class*=owl-]:hover,
        .testimonial-carousel .owl-nav [class*=owl-]:focus {
            border-color: rgba(12, 79, 132, 0.75);
        }

        .owl-theme .owl-nav [class*=owl-]:hover,
        .owl-theme .owl-nav [class*=owl-]:focus,
        .owl-theme .owl-nav [class*=owl-]:active {
            background-color: rgba(12, 79, 132, 0.75);
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary:active:hover,
        .btn-primary.btn-trans:hover,
        .btn-primary.btn-trans:focus,
        .btn-primary.btn-trans:active,
        .btn-primary.btn-trans.active,
        .btn-primary.btn-trans:active:hover,
        .invoice-list .btn-invoice:hover,
        #houzez-gmap-main .map-btn:hover,
        .media-tabs-list li > a:hover,
        .media-tabs-list li.active a,
        .detail-bar .detail-tabs li:hover,
        .actions li > span:hover,
        .lightbox-arrow:hover,
        .scrolltop-btn:hover {
            background-color: rgba(12, 79, 132, 0.75);
            border-color: rgba(12, 79, 132, 0.75);
        }

        .btn-secondary:hover,
        .btn-secondary:focus,
        .btn-secondary:active,
        .btn-secondary.active,
        .btn-secondary:active:hover,
        .btn-secondary.btn-trans:hover,
        .btn-secondary.btn-trans:focus,
        .btn-secondary.btn-trans:active,
        .btn-secondary.btn-trans.active,
        .btn-secondary.btn-trans:active:hover,
        .agent_contact_form.btn-secondary:hover,
        .form-media .wpcf7-submit:hover,
        .wpcf7-submit:hover,
        .wpcf7-submit:focus,
        .wpcf7-submit:active,
        .dsidx-resp-area-submit input[type='submit']:hover,
        .dsidx-resp-area-submit input[type='submit']:focus,
        .dsidx-resp-area-submit input[type='submit']:active {
            color: #fff;
            background-color: rgba(203, 180, 146, 0.75);
            border-color: rgba(203, 180, 146, 0.75);
        }

        .header-section {
            background-color:;
        }

        .header-section .navi > ul > li > a {
            color:;
            background-color: transparent;
        }

        .header-section .header-right .user a,
        .header-section .header-right span {
            color:;
        }

        .header-section .navi > ul > li > a:hover {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section .header-right .user a:hover,
        .header-section .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section-3 .header-top {
            background-color:;
        }

        .header-section-3 .header-top-social a,
        .header-section-3 .header-contact .contact-block .fa,
        .header-section-3 .header-top .media-heading,
        .header-contact .contact-block p {
            color:;
        }

        .header-contact .contact-block .fa {
            color:;
        }

        .header-section-3 .header-bottom {
            background-color:;
        }

        .header-section-3 .navi > ul > li > a,
        .header-section-3 .header-right .user a,
        .header-section-3 .header-right span {
            color:;
        }

        .header-section-3 .navi > ul > li > a:hover,
        .header-section-3 .navi > ul > li.active > a {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .header-right .user a:hover,
        .header-section-3 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section-3 .navi > ul > li {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .header-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-3 .navi > ul {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
        }

        .header-section-2 .header-top, .header-section-5 .header-top {
            background-color: #0c4f84;
        }

        .header-section-2 .header-bottom, .header-section-5 .header-bottom {
            background-color: #0a4a7f;
            border-top: 1px solid #0a4a7f;
            border-bottom: 1px solid #0a4a7f;
        }

        .header-section-2 .header-bottom .navi > ul > li, .header-section-5 .header-bottom .navi > ul > li {
            border-right: 1px solid #0a4a7f;
        }

        .header-section-2 .header-right {
            border-left: 1px solid #0a4a7f;
        }

        .header-section-2 .navi > ul > li > a,
        .header-section-2 .header-right .user a,
        .header-section-2 .header-right span,
        .header-section-5 .navi > ul > li > a,
        .header-section-5 .header-right .user a,
        .header-section-5 .header-right span {
            color: #ffffff;
        }

        .header-section-5 .header-top-social li a, header-section-3 .header-top-social li a {
            color: #FFFFFF;
        }

        .header-section-2 .navi > ul > li > a:hover,
        .header-section-2 .navi > ul > li.active > a,
        .header-section-5 .navi > ul > li > a:hover,
        .header-section-5 .navi > ul > li.active > a {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-2 .header-right .user a:hover,
        .header-section-2 .header-right span:hover,
        .header-section-5 .header-right .user a:hover,
        .header-section-5 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .header-section .header-right a.btn,
        .header-section-2 .header-right a.btn,
        .header-section-3 .header-right a.btn,
        .header-section-5 .header-right a.btn,
        .header-section-6 .header-right a.btn {
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section .header-right .user a.btn:hover,
        .header-section-2 .header-right .user a.btn:hover,
        .header-section-3 .header-right .user a.btn:hover,
        .header-section-5 .header-right .user a.btn:hover,
        .header-section-6 .header-right .user a.btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: #ffffff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .header-section-4,
        .header-section-4 .navi > ul ul,
        .sticky_nav.header-section-4 {
            background-color: #0c4f84;
        }

        .header-section-4 .navi > ul > li > a,
        .header-section-4 .navi > ul ul a,
        .header-section-4 .header-right .user a,
        .header-section-4 .header-right span {
            color: #ffffff;
        }

        .header-section-4 .header-right .btn {
            color: #000000;
            border: 1px solid #000000;
            background-color: #ffffff;
        }

        .header-section-4 .navi > ul > li > a:hover,
        .header-section-4 .navi > ul ul a:hover,
        .header-section-4 .navi > ul > li.active > a,
        .header-section-4 .header-right .user a:hover,
        .header-section-4 .header-right .user a:focus,
        .header-section-4 .header-right span:hover,
        .header-section-4 .header-right span:focus {
            color: rgba(203, 180, 146, 1);
        }

        .header-section-4 .header-right .user .btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(203, 180, 146, 1);
            background-color: rgba(203, 180, 146, 1);
        }

        .houzez-header-transparent {
            background-color: transparent;
            position: absolute;
            width: 100%;
            border-bottom: 1px none;
            border-color: rgba(255, 255, 255, 0.3);
        }

        .header-section-4.houzez-header-transparent .navi > ul > li > a,
        .header-section-4.houzez-header-transparent .header-right .account-action span,
        .header-section-4.houzez-header-transparent .header-right .user span {
            color: #ffffff;
        }

        .header-section-4.houzez-header-transparent .navi > ul > li > a:hover,
        .header-section-4.houzez-header-transparent .navi > ul ul a:hover,
        .header-section-4.houzez-header-transparent .account-action li:hover,
        .header-section-4.houzez-header-transparent .header-right .user a:hover,
        .header-section-4.houzez-header-transparent .header-right .account-action span:hover,
        .header-section-4.houzez-header-transparent .header-right .user span:hover,
        .header-section-4.houzez-header-transparent .header-right .user a:focus {
            color: #ffffff;
        }

        .header-section-4.houzez-header-transparent .header-right .btn {
            color: #ffffff;
            border: 1px solid #ffffff;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-4.houzez-header-transparent .header-right .user .btn:hover {
            color: rgba(255, 255, 255, 1);
            border-color: rgba(203, 180, 146, 1);
            background-color: rgba(203, 180, 146, 1);
        }

        .header-section-6 {
            background-color: #00AEEF;
        }

        .header-section-6 .navi > ul > li > a {
            color: #FFFFFF;
            background-color: transparent;
        }

        .header-section-6 .header-right .user a,
        .header-section-6 .header-right span {
            color: #FFFFFF;
        }

        .header-section-6-icons .header-top-social li a {
            color: #FFFFFF;
        }

        .header-section-6 .navi > ul > li > a:hover {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .header-section-6 .header-right .user a:hover,
        .header-section-6 .header-right span:hover {
            color: rgba(255, 255, 255, 1);
        }

        .navi > ul ul {
            background-color: rgba(255, 255, 255, 0.95);
        }

        .navi > ul ul a {
            color: #2e3e49 !important;
        }

        .navi > ul ul a:hover {
            color: #cbb492 !important;
        }

        .navi > ul ul li,
        .houzez-megamenu-inner .sub-menu li {
            border-color: #e6e6e6;
        }

        .header-section .header-right a,
        .header-section .header-right span,
        .header-section .header-right .btn-default,
        .header-section .navi ul li,
        .header-section .account-dropdown > ul > li > a,
        .header-section-3 .header-right a,
        .header-section-3 .header-right span,
        .header-section-3 .navi ul li,
        .header-section-3 .account-dropdown > ul > li > a,
        .header-section-2 .header-right a,
        .header-section-2 .header-right span,
        .header-section-2 .navi ul li,
        .header-section-2 .account-dropdown > ul > li > a,
        .header-section-4 .header-right a,
        .header-section-4 .header-right span,
        .header-section-4 .navi ul li,
        .header-section-4 .header-right .btn-default,
        .header-section-4 .account-dropdown > ul > li > a,
        .header-section-5 .header-right a,
        .header-section-5 .header-right span,
        .header-section-5 .navi ul li,
        .header-section-5 .account-dropdown > ul > li > a,
        .header-section-6 .header-right a,
        .header-section-6 .header-right span,
        .header-section-6 .navi ul li,
        .header-section-6 .account-dropdown > ul > li > a,
        .board-panel-menu > li a {
            font-family: Lato;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            text-align: left;
        }

        .header-section.slpash-header .navi > ul > li > a:hover,
        .slpash-header.header-section-4 .navi > ul > li > a:hover,
        .header-section.slpash-header .header-right .user > a:hover,
        .slpash-header.header-section-4 .header-right .user > a:hover,
        .header-section.slpash-header .navi > ul > li > a:focus,
        .slpash-header.header-section-4 .navi > ul > li > a:focus,
        .header-section.slpash-header .header-right .user > a:focus,
        .slpash-header.header-section-4 .header-right .user > a:focus {
            color: rgba(255, 255, 255, 1);
        }

        .header-section.slpash-header .navi > ul > li.active > a {
            color: #0c4f84;
        }

        .header-mobile {
            background-color: #0c4f84;
        }

        .header-mobile .nav-dropdown > ul {
            background-color: rgba(255, 255, 255, 1);
        }

        .mobile-nav .nav-trigger,
        .header-mobile .user a,
        .header-mobile .user-icon {
            color: #ffffff;
        }

        .splash-header .mobile-nav .nav-trigger,
        .splash-header .header-mobile .user a,
        .splash-header .header-mobile .user-icon {
            color: #ffffff;
        }

        .nav-dropdown a,
        .nav-dropdown li .expand-me {
            color: #0c4f84;
        }

        .mobile-nav a,
        .header-mobile .account-dropdown > ul > li a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            text-transform: none;
            text-align: left;
        }

        .mobile-nav .nav-dropdown > ul ul a {
            color: #cbb492;
            background-color: #ffffff;
        }

        .mobile-nav .nav-dropdown li {
            border-top: 1px solid #ececec;
        }

        .mobile-nav .nav-dropdown > ul > li:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        .mobile-nav .nav-dropdown li.active > a {
            color: rgba(203, 180, 146, 1);
            background-color: rgba(255, 255, 255, 1);
        }

        .account-dropdown > ul {
            background-color: #FFFFFF;
        }

        .account-dropdown > ul:before {
            border-bottom-color: #FFFFFF;
        }

        .account-dropdown > ul > li > a {
            color: #2e3e49 !important;
        }

        .account-dropdown > ul > li > a:hover, .account-dropdown > ul > li.active > a, .account-dropdown > ul > li.active > a:hover {
            color: #2e3e49 !important;
            background-color: rgba(204, 204, 204, 0.15);
        }

        .account-dropdown > ul > li {
            border-color: #e6e6e6;
        }

        .account-dropdown > ul .sub-menu {
            background-color: #0a0000;
        }

        .account-dropdown > ul .sub-menu > li,
        .account-dropdown > ul .sub-menu > li a {
            color: #FFFFFF;
        }

        .account-dropdown > ul .sub-menu > li a:hover, .account-dropdown > ul .sub-menu > li.active > a {
            background-color: rgba(255, 255, 255, 0.2) !important;
            color: inherit;
        }

        .account-dropdown > ul .sub-menu > li {
            border-color: rgba(255, 255, 255, 0.3) !important;
        }

        .footer {
            background-color: #004274;
        }

        .footer-bottom {
            background-color: #00335A;
            border-top: 1px solid #00243f;
        }

        .footer,
        .footer-widget h4,
        .footer-bottom p,
        .footer-widget.widget_calendar caption {
            color: #FFFFFF;
        }

        .footer a,
        .footer-bottom .navi a,
        .footer-bottom .foot-social p a {
            color: #FFFFFF;
        }

        .footer-widget .widget-title,
        .footer p, .footer p.wp-caption-text,
        .footer li,
        .footer li i {
            color: #FFFFFF;
        }

        .footer a:hover,
        .footer-bottom .navi a:hover,
        .footer-bottom .foot-social p a:hover {
            color: rgba(0, 174, 239, 1);
        }

        .footer-widget.widget_tag_cloud .tagcloud a {
            color: rgba(0, 174, 239, 1);
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }

        body {
            color: #000000;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-transform: none;
        }

        input, button, select, textarea {
            font-family: Lato;
        }

        h1,
        .page-title .title-head,
        .article-detail h1,
        h2,
        .article-detail h2,
        .houzez-module .module-title-nav h2,
        h3,
        .module-title h3,
        .article-detail h3,
        .detail h3,
        .caption-bottom .detail h3,
        .add-title-tab h3,
        #sidebar .widget-title,
        .footer-widget .widget-title,
        .services-module .service-block h3,
        h4,
        .article-detail h4,
        h5,
        .article-detail h5,
        h6,
        .article-detail h6,
        .item-body h2,
        .item-body .property-title,
        .post-card-description h3,
        .post-card-description .post-card-title,
        .my-property .my-heading,
        .module-title h2,
        .houzez-module .module-title-nav h2 {
            font-family: Lato;
            font-weight: 400;
        {#            text-transform: capitalize;#} text-align: inherit;
        }

        .page-title .title-head,
        .article-detail h1 {
            font-size: 30px;
            line-height: 38px;
        }

        .article-detail h2,
        .houzez-module .module-title-nav h2 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 10px 0;
        }

        .houzez-module .module-title-nav h2 {
            margin: 0;
        }

        .module-title h3,
        .article-detail h3,
        .services-module .service-block h3 {
            font-size: 20px;
            line-height: 28px;
        }

        .article-detail h4 {
            font-size: 18px;
            line-height: 26px;
            margin: 0 0 24px 0;
        }

        h5,
        .article-detail h5 {
            font-size: 16px;
            line-height: 24px;
            margin: 0 0 24px 0;
        }

        h6,
        .article-detail h6 {
            font-size: 14px;
            line-height: 20px;
            margin: 0 0 24px 0;
        }

        .item-body h2,
        .post-card-description h3,
        .my-property .my-heading {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 8px 0;
            font-weight: 500;
            text-transform: inherit;
            text-align: inherit;
        }

        .module-title h2 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 10px 0;
            font-weight: 500;
            text-transform: inherit;
            text-align: inherit;
        }

        .module-title .sub-heading {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            text-transform: inherit;
            text-align: inherit;
        }

        .houzez-module .module-title-nav .sub-title {
            font-size: 16px;
            line-height: 18px;
            margin: 8px 0 0 0;
            font-weight: 300;
            text-transform: inherit;
            text-align: inherit;
        }

        .item-thumb .hover-effect:before,
        figure .hover-effect:before,
        .carousel-module .carousel .item figure .hover-effect:before,
        .item-thumb .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb .slick-slide:before,
        figure .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure .slick-slide:before {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, .75) 100%);
        }

        .slideshow .slide .slick-prev:hover,
        .slideshow .slideshow-nav .slick-prev:hover,
        .slideshow .slide .slick-next:hover,
        .slideshow .slideshow-nav .slick-next:hover,
        .slideshow .slide .slick-prev:focus,
        .slideshow .slideshow-nav .slick-prev:focus,
        .slideshow .slide .slick-next:focus,
        .slideshow .slideshow-nav .slick-next:focus
        .item-thumb:hover .hover-effect:before,
        figure:hover .hover-effect:before,
        .carousel-module .carousel .item figure:hover .hover-effect:before,
        .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
        figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure:hover .slick-slide:before,
        .item-thumb:hover .hover-effect:before,
        figure:hover .hover-effect:before,
        .carousel-module .carousel .item figure:hover .hover-effect:before,
        .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
        figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
        .slideshow .slideshow-nav-main figure:hover .slick-slide:before {
            color: #fff;
            background-color: rgba(255, 255, 255, .5);
        }

        .figure-grid .detail h3,
        .detail-above.detail h3 {
            color: #fff;
        }

        .detail-bottom.detail h3 {
            color: #000;
        }

        .agent-contact a {
            font-weight: 700;
        }

        .label-status {
            background-color: #333;
            font-weight: 700;
        }

        .read .fa {
            top: 1px;
            position: relative;
        }

        .label-primary,
        .fave-load-more a,
        .widget_tag_cloud .tagcloud a,
        .pagination-main .pagination li.active a,
        .other-features .btn.btn-secondary,
        .my-menu .active am {
            font-weight: 500;
        }

        .header-detail.table-cell .header-right {
            margin-top: 27px;
        }

        .header-detail h1 .actions span, .header-detail h4 .actions span {
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 3px;
        }

        .header-detail .property-address {
            color: #707070;
            margin-top: 12px;
        }

        .white-block {
            padding: 40px;
        }

        .wpb_text_column ul,
        .wpb_text_column ol {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
        }

        #sidebar .widget_houzez_latest_posts img {
            max-width: 90px;
            margin-top: 0;
        }

        #sidebar .widget_houzez_latest_posts .media-heading,
        #sidebar .widget_houzez_latest_posts .read {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
        }

        #sidebar .widget-range .dropdown-toggle,
        .bootstrap-select.btn-group,
        .search-long .search input,
        .advanced-search .search-long .advance-btn,
        .splash-search .dropdown-toggle {
            font-weight: 400;
            color: #959595 !important;
            font-size: 15px;
        }

        .advanced-search .input-group .form-control {
            border-left-width: 0;
        }

        .location-select {
            max-width: 170px;
        }

        .vegas-overlay {
            opacity: 1;
            background-image: url(http://localhost/houzez13//static/wp-content/uploads/2016/03/bg-video-1.png);
        }

        .label-color-289 {
            background-color: #dd3333;
        }

        .label-color-1335 {
            background-color: #cbb492;
        }

        .header-mobile .header-logo img {
            width: 127px;
            max-height: 24px;
        }

        .user-dashboard-left,
        .board-header {
            background-color: #000000;
        }

        .board-panel-menu > li a,
        .board-header .board-title,
        .board-header .breadcrumb > .active,
        .board-header .breadcrumb li:after,
        .board-header .steps-progress-main {
            color: #ffffff;
        }

        .board-panel-menu > li.active {
            color: #e4192b;
        }

        .board-panel-menu .sub-menu {
            background-color: #303030;
        }

        .board-panel-menu .sub-menu > li.active > a, .board-panel-menu > li a:hover {
            color: #e4192b;
        }

        #ihf-main-container .btn-primary,
        #ihf-main-container .ihf-map-search-refine-link,
        #ihf-main-container .ihf-map-search-refine-link {
            background-color: #cbb492;
            border-color: #cbb492;
            color: #fff;
        }

        #ihf-main-container .btn-primary:hover,
        #ihf-main-container .btn-primary:focus,
        #ihf-main-container .btn-primary:active,
        #ihf-main-container .btn-primary.active {
            background-color: rgba(203, 180, 146, 0.75);
        }

        #ihf-main-container a {
            color: #0c4f84;
        }

        .ihf-grid-result-basic-info-container,
        #ihf-main-container {
            color: #000000;
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-transform: none;
        }

        #ihf-main-container .fs-12,
        .ihf-tab-pane,
        #ihf-agent-sellers-rep,
        #ihf-board-detail-disclaimer,
        #ihf-board-detail-updatetext {
            font-size: 16px;
        }

        #ihf-main-container .title-bar-1,
        .ihf-map-icon {
            background-color: #0c4f84;
        }

        .ihf-map-icon {
            border-color: #0c4f84;
        }

        .ihf-map-icon:after {
            border-top-color: #0c4f84;
        }

        #ihf-main-container h1,
        #ihf-main-container h2,
        #ihf-main-container h3,
        #ihf-main-container h4,
        #ihf-main-container h5,
        #ihf-main-container h6,
        #ihf-main-container .h1,
        #ihf-main-container .h2,
        #ihf-main-container .h3,
        #ihf-main-container .h4,
        #ihf-main-container .h5,
        #ihf-main-container .h6,
        #ihf-main-container h4.ihf-address,
        #ihf-main-container h4.ihf-price {
            font-family: Lato;
            font-weight: 400;
            text-transform: capitalize;
            text-align: inherit;
        }

        /* content
    /* ------------------------------------------------------------------------ */
        #section-body {
            padding-bottom: 0;
        }

        /* visual composer parallax
        /* ------------------------------------------------------------------------ */
        .vc_parallax:after {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            width: 100%;
            height: 100% !important;
            content: '';
            display: block;
            visibility: visible !important;
        }

        .vc_parallax .vc_parallax-inner {
            background-attachment: fixed !important;
        }

        .vc_parallax .module-title {
            padding: 0 !important;
        }

        /* module titles
        /* ------------------------------------------------------------------------ */
        .module-title h2 {
            margin: 0 0 5px 0;
        }
    </style>
    <link rel='stylesheet' id='js_composer_front-css'
          href='/static/wp-content/plugins/js_composer/assets/css/js_composer.min8b06.css?ver=5.4.7' type='text/css'
          media='all'/>
    <script type='text/javascript' src='/static/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/static/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='/static/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.minf1f1.js?ver=5.4.7.3'></script>
    <script type='text/javascript'
            src='/static/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.minf1f1.js?ver=5.4.7.3'></script>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/static/wp-includes/wlwmanifest.xml"/>
    <link rel="canonical" href="index.html"/>
    <link rel='shortlink' href='index.html'/>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=217780371604666";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://houzez12.favethemes.com//static/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen">
    <![endif]-->
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.7.3 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."/>
    <script type="text/javascript">function setREVStartSize(e) {
        try {
            e.c = jQuery(e.c);
            var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
            if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                var u = (e.c.width(), jQuery(window).height());
                if (void 0 != e.fullScreenOffsetContainer) {
                    var c = e.fullScreenOffsetContainer.split(",");
                    if (c) jQuery.each(c, function (e, i) {
                        u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                    }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                }
                f = u
            } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
            e.c.closest(".rev_slider_wrapper").css({height: f})
        } catch (d) {
            console.log("Failure at Presize of Slider:" + d)
        }
    }
    ;</script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1511899077154 {
        background-color: #ffffff !important;
    }

    .vc_custom_1512599331652 {
        background-color: #f7f7f7 !important;
    }

    .vc_custom_1512600668991 {
        background-color: #ffffff !important;
    }

    .vc_custom_1511894235276 {
        margin-top: 55px !important;
    }

    .vc_custom_1512587183226 {
        margin-top: -15px !important;
    }</style>
    <noscript>
        <style type="text/css"> .wpb_animate_when_almost_visible {
            opacity: 1;
        }</style>
    </noscript>
</head>
<body class="home page-template page-template-template page-template-template-homepage page-template-templatetemplate-homepage-php page page-id-194 transparent-yes wpb-js-composer js-comp-ver-5.4.7 vc_responsive">
<div id="fb-root"></div>

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">


            </div>
        </div>
    </div>
</div>
{% include 'includes/header.html' %}
{% block content %}
{% endblock %}

<!--start footer section-->
{% include 'includes/footer2.html' %}
<!--end footer section-->

<script>(function () {
    function addEventListener(element, event, handler) {
        if (element.addEventListener) {
            element.addEventListener(event, handler, false);
        } else if (element.attachEvent) {
            element.attachEvent('on' + event, handler);
        }
    }

    function maybePrefixUrlField() {
        if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields && urlFields.length > 0) {
        for (var j = 0; j < urlFields.length; j++) {
            addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
        }
    }
    /* test if browser supports date fields */
    var testInput = document.createElement('input');
    testInput.setAttribute('type', 'date');
    if (testInput.type !== 'date') {

        /* add placeholder & pattern to all date fields */
        var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
        for (var i = 0; i < dateFields.length; i++) {
            if (!dateFields[i].placeholder) {
                dateFields[i].placeholder = 'YYYY-MM-DD';
            }
            if (!dateFields[i].pattern) {
                dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
            }
        }
    }

})();</script>
<link rel='stylesheet' property='stylesheet' id='rs-icon-set-fa-icon-css'
      href='/static/wp-content/themes/houzez/css/font-awesome.min1849.css' type='text/css'
      media='all'/>
<script type="text/javascript">
    function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
        jQuery(sliderID).show().html(errorMessage);
    }
</script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {
        "apiSettings": {
            "root": "http:\/\/houzez12.favethemes.com\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        }, "recaptcha": {"messages": {"empty": "Please verify that you are not a robot."}}, "cached": "1"
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='/static/wp-content/plugins/contact-form-7/includes/js/scripts972f.js?ver=5.0.1'></script>
<script type='text/javascript' src='/static/wp-content/themes/houzez/js/bootstrap.min46df.js?ver=3.3.5'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var hz_plugin = {
        "rating_terrible": "Terrible",
        "rating_poor": "Poor",
        "rating_average": "Average",
        "rating_vgood": "Very Good",
        "rating_exceptional": "Exceptional"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='/static/wp-content/themes/houzez/js/pluginsaff7.js?ver=1.6.0'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4'></script>
<script type='text/javascript'>
    jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
            "closeText": "Close",
            "currentText": "Today",
            "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            "nextText": "Next",
            "prevText": "Previous",
            "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
            "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
            "dateFormat": "MM d, yy",
            "firstDay": 1,
            "isRTL": false
        });
    });
</script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/wp-a11y.min1845.js?ver=4.9.6'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var uiAutocompleteL10n = {
        "noResults": "No results found.",
        "oneResult": "1 result found. Use up and down arrow keys to navigate.",
        "manyResults": "%d results found. Use up and down arrow keys to navigate.",
        "itemSelected": "Item selected."
    };
    /* ]]> */
</script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
<script type='text/javascript' src='/static/wp-includes/js/jquery/jquery.ui.touch-punchc682.js?ver=0.2.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var HOUZEZ_ajaxcalls_vars = {
        "admin_url": "{{ request.base_url }}",
        "houzez_rtl": "no",
        "redirect_type": "same_page",
        "login_redirect": "http:\/\/houzez12.favethemes.com",
        "login_loading": "Sending user info, please wait...",
        "direct_pay_text": "Processing, Please wait...",
        "user_id": "0",
        "transparent_menu": "yes",
        "simple_logo": "http:\/\/houzez12.favethemes.com\//static/wp-content\/uploads\/2018\/05\/logo-houzez-white-1.png",
        "retina_logo": "http:\/\/houzez12.favethemes.com\//static/wp-content\/uploads\/2018\/05\/logo-houzez-white@2x-1.png",
        "retina_logo_mobile": "http:\/\/houzez12.favethemes.com\//static/wp-content\/uploads\/2018\/05\/logo-houzez-white@2x-1.png",
        "retina_logo_mobile_splash": "http:\/\/houzez12.favethemes.com\//static/wp-content\/uploads\/2018\/05\/logo-houzez-white@2x-1.png",
        "retina_logo_splash": "http:\/\/houzez12.favethemes.com\//static/wp-content\/uploads\/2018\/05\/logo-houzez-white@2x-1.png",
        "retina_logo_height": "24",
        "retina_logo_width": "127",
        "property_lat": "",
        "property_lng": "",
        "property_map": "",
        "property_map_street": "",
        "is_singular_property": "",
        "process_loader_refresh": "fa fa-spin fa-refresh",
        "process_loader_spinner": "fa fa-spin fa-spinner",
        "process_loader_circle": "fa fa-spin fa-circle-o-notch",
        "process_loader_cog": "fa fa-spin fa-cog",
        "success_icon": "fa fa-check",
        "set_as_featured": "Set as Featured",
        "remove_featured": "Remove From Featured",
        "prop_featured": "Featured",
        "featured_listings_none": "You have used all the \"Featured\" listings in your package.",
        "prop_sent_for_approval": "Sent for Approval",
        "paypal_connecting": "Connecting to paypal, Please wait... ",
        "mollie_connecting": "Connecting to mollie, Please wait... ",
        "confirm": "Are you sure you want to delete?",
        "confirm_featured": "Are you sure you want to make this a featured listing?",
        "confirm_featured_remove": "Are you sure you want to remove from featured listing?",
        "confirm_relist": "Are you sure you want to relist this property?",
        "delete_property": "Processing, please wait...",
        "delete_confirmation": "Are you sure you want to delete?",
        "not_found": "We didn't find any results",
        "for_rent": "for-rent",
        "for_rent_price_range": "for-rent",
        "currency_symbol": "{{view.currency}}",
        "advanced_search_widget_min_price": "{{ view.min_buy }}",
        "advanced_search_widget_max_price": "{{ view.max_buy }}",
        "advanced_search_min_price_range_for_rent": "{{ view.min_rent }}",
        "advanced_search_max_price_range_for_rent": "{{ view.max_rent }}",
        "advanced_search_widget_min_area": "50",
        "advanced_search_widget_max_area": "13000",
        "advanced_search_price_slide": "1",
        "fave_page_template": "template-homepage.php",
        "google_map_style": "[\r\n    {\r\n        \"featureType\": \"all\",\r\n        \"stylers\": [\r\n            {\r\n                \"saturation\": 0\r\n            },\r\n            {\r\n                \"hue\": \"#e7ecf0\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"road\",\r\n        \"stylers\": [\r\n            {\r\n                \"saturation\": -70\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"transit\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"poi\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"off\"\r\n            }\r\n        ]\r\n    },\r\n    {\r\n        \"featureType\": \"water\",\r\n        \"stylers\": [\r\n            {\r\n                \"visibility\": \"simplified\"\r\n            },\r\n            {\r\n                \"saturation\": -60\r\n            }\r\n        ]\r\n    }\r\n]",
        "googlemap_default_zoom": "1",
        "googlemap_pin_cluster": "yes",
        "googlemap_zoom_cluster": "6",
        "map_icons_path": "",
        "infoboxClose": "",
        "clusterIcon": "",
        "google_map_needed": "",
        "paged": "1",
        "search_result_page": "half_map",
        "search_keyword": "",
        "search_country": "",
        "search_state": "",
        "search_city": "",
        "search_feature": "",
        "search_area": "",
        "search_status": "",
        "search_label": "",
        "search_type": "",
        "search_bedrooms": "",
        "search_bathrooms": "",
        "search_min_price": "",
        "search_max_price": "",
        "search_currency": "",
        "search_min_area": "",
        "search_max_area": "",
        "search_property_id": "",
        "search_publish_date": "",
        "search_no_posts": "10",
        "search_location": "",
        "use_radius": "on",
        "search_lat": "",
        "search_long": "",
        "search_radius": "",
        "transportation": "Transportation",
        "supermarket": "Supermarket",
        "schools": "Schools",
        "libraries": "Libraries",
        "pharmacies": "Pharmacies",
        "hospitals": "Hospitals",
        "sort_by": "",
        "measurement_updating_msg": "Updating, Please wait...",
        "autosearch_text": "Searching...",
        "currency_updating_msg": "Updating Currency, Please wait...",
        "currency_position": "before",
        "submission_currency": "USD",
        "wire_transfer_text": "To be paid",
        "direct_pay_thanks": "Thank you. Please check your email for payment instructions.",
        "direct_payment_title": "Direct Payment Instructions",
        "direct_payment_button": "SEND ME THE INVOICE",
        "direct_payment_details": "Please send payment to\u00a0<strong>Houzez Inc<\/strong>. <br\/>\r\n\r\nBank Account -\u00a0<strong>BWA7849843FAVE007<\/strong>\u00a0\u00a0<br\/>\r\n\r\nPlease include the invoice number in payment details Thank you for your business with us! <br\/>",
        "measurement_unit": "sqft",
        "header_map_selected_city": [],
        "thousands_separator": ",",
        "current_tempalte": "template\/template-homepage.php",
        "monthly_payment": "Monthly Payment",
        "weekly_payment": "Weekly Payment",
        "bi_weekly_payment": "Bi-Weekly Payment",
        "compare_button_url": "",
        "template_thankyou": "",
        "compare_page_not_found": "Please create page using compare properties template",
        "property_detail_top": "v1",
        "keyword_search_field": "prop_title",
        "keyword_autocomplete": "1",
        "houzez_date_language": "",
        "houzez_default_radius": "30",
        "enable_radius_search": "0",
        "enable_radius_search_halfmap": "1",
        "houzez_primary_color": "#0c4f84",
        "geocomplete_country": "",
        "houzez_logged_in": "no",
        "ipinfo_location": "0",
        "gallery_autoplay": "1",
        "stripe_page": "",
        "twocheckout_page": "",
        "custom_fields": "[]",
        "houzez_reCaptcha": "0"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='/static/wp-content/themes/houzez/js/houzez_ajax_callsaff7.js?ver=1.6.0'></script>
<script type='text/javascript' src='/static/wp-content/themes/houzez/js/customaff7.js?ver=1.6.0'></script>
<script type='text/javascript'
        src='/static/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min8b06.js?ver=5.4.7'></script>
<script type='text/javascript' src='/static/wp-includes/js/wp-embed.min1845.js?ver=4.9.6'></script>
<script type='text/javascript'
        src='/static/wp-content/plugins/js_composer/assets/lib/bower/skrollr/dist/skrollr.min8b06.js?ver=5.4.7'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript'
        src='/static/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min50fa.js?ver=4.2.1'></script>
<script>
    jQuery(document).ready(function ($) {
        $(".currency").each(function () {
            $(this).on("click", function () {
                var key = $(this).attr('id');
                $.ajax({
                    url: '/currency/',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify([key]),
                    processData: false,
                    success: function () {
                        location.reload(true);
                    },
                    error: function () {
                        location.reload(true);
                    }
                });

            });
        });
        $(".language").each(function () {
            $(this).on("click", function () {
                var key = $(this).attr('id');
                $.ajax({
                    url: '/language/',
                    dataType: 'json',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify([key]),
                    processData: false,
                    success: function () {
                        location.reload(true);
                    },
                    error: function () {
                        location.reload(true);
                    }
                });

            });
        });
    });
</script>
<link href="/static/vendors/bower_components/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet"
      type="text/css">
<script src="/static/vendors/bower_components/air-datepicker/dist/js/datepicker.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>

</html>