{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1 style="text-transform: none">Едем на Пхукет с детьми: приключения только
                                            начинаются</h1>
                                    </div>
                                </div>
                                <div>

                                    <p>Отправляясь на Пхукет вместе с детьми, будьте уверены в том, что им очень
                                        понравится в этом райском месте. Они получат незабываемые впечатления и яркие
                                        эмоции, побывав на экскурсиях, составленных с учетом интересов маленьких
                                        туристов.
                                    </p>

                                    <p><strong>Зоопарк</strong></p>

                                    <p>Дошкольники и ребята постарше, посетив его, останутся довольны увиденным.
                                        Зверинец просто потрясающий: на общение с животными можно потратить и полдня,
                                        время пролетит незаметно. А от шоу, в котором участвуют слоны и крокодилы, дети
                                        вообще окажутся в восторге. День в зоопарке, который принял первых посетителей в
                                        1997 году, пройдет весело и с пользой. Туристов рады видеть здесь каждый день с
                                        9 до 18 часов.
                                    </p>

                                    <p><strong>Аквариум</strong></p>

                                    <p>В нем содержится практически вся флора и фауна морских широт Пхукета. Это не
                                        только место, где можно ознакомиться с обитателями подводного мира, увидев их в
                                        привычной обстановке, но и узнать, какие исследования проводятся на базе
                                        аквариума при поддержке Министерства природных ресурсов Таиланда. Зеленые
                                        черепахи, популяция которых находится под контролем местных властей, на Пхукете
                                        в особом почете, их специально разводят на острове. Пожалуй, самая
                                        запоминающаяся часть экскурсии – это встреча с огромными скатами, черепахами,
                                        которые содержатся в стеклянном тоннеле. Аквариум для посетителей открыт с 8.30
                                        до 16 часов.
                                    </p>

                                    <p>Кстати, он располагается на мысе Панва. Добраться сюда довольно просто, ведь на
                                        мыс туристов доставляют централизованно - группами в сопровождении экскурсовода,
                                        поэтому не важно, где вам удалось снять дом на Пхукете.
                                    </p>

                                    <p><strong>Дино-парк</strong>
                                    </p>

                                    <p>Посещение этого уникального гольф-парка не оставит равнодушным ни детей, ни
                                        взрослых. Дино-парк населен гигантскими динозаврами, что скрываются от солнца и
                                        посетителей под растениями, имеющими такие же недюжинные размеры, рядом с
                                        водопадом, вулканом, в запутанных ходах пещеры. Дополняет картину световое и
                                        звуковое шоу, так что встреча с динозаврами, произошедшая неподалеку от пляжей
                                        Ката и Карон, надолго останется в памяти. Работает парк до позднего вечера – 23
                                        часов.
                                    </p>

                                    <p><strong>Парк птиц</strong></p>

                                    <p>Это частное владение, появившееся на Пхукете в 2013 году. Его нельзя назвать
                                        большим, но птицам, собранным со всех континентов, здесь вольготно. Для их
                                        комфортного проживания созданы оптимальные условия, есть и водоемы, и водопад.
                                        На аллеях парка необычайно красиво за счет встречающихся здесь малых
                                        архитектурных композиций, фигурок пернатых, сделанных из дерева. Трижды в день
                                        для посетителей устраивается шоу с птицами. Парк контактный, так что его
                                        обитателей можно покормить и при желании погладить.
                                    </p>

                                    <p><strong>Аквапарк</strong></p>

                                    <p>Поход на пляж Май Као невозможно себе представить без посещения аквапарка Splash
                                        Jungle. Он расположен в живописном месте, как и подавляющее большинство объектов
                                        недвижимости. Кстати, аренда жилья на Пхукете не такая уж дорогая и можно
                                        поселиться рядом с парками развлечений. В этом, например, занимающем 22 тысячи
                                        кв.м., воссоздано несколько континентов, по территории которых проходит
                                        «закольцованная» река. Отправившись по ней в плавание, вы получите заряд
                                        хорошего настроения. Пока дети отдыхают, взрослые могут посетить сауну или спа
                                        салон.
                                    </p>

                                    <p>Кроме того, не будет скучно с детьми и в тигрином зоопарке, в Ботаническом саду.
                                        Посетив их, вы лучше узнаете Таиланд.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}