{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h2>
                                            Экскурсии для туристов в Таиланде</h2>
                                    </div>
                                </div>
                                <div class="row grid-row" style="overflow: hidden; ">
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1509352677_1895452876_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>3600 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">Симиланские острова 1 день на
                                                            комфортабельном катамаране</h3>
                                                        <h6>Симиланские острова</h6>
                                                        Симиланские острова - одни из самых красивых, популярных и
                                                        посещяемых островов. Монументальные гранитные скалы, белоснежные
                                                        коралловые пляжи, густой тропический лес и прозрач<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1509345655_335947642_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>3600 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">
                                                            Острова Ко Рок + Ко Ха на 1 день на катамаране</h3>
                                                        <h6>Острова Ко Рок + Ко Ха</h6>
                                                        Данная программа подходит для тех, кто любит спокойный отдых,
                                                        уединение, а также подводный мир. На островах Рок и Ха один из
                                                        лучших снорклингов среди всех морских экскурсий.<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1492394283_1180965796_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>3390 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">Острова Джеймс Бонд, Краби и Пи-Пи
                                                            за один день - 3 сокровища Андаманского моря</h3>
                                                        Самая интересная, активная и насыщенная экскурсия — за один день
                                                        вы посетите все самые известные и популярные острова и места
                                                        Южного Таиланда: остров<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1509355783_547926316_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>5900 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">12 островов Андаманского моря (2
                                                            дня)</h3>
                                                        <h6>Острова Андаманского моря</h6>
                                                        Эта экскурсия для тех, кто жаждет впечатлений — за два дня вы
                                                        сможете увидеть все острова Андаманского моря: остров Джеймса
                                                        Бонда и провинция Пханг Нга,<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1494479673_1234509242_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>1000 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">Королевское шоу с дельфинами</h3>
                                                        Дельфинарий "Nemo Dolphins Bay" приглашает Вас на королевское
                                                        шоу дельфинов и морских котиков! Эти великолепные морские
                                                        животные откроют для Вас<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1494485249_1479982348_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>5000 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">Дайвинг с дельфинами</h3>
                                                        Прикоснитесь к мечте о подводном царстве во время увлекательного
                                                        королевского дайвинга с дельфинами!
                                                        <br>В Пхукетском дельфинарии при погружении в воду<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                        <div class="item-wrap">
                                            <div id="post-637"
                                                 class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                <div class="figure-block">
                                                    <figure class="item-thumb">
                                                        <a href="#"
                                                           class="hover-effect">
                                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/150x250-37_1494483027_1685160049_fullsize@2x.png">

                                                        </a>
                                                        <figcaption class="thumb-caption clearfix">
                                                            <div class="file-type pull-left">
                                                                <h4>5000 THB</h4>
                                                            </div>
                                                        </figcaption>
                                                    </figure>
                                                </div>

                                                <div class="post-card-body">

                                                    <div class="post-card-description eq-width">
                                                        <h3 class="post-card-title">Королевское плаванье с дельфинами на
                                                            Пхукете</h3>
                                                        Мечтаете совершить увлекательный заплыв с дельфинами? Мы готовы
                                                        осуществить Вашу мечту в дельфинарии "Phuket Dolphins Bay" на
                                                        Пхукете! Эти<br>
                                                        <a href="#"
                                                           class="read">Подробнее<i
                                                                class="fa fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.figure-block > figure > a > img {
            height: 200px;
        }
        .eq-width {
            height: 450px;
        }
    </style>
{% endblock %}