{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="page-title breadcrumb-top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-left">
                            <h1 class="title-head" style="text-transform: none">
                                Вопросы и ответы</h1>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section-detail-content default-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="page-main">
                                <div class="article-detail">
                                    <article id="post-659" class="post-659 page type-page status-publish hentry">
                                        <div class="entry-content">

                                            <div class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h2 style="text-transform: none">Продажа
                                                                        недвижимости</h2>
                                                                </div>
                                                            </div>
                                                            {% for q,a in FAQ.sell.items %}
                                                                <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                    <div class="vc_toggle_title">
                                                                        <h4 style="text-transform: none">{{ q }}</h4>
                                                                        <i class="vc_toggle_icon"></i>
                                                                    </div>
                                                                    <div class="vc_toggle_content"
                                                                         style="display: none;">
                                                                        <p>{{ a|linebreaksbr }}</p>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h2 style="text-transform: none">Аренда
                                                                        недвижимости</h2>
                                                                </div>
                                                            </div>
                                                            {% for q,a in FAQ.rent.items %}
                                                                <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                    <div class="vc_toggle_title">
                                                                        <h4 style="text-transform: none">{{ q }}</h4>
                                                                        <i class="vc_toggle_icon"></i>
                                                                    </div>
                                                                    <div class="vc_toggle_content"
                                                                         style="display: none;">
                                                                        <p>{{ a|linebreaksbr }}</p>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </article><!-- #post-## -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
{% endblock %}