{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>Фотогалерея</h1>
                                    </div>
                                </div>
                                <div>
                                    <p>Мы отобрали для вас лучшие виды острова Пхукет. Красивые виды, яркие эмоции,
                                        незабываемые впечатления! Погрузитесь в волшебный мир Пхукета!</p>

                                    <div id="owl-demo" class="owl-carousel owl-theme">
                                        {% for url in urls %}
                                            <div class="item"><img class="img-responsive" style="height:200px;"
                                                                   src="{{ url }}"
                                                                   alt=""></div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script>
        jQuery(document).ready(function ($) {
            $("#owl-demo").owlCarousel({

                navigation: true, // Show next and prev buttons
                slideSpeed: 200,
                paginationSpeed: 400,
                items: 3,
{#                singleItem: true,#}
                autoplay: true,
                autoplayTimeout: 3000,
                autoHeight: true

            });
        });

    </script>
    <style>
        .owl-carousel .owl-stage {
            display: flex;
        }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
            padding-left: 10px;
            height: 100%;
        }</style>
{% endblock %}