{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        {% include 'includes/revslider.html' %}
        <div class="container">
            {% include 'includes/search_expandable.html' %}
            <div class="vc_row-full-width vc_clearfix"></div>
            {% include 'includes/index_agents.html' %}
            <div class="vc_row-full-width vc_clearfix"></div>
            {% include 'includes/index_featured.html' %}
            <div class="vc_row-full-width vc_clearfix"></div>
            {% include 'includes/prop_by_district.html' %}
            <div class="vc_row-full-width vc_clearfix"></div>
{#            {% include 'includes/index_about.html' %}#}
            <div class="vc_row-full-width vc_clearfix"></div>
            <div data-vc-full-width="true" data-vc-full-width-init="false"
                 class="vc_row wpb_row vc_row-fluid vc_custom_1512600668991 vc_row-has-fill">
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="vc_empty_space" style="height: 55px"><span class="vc_empty_space_inner"></span>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2 style="text-align: center;text-transform: none;">Подпишитесь на рассылку
                                        спецпредложений</h2>

                                    <p style="text-align: center;">Будь первым кто узнает о лучших вариантах для
                                        отдыха!</p>

                                </div>
                            </div>

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p style="text-align: center;">
                                        <script>(function () {
                                            if (!window.mc4wp) {
                                                window.mc4wp = {
                                                    listeners: [],
                                                    forms: {
                                                        on: function (event, callback) {
                                                            window.mc4wp.listeners.push({
                                                                event: event,
                                                                callback: callback
                                                            });
                                                        }
                                                    }
                                                }
                                            }
                                        })();
                                        </script>
                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1251" method="post"
                                          data-id="1251"
                                          data-name="Footer Form">
                                        <div class="mc4wp-form-fields">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="form-group">
                                                        <div class="input-email input-icon">
                                                            <input class="form-control" type="email" name="EMAIL"
                                                                   required
                                                                   placeholder="Введите email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <button type="submit"
                                                                class="col-sm-2 btn btn-primary btn-block">
                                                            Подписаться
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <label style="display: none !important;">Leave this field empty if you're human:
                                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                                   autocomplete="off"/></label><input type="hidden"
                                                                                      name="_mc4wp_timestamp"
                                                                                      value="1529324397"/><input
                                            type="hidden" name="_mc4wp_form_id" value="1251"/><input type="hidden"
                                                                                                     name="_mc4wp_form_element_id"
                                                                                                     value="mc4wp-form-1"/>

                                        <div class="mc4wp-response"></div>
                                    </form>
                                    </p>

                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 55px"><span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wpb_column vc_column_container vc_col-sm-3">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>


        </div> <!--.container Start in header-->
    </div> <!--Start in header end #section-body-->
{% endblock %}