{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'includes/revslider.html' %}
    <div id="section-body" class="">
        <div class="container">
            {% include 'includes/search_expandable.html' %}
            {% include 'includes/index_single_property.html' %}
            <div class="vc_row-full-width vc_clearfix"></div>
            {% include 'includes/team_parallax.html' %}
        </div>
    </div>
    <button class="scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
{% endblock %}
{% block extra_js %}

{% endblock %}