{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h2>Как стать партнером InDreams Phuket</h2>
                                    </div>
                                </div>
                                <div class="row grid-row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div>
                                            <img src="http://www.indreamsphuket.ru/uploads/page/thumbnails/630x460-partners.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div>
                                            <p>Компания Indreams Phuket - надёжный партнёр в сфере недвижимости в
                                                Таиланде.
                                            </p>

                                            <p>Начинать работу с нашей компанией очень просто. Для этого не требуется
                                                какой-либо стаж в области продаж или в предпринимательской деятельности.
                                                Нужно уметь отыскать или "рассмотреть", "определить" потенциальных
                                                покупателей, которые планируют приобрести недвижимость в Таиланде, после
                                                чего связаться с сотрудниками нашей фирмы. От каждой заключенной сделки
                                                всем партнёрам предприятие предлагает высокое вознаграждение.
                                                Сотрудничество не подразумевает никаких капиталовложений, его легко
                                                сочетать с основной работой на производстве, а это неоспоримые
                                                преимущества партнёрства!</p>
                                            <ul class="detail-amenities-list">
                                                <li class="media" style="width:auto">
                                                    <div class="media-left media-middle"><img
                                                            src="/static/images/iconpack/png/{{ v.1 }}"
                                                            width="50" height="50" alt="Icon"></div>
                                                    <div class="media-body" style="font-size: 16px">
                                                        <strong>партнеры</strong><br>
                                                        физ. и юр. лица
                                                    </div>
                                                </li>
                                                <li class="media" style="width:auto">
                                                    <div class="media-left media-middle"><img
                                                            src="/static/images/iconpack/png/{{ v.1 }}"
                                                            width="50" height="50" alt="Icon"></div>
                                                    <div class="media-body" style="font-size: 16px">
                                                        <strong>обучение</strong><br>
                                                        не требуется
                                                    </div>
                                                </li>
                                                <li class="media" style="width: auto">
                                                    <div class="media-left media-middle"><img
                                                            src="/static/images/iconpack/png/{{ v.1 }}"
                                                            width="50" height="50" alt="Icon"></div>
                                                    <div class="media-body" style="font-size: 16px"><strong>вознаграждение</strong><br>
                                                        от 1 до 3% от цены
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row grid-row">
                                    <div class="col-xs-12">
                                        <h2>Хотите стать нашим партнером?</h2>

                                        <p>
                                            Для этого требуется несложная регистрация. На наш электронный адрес
                                            <a href="mailto:info@indreamsphuket.ru">info@indreamsphuket.ru</a> отправьте
                                            полную информацию о себе.
                                        </p>
                                    </div>
                                </div>
                                <div class="row grid-row">
                                    <div class="col-xs-12">
                                        <h2>Как стать нашим агентом:</h2>

                                        <p>
                                            Для тех кто желает стать агентом нашей фирмы, разработан эффективный
                                            алгоритм, помогающий зарабатывать. Он состоит из нескольких шагов.
                                        </p>
                                        <ul style="padding-left: 15px;">
                                            <li>Сначала надо заключить парнерское соглашение.</li>
                                            <li>Далее найти потенциальных клиентов.</li>
                                            <li>После чего зарегестрировать покупателей недвижимости.</li>
                                            <li>Когда клиент приобретёт недвижимое имущество, вы получите обещанное
                                                вознаграждение.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row grid-row">
                                    <div class="col-xs-12 ">
                                        <div class="page-main">
                                            <div class="article-detail">
                                                <article id="post-659"
                                                         class="post-659 page type-page status-publish hentry">
                                                    <div class="entry-content">

                                                        <div class="vc_row wpb_row vc_row-fluid">
                                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                                <div class="vc_column-inner ">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="text-transform: none">Трудно
                                                                                    ли стать партнёром?
                                                                                </h2>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Кому
                                                                                    можно стать партнёром компании
                                                                                    Indreams Phuket?</h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Партнёрами могут становиться
                                                                                    физические и юридические лица:
                                                                                    какие-либо ограничения, связанные с
                                                                                    местом работы или проживания,
                                                                                    финансовым или социальным статусами
                                                                                    отсутствуют. В числе наших партнёров
                                                                                    люди разных социальных слоёв
                                                                                    общества: студенты, пенсионеры,
                                                                                    бизнесмены, мамочки в декрете и т.
                                                                                    д. Служащие банков, сотрудники
                                                                                    агентств недвижимости, страховых и
                                                                                    туристических организаций к
                                                                                    совместной деятельности с нашей
                                                                                    компанией проявляют особую
                                                                                    заинтересованность. Выполняя свою
                                                                                    главную задачу по поиску клиентов,
                                                                                    готовых приобрести недвижимость,
                                                                                    партнёры увеличивают своё
                                                                                    благосостояние и способствуют
                                                                                    продвижению нашей фирмы.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">
                                                                                    Что я должен сделать, чтобы стать
                                                                                    партнёром?</h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Для этого требуется несложная
                                                                                    регистрация. Наша компания просит
                                                                                    Вас на наш электронный адрес
                                                                                    info@indreamsphuket.ru выслать
                                                                                    полную информацию о себе: нам
                                                                                    хочется иметь о своих партнёрах как
                                                                                    можно больше сведений. Со своей
                                                                                    стороны мы предоставляем Вам данные
                                                                                    об агентстве и партнёрскую программу
                                                                                    с доскональными сведениями о
                                                                                    последующей партнерской
                                                                                    деятельности.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">
                                                                                    Какие данные о себе я обязан
                                                                                    предоставить компании Indreams
                                                                                    Phuket?</h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Будьте любезны, в письме укажите,
                                                                                    пожалуйста, своё полное имя,
                                                                                    возраст, сферу деятельности,
                                                                                    контактный номер телефона, адрес
                                                                                    электронной почты. Нам будет
                                                                                    приятно, если Вы о себе напишете
                                                                                    больше информации. Для обсуждения
                                                                                    дальнейших действий мы свяжемся с
                                                                                    вами по телефону. Мы просим Вас
                                                                                    распечатать и подписать важный
                                                                                    документ Договор о партнёрстве,
                                                                                    отсканировать и переслать по
                                                                                    электронной почте: предстоящие
                                                                                    деловые отношения предполагают
                                                                                    материальные обязательства со
                                                                                    стороны нашей организации. Получив
                                                                                    скан Договора, мы заверяем его
                                                                                    печатью и подписываем, после чего
                                                                                    пересылаем Вам обратно. Оригинал
                                                                                    будет храниться в нашей
                                                                                    организации.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Есть ли
                                                                                    необходимость проходить обучение?
                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>
                                                                                    Для того чтобы стать партнёром не
                                                                                    нужно обучаться на
                                                                                    специализированных курсах,
                                                                                    профессиональные навыки не нужны. А
                                                                                    тем более, если Вы эту деятельность
                                                                                    считаете второстепенной, а не
                                                                                    основной. Фирма с удовольствием
                                                                                    оказывает поддержку тем, кто горит
                                                                                    желанием достичь максимального
                                                                                    успеха, изучить Таиланд, узнать
                                                                                    больше информации о недвижимости,
                                                                                    повысить профессиональный уровень и
                                                                                    стать настоящим мастером своего
                                                                                    дела.
                                                                                </p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="vc_row wpb_row vc_row-fluid">
                                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                                <div class="vc_column-inner ">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="text-transform: none">О
                                                                                    клиентах: кто они такие?</h2>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Кто
                                                                                    может стать моим клиентом?</h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Клиентами мы называем людей, которые
                                                                                    приняли решение приобрести
                                                                                    недвижимое имущество в Таиланде. Ими
                                                                                    могут стать Ваши друзья, знакомые,
                                                                                    родственники, соседи, коллеги по
                                                                                    работе. Они, возможно, когда-либо
                                                                                    мечтали иметь свой дом на берегу
                                                                                    моря. Зная об этом, попытайтесь
                                                                                    рассказать им о преимуществах
                                                                                    покупки дома или квартиры в
                                                                                    Таиланде, в одном из экзотических
                                                                                    уголков планеты, где цены на
                                                                                    недвижимость самые выгодные. В
                                                                                    повествовании дайте понять, что Ваш
                                                                                    клиент может себе позволить
                                                                                    приобрести недвижимость сегодня по
                                                                                    весьма привлекательной стоимости.
                                                                                    Его мечта иметь собственный дом с
                                                                                    балконом, с которого открывается
                                                                                    живописная панорама на морское
                                                                                    побережье, скоро осуществится.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Как
                                                                                    правильно зарегистрировать
                                                                                    клиента?</h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Сделать это не представляет
                                                                                    сложностей. Информацию о клиентах
                                                                                    присылайте на указанный электронный
                                                                                    адрес, охарактеризуйте их запросы.
                                                                                    Ещё можно связаться по телефону с
                                                                                    Вашим персональным менеджером.
                                                                                    Данные клиентов будут
                                                                                    зарегистрированы за Вами.</p>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="vc_row wpb_row vc_row-fluid">
                                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                                <div class="vc_column-inner ">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="text-transform: none">О
                                                                                    сделках</h2>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Кто
                                                                                    будет заниматься моими клиентами?
                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>После передачи нам клиента с ним
                                                                                    ведётся работа, её проводят наши
                                                                                    менеджеры, высококвалифицированные
                                                                                    специалисты с большим стажем и
                                                                                    опытом по работе с недвижимостью в
                                                                                    Таиланде. Они не меньше Вас
                                                                                    заинтересованы в положительном итоге
                                                                                    работы с покупателем, и поэтому
                                                                                    специалисты будут действовать так,
                                                                                    чтобы произошла успешная сделка. Всю
                                                                                    дальнейшую работу, а именно:
                                                                                    переговоры с клиентами, определение
                                                                                    их потребностей, подбор подходящей
                                                                                    недвижимости, организационные
                                                                                    вопросы, связанные с поездкой,
                                                                                    демонстрацию отобранных объектов,
                                                                                    официальное оформление осуществляют
                                                                                    специалисты нашей фирмы.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Какие
                                                                                    существуют гарантии, что я получу
                                                                                    своё вознаграждение?
                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Ваша обеспокоенность нам понятна.
                                                                                    Существует полная гарантия того, что
                                                                                    вы действительно получите
                                                                                    вознаграждение. В наших
                                                                                    взаимоотношениях предусмотрены
                                                                                    основные пункты, которые защищают
                                                                                    Ваши интересы. Такими пунктами
                                                                                    являются:
                                                                                    Подписание Договора о партнёрских
                                                                                    отношениях;
                                                                                    Регистрация клиентов. Благодаря ей
                                                                                    будут соблюдены все условия
                                                                                    партнёрства даже в том случае, если
                                                                                    клиент в дальнейшем самостоятельно
                                                                                    обратится в нашу компанию напрямую;
                                                                                    Для согласования всех действий по
                                                                                    работе с покупателями компания
                                                                                    предоставляет персонального
                                                                                    менеджера.</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Как я
                                                                                    могу узнать, что клиентом совершена
                                                                                    сделка?
                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Наш менеджер на протяжении всего
                                                                                    периода, предшествующего сделки, т.
                                                                                    е. от выбора объекта покупателем, и
                                                                                    до заключения сделки (оплаты
                                                                                    заказанного объекта) сообщает о том,
                                                                                    на какой стадии в данный момент
                                                                                    осуществляется работа. После он
                                                                                    обязан выслать Вам письмо, в котором
                                                                                    подтверждается успешное окончание
                                                                                    работы и подписание сделки клиентом.
                                                                                    С этой минуты Вы можете рассчитывать
                                                                                    на вознаграждение.
                                                                                    Учитывая тот факт, что наша работа
                                                                                    оплачивается не клиентами, а
                                                                                    продавцами недвижимости в Таиланде,
                                                                                    партнёрские деньги выплачиваются
                                                                                    лишь после перечисления продавцами
                                                                                    агентской комиссии на расчётный счёт
                                                                                    компании. Процедура длится 14-30
                                                                                    дней с момента продажи объекта.
                                                                                    Когда приобретается вторичная
                                                                                    недвижимость, сроки сокращаются,
                                                                                    вознаграждение выплачивается в
                                                                                    течение 7-14 дней.</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="vc_row wpb_row vc_row-fluid">
                                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                                <div class="vc_column-inner ">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <h2 style="text-transform: none">
                                                                                    Финансовые условия
                                                                                </h2>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Каким
                                                                                    образом рассчитывается сумма моего
                                                                                    вознаграждения?
                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Начисление партнёрского
                                                                                    вознаграждения обусловлено итоговой
                                                                                    стоимостью купленной клиентом
                                                                                    недвижимости, а также указанной
                                                                                    продавцом комиссионной суммой.
                                                                                    Партнерское вознаграждение обычно
                                                                                    колеблется от 1% до 3% от стоимости
                                                                                    виллы или апартаментов. Для нас не
                                                                                    важно, является ли партнёр
                                                                                    физическим или юридическим лицом:
                                                                                    наше отношение ко всем одинаковое и
                                                                                    на размер вознаграждения статус
                                                                                    партнёра не влияет. Мы выплачиваем
                                                                                    определённую комиссию, прописанную
                                                                                    выше. Детальная информация указана в
                                                                                    Договоре о сотрудничестве. Если у
                                                                                    Вас возникают вопросы, задавайте их
                                                                                    менеджеру, работающему с Вами и
                                                                                    Вашими клиентами. Сотрудник
                                                                                    проконсультирует Вас в любое удобное
                                                                                    время.</p>
                                                                            </div>
                                                                        </div>

                                                                        <div class="vc_toggle vc_toggle_default vc_toggle_color_default  vc_toggle_size_md">
                                                                            <div class="vc_toggle_title">
                                                                                <h4 style="text-transform: none">Как мне
                                                                                    можно получить вознаграждение?

                                                                                </h4>
                                                                                <i class="vc_toggle_icon"></i>
                                                                            </div>
                                                                            <div class="vc_toggle_content"
                                                                                 style="display: none;">
                                                                                <p>Партнёрское вознаграждение
                                                                                    выплачивается методом перевода
                                                                                    финансов на расчётный счёт партнёра,
                                                                                    который указывается в подписанном
                                                                                    Договоре о партнёрстве в графе
                                                                                    "Реквизиты", либо в другой форме,
                                                                                    удобной для обеих сторон, например,
                                                                                    перевод Western Union, наличный
                                                                                    расчёт и т. д.</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .entry-content -->
                                                </article><!-- #post-## -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.figure-block > figure > a > img {
            height: 200px;
        }
    </style>
{% endblock %}