{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>
                                            Лагуна - жемчужина Пхукета
                                        </h1>
                                    </div>
                                </div>
                                <div class="">
                                    <p><img src="http://www.indreamsphuket.ru/uploads/laguna.png" alt="Шикарная Laguna Outrigger village на Пхукете"
                                            style="display: block;float: left;margin-left: -25px;margin-top: 20px;padding: 0 14px 0 1px;width: 170px;">
                                    </p>

                                    <p>Laguna Phuket - это самый солидный район острова Пхукет. Это уникальный курорт и
                                        аналогов Вы не встретите больше нигде во всей Азии!</p>

                                    <p>Курорт расположен в живописном месте на севере острова всего в 20 минутах от
                                        международного аэропорта Пхукета. Курорт прилегает к пляжу Бангтао,
                                        протяженность которого составляет 13 километров, а курорт Laguna занимает 3
                                        километра береговой линии.</p>

                                    <p>На территории 1000 акров соседствуют ухоженные деревья и уникальные озёра,
                                        создавая невероятной красоты пейзажи. В тропический ландшафт аккуратно вписаны 4
                                        и 5* отели, а также респектабельные жилые комплексы с виллами. Здесь Вы найдете
                                        все, что принято связывать с роскошным образом жизни и только состоятельный
                                        человек может себе позволить отдых в этом чудесном месте.</p>

                                    <p>Инфраструктура курорта поражает воображение - пляжный клуб Xana, спа-центры,
                                        теннисные корты, гольф-поле, магазины, рестораны, шатл-сервис и речные
                                        трамвайчики, которые курсируют по живописным озерам между отелями.</p>

                                    <p>Владельцы недвижимости могут вступить в инновационную программу Sanctuary Club
                                        под брендом Banyan Tree Group. Программа обеспечит бесплатное проживание в
                                        течении 15 дней в любом объекте сети по всеми миру, а также внушительные скидки
                                        на пользование инфраструктурой курорта Лагуна.</p>

                                    <p>В Лагуне находится просто колоссальное количество 4-5* отелей и роскошных
                                        комплексов с виллами. Все постройки аккуратно вписаны в ухоженный тропический
                                        ландшафт вокруг живописных озер. Словом, курорт Laguna - это сочетание лучшей
                                        недвижимости острова с развитой туристической инфраструктурой. Лагуна по праву
                                        заслужила звание самого элитного района острова!</p>

                                    <p>К тому же, это идеальное место для отдыха с детьми!</p>

                                    <p>Близость туристической инфраструктуры и белоснежного пляжа обеспечит Вам
                                        незабываемый отдых! Вы будете жить в абсолютно безопасном окружении и в самом
                                        престижном месте на острове. Поверьте, высокий уровень сервиса в окружении
                                        чудесной тропической природы, подарит Вам незабываемый отпуск!
                                        Жемчужина курорта - это 5* отель Angsana Villas Phuket (Laguna Outrigger
                                        Villas).
                                        Ухоженные лужайки и аккуратные дорожки для прогулок, 2 общих бассейна с детскими
                                        зонами, детский клуб и ресторан со специальным детским меню - идеально просто
                                        все! По территории отеля практически не ходит транспорт, поэтому малыши могут
                                        спокойно гулять на лужайках, а родители не переживать за них. Стоит отметить,
                                        что детям всегда легко найти себе компанию, так как детей здесь действительно
                                        много, причем независимо от сезона. Приятное соседство как для Вас, так и Ваших
                                        детей.</p>

                                    <p>Курорт пропитан атмосферой уюта, комфорта и шика. Приезжайте и сами почувствуйте
                                        всю прелесть проживания в Лагуне! Ведь лучше один раз увидеть, чем сто раз
                                        услышать!</p>

                                    <p><img  src="http://www.indreamsphuket.ru/uploads/laguna/14-lg.jpg"></p>

                                    <p><img
                                            src="http://www.indreamsphuket.ru/uploads/laguna/LP-aerial-Property-version.jpg"></p>

                                    <p><img src="http://www.indreamsphuket.ru/uploads/laguna/angsana-laguna-2.jpg"></p>

                                    <p><img class="laguna" src="http://www.indreamsphuket.ru/uploads/laguna/map-ru.jpeg"></p></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}