{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h2>{{ title }}</h2>
                                    </div>
                                </div>
                                <div class="row" style="transform: none;">
                                    <div class="col-xs-12">
                                        <div class="article-main">
                                            {% for a in articles %}
                                                <article id="{{ a.Id }}"
                                                         class="blog-article {{ a.Id }} post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">

                                                    <div class="article-media">
                                                        <a class="post-thumbnail"
                                                           href="{% url 'news' %}{{ a.slug }}">
                                                            {{ a.main_image|safe }}
                                                        </a>
                                                    </div>


                                                    <div class="article-detail">
                                                        <h1 class="article-title" style="font-size: 22px;"><a
                                                                href="{% url 'news' %}{{ a.slug }}"
                                                                rel="bookmark">{{ a.Name }}</a></h1>
                                                        {{ a.preview|safe }}
                                                    </div>
                                                </article>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    img {
        width: 100%;
    }
    </style>
{% endblock %}