{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <!--start agents carousel module-->
                            <div id="partner-carousel-module" class="houzez-module agents-carousel-module">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="module-title-nav clearfix">
                                            <div>
                                                <h2 style="text-transform: none"> Наши партнеры</h2>

                                                <h3 class="sub-title">Партнеры нашей компании - ведущие крупнейшие
                                                    застройщики и девелоперы, работающие в Таиланде и на Пхукете.</h3>
                                            </div>
                                            <div class="module-nav">
                                                <button
                                                        class="btn btn-carousel btn-sm btn-prev-partners">Назад
                                                </button>
                                                <button
                                                        class="btn btn-carousel btn-sm btn-next-partners">Вперёд
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div id="partner-carousel"
                                             class="partner-carousel slide-animated owl-carousel owl-theme">
                                            {% for partner in partners %}
                                                <div class="item">
                                                <div class="partner-block" style="height: 170px;">
                                                    <div class="partner-logo">
                                                        <a href="{{partner.link}}" target="_blank">
                                                            <img width="150" height="100" style="height:100px"
                                                                 src="{{partner.logo}}"
                                                                 class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                 alt=""/> </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}