{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1 style="text-transform: none">Пляжи Пхукета</h1>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        У всех туристов, кто собирается на Пхукет, всегда возникает один очень важный
                                        вопрос: какой район острова выбрать для отдыха? Каждый из них уникален,
                                        самобытен и имеет свои преимущества. О каждом можно написать большую статью, мы
                                        же постараемся рассказать только об их основных отличительных особенностях. И
                                        начнем с юга острова — района Раваи/Най-Харн.
                                    </p>

                                    <h2 style="text-transform: none">Район Раваи/Най Харн</h2>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-rawai3.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-rawai1.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-rawai4.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">Район расположен на самом юге острова в часе езды от
                                        аэропорта.</p>

                                    <p>Тут любят отдыхать семьи с детьми или туристы, предпочитающие тихий, спокойный
                                        отдых, но при этом вблизи развитой инфраструктуры. К тому же еда, экскурсии,
                                        аренда - в целом жизнь здесь дешевле, чем на севере острова. Кроме того, юг
                                        острова идеально подходит тем, кто хочет совместить море и спорт. Ведь именно
                                        здесь расположены крупные залы для занятий тайским боксом и ММА.
                                    </p>

                                    <p>
                                        Пляж Най-Харн - это настоящая жемчужина района. Небольшая длина пляжа с лихвой
                                        компенсируется красотой вокруг, а широкая береговая линия делает пляж очень
                                        комфортным для отдыха. Кроме того, это чистый пляж с бирюзовой, прозрачной,
                                        морской водой! В 2015 году именно Най Харн попал в список лучших пляжей мира по
                                        версии пользователей сайта tripadvisor. Кроме него в районе есть еще несколько
                                        небольших «секретных» пляжиков, которые просто идеально подходят для занятий
                                        снорклингом.
                                    </p>

                                    <p>Раваи - это не пляж, здесь не купаются, это набережная или променад с барами,
                                        ресторанами и кафе, столики которых расположены прямо у кромки моря. К тому же,
                                        именно здесь находится лучший рынок морепродуктов острова. Все можно купить,
                                        сразу же приготовить в ресторанчике напротив и тут же насладиться вкусом
                                        свежайших морепродуктов!
                                    </p>

                                    <p>И учтите, что на самой южной точке острова расположена одна из лучших смотровых
                                        площадок Азии - Promthep Cape. Каждый день сотни туристов приезжают сюда, чтобы
                                        увидеть лучший закат в своей жизни!</p>

                                    <p>
                                        Что касается недвижимости? Здесь Вы сможете арендовать либо апартаменты в
                                        среднем ценовом сегменте, либо виллы, но уже в любой ценовой категории, начиная
                                        от небольших домов в традиционном тайском стиле до роскошных вилл в стиле
                                        high-tech. И в целом, по количеству вилл Раваи/Найхарн лидирует с огромным
                                        отрывом.
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>пляж Най Харн;</li>
                                        <li>развитая инфраструктура;</li>
                                        <li>чистый и ухоженный район;</li>
                                        <li>спокойный отдых;</li>
                                        <li>безопасность;</li>
                                        <li>снорклинг (доступен только на юге острова);</li>
                                        <li>недвижимость разной ценовой категории.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>далеко от аэропорта;</li>
                                        <li>отсутствие ночной жизни;</li>
                                        <li>опасное море с мая по сентябрь;</li>
                                        <li>много китайских туристов.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Ката Ной</h2>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katanoi1.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katanoi2.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katanoi3.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">Район Ката Ной расположен на юго-западе острова в часе
                                        езды от аэропорта.</p>

                                    <p>Прямо сейчас пляж Ката Ной занимает 19е место в списке лучших пляжей мира по
                                        версии tripadvisor. Пляж со всех сторон окружен живописными холмами, на которых
                                        расположены 5* отели аккуратно вписанные в джунгли. Океан малахитового цвета и
                                        белоснежный песок манят туристов со всего света, а пологий вход в воду
                                        привлекает семьи с детьми. Поэтому здесь превосходно развита инфраструктура -
                                        всего в минуте ходьбы от пляжа огромное количество ресторанов любой ценовой
                                        категории, спа-салонов, всевозможных магазинов и лавочек! А в пятнадцати минутах
                                        ходьбы находится его большой брат - пляж Ката. Согласитесь, всегда приятно иметь
                                        возможность немного разнообразить свой отдых, посещая несколько пляжей.
                                    </p>

                                    <p>Кроме великолепного пляжа район Ката Ной может похвастаться званием самого
                                        респектабельного места на юге острова. Именно здесь, построены лучшие
                                        пятизвездочные отели, шикарные кондоминиумы с невероятным видом на море и luxury
                                        виллы в пешей доступности от океана. Добро пожаловать на лучший пляж Пхукета -
                                        Ката Ной!
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>развитая инфраструктура;</li>
                                        <li>элитная недвижимость;</li>
                                        <li>компактность района;</li>
                                        <li>лучший пляж Пхукета;</li>
                                        <li>спокойный отдых.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>отсутствие ночной жизни;</li>
                                        <li>мало бюджетной недвижимости.</li>
                                    </ul>

                                    <h2 style="text-transform: none">Ката/Карон</h2>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katakaron1.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katakaron2.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-katakaron3.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">Район Ката/Карон расположен на юго-западе острова
                                        приблизительно в часе езды от аэропорта.
                                    </p>

                                    <p>
                                        Мы позволили себе вольность обьединить в один район два прекрасных пляжа - Карон
                                        и Ката. Почему? Они очень похожи и одинаковы хороши - длинные, с широкой
                                        береговой линией, довольно пологим входом в воду и с прозрачной, бирюзовой
                                        водой. К тому же пляжи расположены совсем рядом, так что у Вас всегда будет
                                        возможность чередовать отдых то на одном, то на другом пляже.
                                    </p>

                                    <p>
                                        Ката/Карон является вторым по популярности районом острова после Патонга, И к
                                        слову, именно это место русские туристы полюбили больше всего. Причин несколько:
                                    </p>

                                    <p>
                                        Во-первых, великолепные пляжи. Во-вторых, как цветы после дождя, здесь расцвело
                                        просто колоссальное количество всевозможных кондоминиумов с квартирами с
                                        оборудованной кухней. Многие построены в пешей доступности от моря и обладают
                                        неплохим видом на океан.
                                    </p>

                                    <p>
                                        И последнее - отлично развитая инфраструктура - днем и вечером жизнь в районе
                                        просто кипит! Тут множество ресторанов, кафе, массажных салонов, различных
                                        магазинов и лавочек, супермаркет Macro Food, а также несколько вечерних рынков,
                                        где можно полностью окунуться в тайский колорит. Одним словом, тут Вы не
                                        заскучаете! Но учтите, что ночью жизнь в районе практически замирает - бары
                                        закрываются рано, зато в 10 минутах езды, на соседнем Патонге они открыты всю
                                        ночь напролет!
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>два прекрасных пляжа;</li>
                                        <li>развитая инфраструктура;</li>
                                        <li>прогулочная зона вдоль пляжа;</li>
                                        <li>близость к Патонгу.</li>

                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>много людей на пляже;</li>
                                        <li>большие волны и обратные течения в летний сезон;</li>
                                        <li>отсутствие ночной жизни;</li>
                                        <li>серфинг в летний сезон.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Патонг</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-patong1.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-patong2.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">Район расположен в самом центре западного побережья
                                        Пхукета в 40 минутах езды от аэропорта.
                                    </p>

                                    <p>
                                        Здесь собраны все стереотипы туристов об отдыхе в Таиланде: салоны традиционного
                                        тайского массажа, арены, где
                                        проходят соревнования по тайскому боксу, бесчисленное количество кафе,
                                        ресторанов с настоящей тайской кухней,
                                        вечерние рынки и, конечно, прогулочная улица с открытыми всю ночь барами,
                                        трансветитами и «ночными бабочками».
                                    </p>

                                    <p>Пляж Патонг, наверное, один из самых худших на острове - узкая береговая линия в
                                        10 метрах от активной дороги. Шум,
                                        гам, бесконечные звуки клаксонов и крики торговцев. Добавьте к этому не самое
                                        чистое море и обилие пляжных продавцов
                                        с назойливыми предложениями товаров и услуг. Можно провести параллели с Паттаей,
                                        но поверьте, даже это море в 100
                                        раз лучше, чем там. Наверное, мы немного преувеличиваем - здесь приятно
                                        купаться, но отдыхать на других пляжах
                                        острова гораздо комфортнее.
                                    </p>

                                    <p>
                                        Патонг - первый пляж, на котором зародился туризм на острове Пхукет. Но, к
                                        сожалению, качественное жилье с
                                        современным дизайном появилось здесь совсем недавно. На протяжении нескольких
                                        десятилетий Патонг представлял из себя
                                        место, где было построено огромное количество недорогих отелей и бюджетных
                                        гестхаусов. В результате Патонг выбирают
                                        преимущественно одинокие туристы, «пакетники» или кампании друзей, приехавшие
                                        «оторваться». Тут почти не живут семьи
                                        с детьми, это не место для спокойного отдыха - жизнь здесь бурлит и не затихает
                                        ни на минуту.
                                    </p>

                                    <p>
                                        В итоге, если Вы предпочитаете активный отдых и Вас не пугает нескончаемое
                                        веселье вокруг, то Патонг - это
                                        подходящее место. Если Вы, наоборот, ищете спокойный отдых, то лучше рассмотрите
                                        другой район.
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>ночная жизнь;</li>
                                        <li>низкие цены;</li>
                                        <li>развитая инфраструктура.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>ночная жизнь;</li>
                                        <li>пляж на троечку;</li>
                                        <li>мало элитной недвижимости.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Камала</h2>

                                    <div class="row">
                                        <div class="col-sm-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-kamala1.jpg">
                                        </div>
                                        <div class="col-sm-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-kamala2.jpg">
                                        </div>
                                        <div class="col-sm-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-kamala3.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">Район пляжа Камала расположен в центральной части
                                        западного побережья острова в 35-40
                                        минутах езды от аэропорта.
                                    </p>

                                    <p>Камала бич - прекрасный пляж с очень пологим входом в воду. Благодаря этому факту
                                        море тут наименее опасно, поэтому
                                        отдыхать на пляже комфортно круглой год и даже в летний сезон.</p>

                                    <p>Южнее Камалы, всего в нескольких минутах езды, находится бурлящий район Патонг с
                                        активной ночной жизнью. Немного
                                        севернее - престижный Сурин с великолепным пляжем, дорогими ресторанами и
                                        элитным жильем. Только представьте, как
                                        это удобно жить в одном месте, а отдыхать на трех совершенно разных по атмосфере
                                        и духу пляжах. Ведь сам по себе
                                        район Камала тоже прекрасное место с отлично развитой инфраструктурой. Здесь
                                        есть прогулочная зона вдоль пляжа с
                                        обилием ресторанов и массажных салонов, крупный продуктовый супермаркет,
                                        несколько тайских рынков, где можно купить
                                        спелые, сочные фрукты и свежайшие морепродукты. К тому же, именно здесь
                                        расположено лучшее вечернее шоу острова -
                                        FantaSea.</p>

                                    <p>Что касается аренды недвижимости, то подобрать можно совершенно любой вариант,
                                        причем как в доступном сегменте, так и
                                        в самом элитном. Апартаменты, пентхаусы, таунхаусы, резиденции, виллы, 1,2,3
                                        этажа, от 30 до нескольких тысяч
                                        квадратных метров - выбор просто космический, на любой вкус и пожелания.</p>

                                    <p>
                                        Также стоит отметить, что немного южнее пляжа на возвышенности расположена
                                        всемирно известная «Миля Миллионеров».
                                        Luxury виллы здесь построены на отвесных скалах, в сочетании с зелеными
                                        джунглями и монолитными каменными глыбами.
                                        Поверьте, это выглядит нереально впечатляюще. Настоящий Шик!
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>пологий пляж;</li>
                                        <li>спокойное море круглый год;</li>
                                        <li>развитая инфраструктура;</li>
                                        <li>большой выбор недвижимости;</li>
                                        <li>близость к Патонгу и Сурину.</li>
                                    </ul>

                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>южная часть пляжа некупабельна;</li>
                                        <li>центр мусульманской жизни;</li>
                                        <li>отсутствие ночной жизни.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Сурин</h2>

                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-surin2.jpg">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-surin1.jpg">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-surin3.jpg">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-surin4.jpg">
                                        </div>

                                    </div>
                                    <p style="padding-top: 20px">Район Сурин расположен на северо-западе острова в 30
                                        минутах езды от аэропорта.
                                    </p>

                                    <p>
                                        Сурин - это уникальное место. Несмотря на небольшую площадь района, именно здесь
                                        построены самые роскошные виллы
                                        острова. Дизайн, размер, интерьер и панорамный вид на океан просто поражают
                                        своим размахом и красотой! Также на
                                        холмах построены и 5* отели, где любят отдыхать голливудские звезды и модели
                                        первой величины. И поверьте, это не
                                        пустые слова. Совсем недавно тут отдыхала топ-модель Kate Moss, а также музыкант
                                        Jay-Z со своей женой - певицей
                                        Beyonce! Но уникальность района вовсе не в элитной недвижимости, а наоборот, в
                                        том что отдохнуть на Сурине может не
                                        только состоятельный человек, но и турист со средним достатком. Дело в том, что
                                        в пешей доступности от пляжа
                                        построено множество прекрасных кондоминиумов, поэтому арендовать качественные
                                        недорогие апартаменты с отдельной
                                        кухней здесь довольно просто.
                                    </p>

                                    <p>
                                        Согласитесь, что элитную недвижимость строят только рядом с превосходным пляжем.
                                        И разве это не самая лучшая
                                        рекомендация?! Лагуна пляжа небольшая и очень уютная, широкая береговая линия,
                                        светлый песок и вода цвета неба,
                                        сливающиеся воедино на горизонте. Вдобавок, на Сурине безумно красивые закаты!
                                    </p>

                                    <p>
                                        Дополняет идеалистическую картину прекрасно развитая инфраструктура района.
                                        Рестораны и кафе, клубы, массажные
                                        салоны и магазины - все расположено в реальной пешей доступности от Вашего места
                                        отдыха.
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>развитая инфраструктура;</li>
                                        <li>элитная недвижимость;</li>
                                        <li>компактность района;</li>
                                        <li>отличный девственный пляж;</li>
                                        <li>спокойный отдых;</li>
                                        <li>серфинг в летний сезон.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>опасное море в летний сезон.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Бангтао</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-bangtao2.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-bangtao1.jpg">
                                        </div>


                                    </div>
                                    <p style="padding-top: 20px">Пляж Бангтао второй по величине пляж острова. Его
                                        протяженность составляет целых 7
                                        километров! Он настолько огромен, что рядом с ним расположено целых два района
                                        (Бангтао с юга и Лагуна на севере), а
                                        северная часть пляжа получила отдельное название - Лайян Бич. В этой статье мы
                                        расскажем Вам о районе Бангтао.
                                    </p>

                                    <p>
                                        Район расположен в северо-западной части острова в 30 минутах езды от аэропорта.
                                    </p>

                                    <p>
                                        Это тихое, спокойное место, но с достаточно хорошо развитой инфраструктурой. Это
                                        отличная локация для тех, кто хочет провести спокойный отдых, но при этом иметь
                                        возможность немного «повеселиться». Бары, рестораны, кафе, массажные салоны -
                                        есть все, что нужно.
                                    </p>

                                    <p>
                                        Пляж - прекрасен! Здесь очень широкая и длинная береговая линия. А большая
                                        гавань позволяет насладиться всей красотой океана, ощутить свежий, морской бриз
                                        и почувствовать абсолютную свободу. И разве не за этим чувством мы едем к
                                        океану? Кроме того, только на Бангтао бич Вы сможете посетить пляжный клуб или
                                        ресторан прямо у моря. Но главное - длинная береговая линия позволяет найти
                                        отличный вариант проживания в реальной пешей доступности от океана по вполне
                                        демократичной цене. Да и в целом в районе Бангтао построено большое количество
                                        великолепных кондоминиумов и разнообразных комплексов с виллами.
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>длинный пляж;</li>
                                        <li>спокойный отдых;</li>
                                        <li>большой выбор недвижимости у моря;</li>
                                        <li>развитая инфраструктура;</li>
                                        <li>близость к аэропорту.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>опасное море в летний сезон.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Лагуна/Лайян</h2>

                                    <p>
                                        Район Лагуна/Лайян расположен на северо-западе острова в 20 минутах езды от
                                        аэропорта. Он прилегает к северной части
                                        пляжа Бангтао и пляжу Лайян.
                                    </p>

                                    <p>
                                        Главное, что Вы должны знать - это самый респектабельный район всего Пхукета.
                                        Иногда его даже называют местной
                                        «рублевкой». Отдых тут может позволить себе только по-настоящему состоятельный
                                        человек. Поэтому здесь есть все, что
                                        принято связывать с роскошным образом жизни - яхтинг, бутики, дорогие рестораны,
                                        пляжные клубы, лучшие спа-салоны,
                                        гольф-клуб, конный клуб и супермаркет с европейскими продуктами. По той же
                                        причине в Лагуне сконцентрировано просто
                                        колоссальное количество 4-5* отелей, лучших апартаментов и по-настоящему
                                        шикарных вилл.
                                    </p>

                                    <p>
                                        Кстати пляж в Лагуне совсем немноголюден, особенно в сравнении с другими пляжами
                                        Пхукета.
                                    </p>

                                    <p>Преимущества:</p>

                                    <ul style="padding-left: 25px">

                                        <li>элитная недвижимость;</li>
                                        <li>пляжные клубы;</li>
                                        <li>высокий уровень сервиса;</li>
                                        <li>развитая инфраструктура;</li>
                                        <li>спокойный отдых;</li>
                                        <li>близость к аэропорту.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>высокие цены;</li>
                                        <li>отсутствие ночной жизни;</li>
                                        <li>крутой вход в воду.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Найтон</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-naithon1.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-naithon2.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">
                                        Район расположен на северо-западе острова в 15 минутах езды от аэропорта.
                                    </p>

                                    <p>
                                        Это маленький район, который находится на территории Национального парка в
                                        непосредственной близости от пляжа. Но не
                                        смотря на его небольшой размер, это место можно считать настоящим сокровищем
                                        Пхукета. Великолепный пляж Найтон с
                                        прозрачной водой и мелким песком, рестораны, массажные салоны, обменные пункты,
                                        аптека, супермаркет, но главное
                                        именно здесь самые свежие, вкусные и дешевые тайские фрукты. Это свой
                                        собственный маленький мир, где всего
                                        понемногу, но при этом есть все. Здесь комфортно отдыхать как несколько дней,
                                        так и целый месяц, причем даже не
                                        покидая Найтон. Что скрывать, ночная жизнь здесь отсутствует, да и днем не
                                        особенно «жарко». Но если Вы ищете
                                        спокойных отдых на лоне природы без проблем и суеты, то Найтон - это просто
                                        мечта! И скажем по секрету - это наш
                                        любимый пляж!
                                    </p>

                                    <p>
                                        Что касается недвижимости, к вашим услугам прекрасные апартаменты в 50 метрах от
                                        моря, так виллы различной ценовой
                                        категории.
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>великолепный пляж;</li>
                                        <li>спокойный отдых;</li>
                                        <li>недорогой стритфуд;</li>
                                        <li>дешевые фрукты.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>неразвитая инфраструктура;</li>
                                        <li>отсутствие ночной жизни.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Майкао</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-maikhao2.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-maikhao1.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">
                                        Район пляжа Майкао расположен на самом севере западного побережья острова в 5
                                        минутах езды от аэропорта!
                                    </p>

                                    <p>
                                        Майкао - необычное место! Судите сами, за последнее десятилетие на Пхукете
                                        произошел настоящий туристический взрыв,
                                        но это совершенно не повлияло на развитие пляжа Майкао и района вцелом. Даже
                                        несмотря на то, что пляж занимает около
                                        четверти всей береговой линии западного побережья острова. В итоге, этот
                                        удивительный факт подарил туристам шанс
                                        почувствовать себя настоящим Робинзоном Крузо. А для Пхукета, где прекрасно
                                        развита инфраструктура, дорожные сети,
                                        множество недвижимости и куда ежегодно приезжают несколько миллионов туристов -
                                        это особенно актуально!
                                    </p>

                                    <p>
                                        Еще совсем недавно, отдых на Майкао, вдали от людей, на лоне природы и прямо
                                        рядом с океаном, могли позволить себе
                                        только состоятельные туристы, отдыхающие в 4-5* отелях (Anantara, Maikhao Dream
                                        Villas, Renessaince и тд). Теперь, с
                                        появлением Maikhao Condominium’а такая возможность появилась у большего числа
                                        туристов.
                                    </p>

                                    <p>
                                        К тому же, жизнь на пляже Майкао подарит Вам несколько неоспоримых преимуществ,
                                        о которых почему-то раньше особо не
                                        задумывались.
                                    </p>

                                    <p>
                                        Во-первых, Майкао - это девственный, практически дикий пляж. Его масштаб
                                        поражает! Здесь Вы сможете прочувствовать
                                        всю красоту и мощь океана. Только представьте, одиннадцать километров - да это
                                        же практически бесконечность.
                                        Поверьте, здесь каждый найдет себе укромное место :) И имейте ввиду, что в
                                        высокий сезон купаться здесь также
                                        безопасно, как и на других пляжах острова.
                                    </p>

                                    <p>
                                        Во-вторых - возможность не тратить время на переезды по острову, отправляясь на
                                        различные экскурсии. Ведь все
                                        главные и интересные достопримечательности расположены за пределами Пхукета.
                                        Поэтому абсолютно не важно, как Вы
                                        будете добираться - самостоятельно или групповым трансфером, главное, что дорога
                                        от Майкао значительно короче,
                                        быстрее и спокойнее, чем от южных пляжей острова. Смотрите, Као Лак - 30 минут
                                        езды, Као Сок - полтора часа.
                                        Пхангнга, Краби, Сурратхани - все очень близко.
                                    </p>

                                    <p>
                                        В-третьих, аэропорт построен прямо пляже Майкао, в самом его начале. Поэтому
                                        дорога до Вашего места жительства
                                        займет не более 5 минут. Это кажется мелочью, но поверьте, после длительного
                                        перелета - это будет очень приятный
                                        бонус! И кстати, такое местоположение аэропорта подарило Пхукету настоящий
                                        атракцион. Каждый день туристы приезжают
                                        сюда, чтобы сфотографировать, как самолеты очень низко пролетают у них над
                                        головой!
                                    </p>

                                    <p>Преимущества:</p>
                                    <ul style="padding-left: 25px">
                                        <li>длинный пляж;</li>
                                        <li>элитная недвижимость;</li>
                                        <li>очень спокойный отдых;</li>
                                        <li>малолюдно.</li>
                                    </ul>
                                    <p>Недостатки:</p>
                                    <ul style="padding-left: 25px">
                                        <li>отсутствие ночной жизни;</li>
                                        <li>неразвитая инфраструктура.</li>
                                    </ul>
                                    <h2 style="text-transform: none">Пляж Януй</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%8F%D0%BD%D1%83%D0%B8%CC%861.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%8F%D0%BD%D1%83%D0%B8%CC%862.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">
                                        Район пляжа Майкао расположен на самом севере западного побережья острова в 5
                                        минутах езды от аэропорта!
                                    </p>

                                    <p>Пляж Януй - это небольшой, длиной всего 100 метров, уютный пляжик, расположенный
                                        на самом юге острова в 1км от пляжа
                                        Най Харн. Довольно широкая песчаная береговая линия условна поделена на две
                                        части живописной каменной грядой, делая
                                        пляж узнаваемым и уникальным. В летний сезон - это безлюдное место, зимой -
                                        наоборот, очень популярный пляж.</p>

                                    <p>Главное развлечение, конечно же, снорклинг. И это не удивительно, ведь на Пхукете
                                        всего несколько пляжей, где можно
                                        найти настолько прозрачную воду, каменистое дно и богатую морскую жизнь.</p>

                                    <p>В общем, если Вы не хотите далеко ехать, но при этом немного устали от Най-Харна
                                        и желаете на денек сменить
                                        обстановку, то добро пожаловать на Януй!</p>

                                    <h2 style="text-transform: none">Пляж Ао Сейн</h2>

                                    <div class="row">

                                        <div class=" col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%B0%D0%BE%D1%81%D0%B0%D0%BD1.jpg">
                                        </div>
                                        <div class="  col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%B0%D0%BE%D1%81%D0%B0%D0%BD2.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6  col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%B0%D0%BE%D1%81%D0%B0%D0%BD3.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">
                                        Пляж Ао Сейн (Ao Sane) расположен в 500 метрах к северу от пляжа Най Харн.</p>

                                    <p>Совсем маленький пляж, почти нет песка, каменное дно - все это отходит на второй
                                        план, когда Вы одеваете плавательные
                                        маску и трубку. Снорклинг здесь доступен как нигде на острове, буквально на
                                        расстоянии вытянутой руки. Вам не нужно
                                        никуда далеко ехать, чтобы познать всю красоту подводного мира Таиланда. Мы
                                        обещаем, что Вы увидите множество
                                        разноцветных рыбок, большие морские звезды, настоящих лобстеров или даже мурен.
                                        Поверьте, это настоящее волшебство
                                        доступное каждому.
                                    </p>

                                    <h2 style="text-transform: none">Пляж Freedom</h2>

                                    <div class="row">

                                        <div class="col-sm-6 col-md-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%84%D1%80%D0%B8%D0%B4%D0%BE%D0%BC1.jpg">
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%84%D1%80%D0%B8%D0%B4%D0%BE%D0%BC2.jpg">
                                        </div>
                                        <div class="col-sm-6 col-md-4 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%84%D1%80%D0%B8%D0%B4%D0%BE%D0%BC3.jpg">
                                        </div>
                                    </div>
                                    <p style="padding-top: 20px">
                                        Пляж Фридом расположен на мысе между пляжами Патонг и Карон.
                                    </p>

                                    <p>Это девственный пляж, где с одной стороны береговая линия из мельчайшего, белого
                                        песка утопает в диких, зеленых
                                        джунглях, а с другой - погружается в бирюзовую, прозрачную гладь океана. Пляж,
                                        действительно, уникален для всего
                                        острова и не сравнится с другими по степени красоты и уединенности.</p>

                                    <p>Здесь нет никаких шумных развлечений, но зато есть шанс почувствовать абсолютное
                                        умиротворение, позабыв обо всем на
                                        свете.</p>

                                    <p>Вход на пляж платный, но за 200 бат вы получите комфортный шезлонг и зонтик, а
                                        это в последнее время на нашем острове
                                        настоящая роскошь.</p>

                                    <h2 style="text-transform: none">Пляж Три Транг (Tri Trang)</h2>

                                    <div class="row">

                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%82%D1%80%D0%B8%D1%82%D1%80%D0%B0%D0%BD%D0%B31.jpg">
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D1%82%D1%80%D0%B8%D1%82%D1%80%D0%B0%D0%BD%D0%B32.jpg">
                                        </div>
                                    </div>

                                    <p style="padding-top: 20px">
                                        Пляж Три Транг расположен на самой южной части бухты пляжа Патонг.
                                    </p>

                                    <p>
                                        Прозрачная, бирюзовая вода, очень пологий вход в воду, небольшая глубина,
                                        нависающие над пляжем деревья, наличие
                                        ресторана делают Три Транг прекрасным местом для интересного и безопасного
                                        отдыха с детьми.
                                    </p>

                                    <p>
                                        Особенностью пляжа является отсутствие больших волн и опасных обратных течений
                                        даже летом, в низкий сезон. Когда на
                                        соседнем Патонге везде стоят красные флаги, здесь безопасно купаться даже с
                                        совсем маленькими детьми. Но есть в этой
                                        бочке меда небольшая ложка дегтя - сильные отливы. С другой стороны, ребенку,
                                        наверняка, будет крайне любопытно
                                        поискать на морском дне что-нибудь интересное.
                                    </p>

                                    <h2 style="text-transform: none">Пляж Лаем Синг</h2>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B5%D0%BC%D1%81%D0%B8%D0%BD%D0%B32.jpg">
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B5%D0%BC%D1%81%D0%B8%D0%BD%D0%B31.jpg">
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B5%D0%BC%D1%81%D0%B8%D0%BD%D0%B33.jpg">
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B5%D0%BC%D1%81%D0%B8%D0%BD%D0%B34.jpg">
                                        </div>
                                    </div>

                                    <p style="padding-top: 20px">
                                        Пляж Лаем Синг расположен между пляжами Камала и Сурин в 1км от второго. Такое
                                        местоположение - вблизи двух
                                        популярных пляжей сделало Лаем Синг, пожалуй, самым известным из всех маленьких,
                                        «секретных» пляжей. Особенно это
                                        заметно в высокий сезон - зимой, когда на острове очень много туристов. Летом,
                                        напротив, это абсолютно дикое и
                                        безлюдное место. Но как и все маленькие пляжи Пхукета, Лаем Синг безумно красив
                                        и как будто создан для кисти
                                        великого мастера.
                                    </p>

                                    <h2 style="text-transform: none">Пляж Банана (Banana)</h2>

                                    <div class="row">
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%B1%D0%B0%D0%BD%D0%B0%D0%BD%D0%B02.jpg">
                                        </div>
                                        <div class="col-md-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%B1%D0%B0%D0%BD%D0%B0%D0%BD%D0%B01.jpg">
                                        </div>

                                    </div>

                                    <p style="padding-top: 20px">
                                        Пляж Банана расположен на севере западного побережья Пхукета в 1 км к югу от
                                        пляжа Найтон. Банана Бич - это 200
                                        метров белоснежного, мягкого песка в окружении нетронутых реликтовых джунглей и
                                        прозрачная вода, в которой очень
                                        приятно купаться.
                                    </p>

                                    <p>
                                        К сожалению, а может быть и к счастью, пляж совсем не облюбован вниманием
                                        туристов. Это абсолютно дикое место, где
                                        нет случайных людей. Сюда приезжают, чтобы сбежать от суеты и шума больших
                                        пляжей Пхукета. Позабыть о существовании
                                        цивилизации, людей и проблем.
                                    </p>

                                    <p>
                                        Пляж находится у подножия большого холма, поэтому чтобы попасть на него нужно
                                        спуститься с главной дороги по
                                        небольшой тропинке.
                                    </p>

                                    <h2 style="text-transform: none">Пляж Най Янг (Nai Yang)</h2>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B8%CC%86%D1%8F%D0%BD1.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B8%CC%86%D1%8F%D0%BD3.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BB%D0%B0%D0%B8%CC%86%D1%8F%D0%BD2.jpg">
                                        </div>

                                    </div>
                                    <p style="padding-top: 20px">
                                        Най Янг расположен на севере западного побережья острова в нескольких минутах
                                        езды от аэропорта.
                                    </p>

                                    <p>
                                        Пляж имеет длину около трех километров, что довольно большое расстояние по
                                        меркам Пхукета, но несмотря на размер и
                                        близость к аэропорту этот пляж не получил должного внимания и соответственно
                                        развития. Поэтому и по сей день Най Янг
                                        остается безлюдным, практически диким пляжем. Это парадоксальный факт, ведь это
                                        место имеет массу неоспоримых
                                        достоинств. Судите сами.
                                    </p>

                                    <p>
                                        Коралловый риф защищает пляж от больших волн, поэтому когда невозможно купаться
                                        на других пляжах, добро пожаловать
                                        на Най Янг! Малая глубина, очень пологий вход в воду и тень от деревьев вдоль
                                        пляжа делают Най Янг отличным местом
                                        для отдыха с детьми. Поверьте, на трех километрах места хватит всем, а значит Вы
                                        с легкостью найдете укромное место
                                        для пикника. И последнее, нельзя сказать, что на пляже совсем отсутствует
                                        инфраструктура. Она есть, но просто очень
                                        мало. В центральной части пляжа Вы найдете кафе, рестораны, массажные салоны и
                                        даже несколько минимаркетов.
                                    </p>

                                    <h2 style="text-transform: none">Мыс Кейп Яму</h2>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BA%D0%B5%D0%B8%CC%86%D0%BF%D1%8F%D0%BC%D1%831.png">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BA%D0%B5%D0%B8%CC%86%D0%BF%D1%8F%D0%BC%D1%832.jpg">
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BA%D0%B5%D0%B8%CC%86%D0%BF%D1%8F%D0%BC%D1%833.jpg">
                                        </div>

                                    </div>

                                    <p style="padding-top: 20px">
                                        Район Кейп Яму (Cape Yamu) - это небольшой по площади мыс, расположенный в
                                        центральной части восточного побережья
                                        острова. Кейп переводится с тайского языка как мыс, то есть небольшой участок
                                        земли, выдающийся острым углом в море.
                                    </p>

                                    <p>
                                        Почему все больше и больше людей, приезжающих на остров, выбирают местом своего
                                        отдыха восточное побережье? Почему
                                        мыс Кейп Яму стал настоящим трендом у состоятельных туристов, уставших от шума
                                        мегаполисов?
                                    </p>

                                    <p>
                                        Во-первых, это абсолютно тихое место, здесь почти нет туристов и местного
                                        населения.
                                    </p>

                                    <p>
                                        Во-вторых, обилие недвижимости премиум и экстра класса. Здесь расположены только
                                        шикарные виллы с огромным участком
                                        и пятизвездочные отели. Ультрасовременный дизайн, незабываемый вид на залив
                                        Пханг Нга и возможность пожить прямо у
                                        кромки моря делают мыс Кейп Яму настоящей меккой у любителей спокойного и
                                        шикарного отдыха. Неслучайно, именно здесь
                                        отдыхала обладательница золотой карты в телепрограмме «Орел и Решка».
                                    </p>

                                    <p>
                                        Кроме того, восточное побережье отличается тем, что здесь отсутствуют волны и
                                        обратные течения. Летний сезон, зимний
                                        - море здесь спокойно круглый год. Но все же до прекрасного пляжа Найтон всего
                                        лишь 15 минут езды на автомобиле.
                                    </p>

                                    <h2 style="text-transform: none">Мыс Панва</h2>

                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BF%D0%B0%D0%BD%D0%B2%D0%B01.jpg">
                                        </div>
                                        <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
                                                src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BF%D0%B0%D0%BD%D0%B2%D0%B02.jpg">
                                        </div>
                                    </div>

                                    <p style="padding-top: 20px">
                                        Район Панва (Cape Panwa) - это довольно крупный мыс, расположенный на
                                        юго-востоке острова. Кейп переводится с
                                        тайского языка как мыс, то есть небольшой участок земли, выдающийся острым углом
                                        в море.</p>

                                    <p>
                                        Несмотря на свой солидный размер к сожалению недвижимость доступная для
                                        самостоятельного бронирования здесь
                                        практически отсутствует. Панва - это тихое, спокойное и нетуристическое место.
                                        Но! Все же если Вы хотите сменить
                                        обстановку и познакомиться с восточным побережьем, то советуем Вам уделить Панве
                                        хотя бы один день.
                                    </p>

                                    <p>
                                        Поверьте, небольшой океанариум станет отличным развлечением как для детей так и
                                        для взрослых. Обязательно попробуйте
                                        отменной тайской кухни в ресторанчике на прогулочной набережной. Потрясающий вид
                                        на океан, свежий морской бриз и
                                        запах с моря в сочетании со вкусом свежайших морепродуктов и фруктовых шейков
                                        станут незабываемым воспоминанием о
                                        Пхукете на долгие годы Вашей жизни.
                                    </p>

                                    <p>
                                        Кстати, на Панве есть несколько пригодных для купания пляжей, где под тенью
                                        деревьев можно удобно расположиться для
                                        пикника. К тому же когда на западном побережье большие волны, здесь вода
                                        абсолютно спокойна.
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}