{% extends 'base.html' %}
{% block content %}
    <style>
        h1, h2, h3, h4 {
            text-transform: none;
        }
    </style>
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>
                                            Правила проживания</h1>
                                    </div>
                                </div>
                                <div>
                                    <p>Совершая бронирование на сайте indreamsphuket.ru, Вы (Гости) признаете, что
                                        прочитали нижеописанные правила проживания на Вилле (в Апартаментах), поняли и
                                        согласились с ними. Данные предписания могут периодически корректироваться
                                        собственником веб-сайта indreamsphuket.ru, компанией INDREAMS CO., LTD
                                        (Компания, Мы).
                                    </p>

                                    <p>Вы для нас самые дорогие и желанные гости, и мы прилагаем все усилия для того,
                                        чтобы обеспечить вам комфортное и приятное пребывание на острове Пхукет.
                                    </p>

                                    <p>Все без исключения Гости в обязательном порядке подчиняются приведенным ниже
                                        правилам проживания на Виллах (в Апартаментах), равно как и законодательству
                                        Королевства Таиланд.
                                    </p>

                                    <h2>Правила заезда и выезда</h2>

                                    <p>Прибывших Гостей встречает в аэропорту Пхукета персональный трансфер и доставляет
                                        до объекта бронирования. Стоимость трансфера, если он не включен в сумму
                                        бронирования, составляет от 1000 до 2000 THB в зависимости от категории
                                        автомобиля и дальности поездки. При желании Гости могут добраться до места
                                        проживания любым другим удобным для них способом.</p>

                                    <p>Представитель нашей компании встречает Гостей на объекте бронирования. Совместно
                                        они проверяют Виллу (Апартаменты), технику и предметы мебели и интерьера на
                                        наличие повреждений и фиксируют все в документе “check-in-check-out list”,
                                        согласно которому осуществляется проверка помещения в день выезда.
                                    </p>

                                    <p>Все Гости обязаны предоставить копии паспортов в любом удобном виде (скан, копия,
                                        фотография) для прохождения процедуры временной регистрации.
                                    </p>

                                    <p>Возвратный страховой депозит в размере, указанном в бланке бронирования, вносится
                                        при заселении (если в Вашем бронировании не указано иное).

                                    </p>

                                    <p>Расчетное время заезда — 14:00, выезда — 12:00.</p>

                                    <p>При позднем выезде (но не позднее 18:00) Гости доплачивают сумму в размере 50% от
                                        суточной контрактной стоимости.
                                    </p>

                                    <p>В день отъезда Гостей представитель Компании приезжает на объект бронирования для
                                        приема ключей, проверки помещения и возврата страхового депозита.
                                    </p>

                                    <p>Из суммы страхового депозита могут быть вычтены расходы на электроэнергию,
                                        водоснабжение и другие услуги, не входящие в стоимость проживания согласно
                                        бланку бронирования, а в случае нанесения ущерба помещению – затраты на его
                                        восстановление.</p>

                                    <p>Штраф в размере 1000 THB взимается за каждый утерянный комплект ключей,
                                        количество выданных ключей фиксируется в документе “check-in-check-out list” при
                                        заселении.
                                    </p>

                                    <p>Число Гостей, проживающих на Вилле (в Апартаментах), не должно превышать
                                        указанного в подтверждении бронирования максимального количества людей.
                                        Исключение — дети до 3 лет. Проживание Гостей выше указанного количества может
                                        быть разрешено только по предварительному согласованию и за отдельную плату.</p>

                                    <p>Дополнительное оборудование: детские кроватки, стульчики для кормления и прочее —
                                        предоставляются Компанией по предварительному запросу бесплатно или за
                                        дополнительную плату, в зависимости от их наличия или отсутствия на складе
                                        Компании на момент заселения.
                                    </p>

                                    <h2>Ответственность гостей</h2>

                                    <p>Гости несут ответственность за общее состояние Виллы (Апартаментов) в период
                                        своего пребывания. Гости обязаны компенсировать любой ущерб, который причинен
                                        Вилле (Апартаментам) и его предметам ими самими или другими людьми, проживающими
                                        вместе с ними.</p>

                                    <p>При совершении правонарушений и актов, которые подвергают опасности других людей
                                        или могут нанести ущерб Вилле (Апартаментам), Компания имеет право
                                        незамедлительно аннулировать заключенное соглашение без каких-либо обязательств
                                        со своей стороны.
                                    </p>

                                    <p>Гости будут обязаны возместить причиненный ущерб. Мы просим Вас сообщать нам как
                                        можно раньше, до момента Вашего отъезда или при завершающем осмотре, о любых
                                        случайных повреждениях. Возмещение их стоимости осуществляется из суммы
                                        депозита. Гости обязаны покинуть место размещения в заранее оговоренное,
                                        установленное время.

                                    </p>

                                    <p>Обращаем Ваше внимание, что кондиционирование воздуха следует осуществлять
                                        исключительно в то время, когда Вы присутствуете на Вилле (в Апартаментах), при
                                        закрытых дверях и окнах. Не нужно оставлять приборы в работающем состоянии, если
                                        в помещении никого нет.
                                    </p>

                                    <p>Виллу (Апартаменты) запрещено сдавать в субаренду, использовать для совместной
                                        аренды и передавать для проживания третьим лицам без предварительного
                                        письменного согласия Компании. Право проживать на Вилле (в Апартаментах) имеют
                                        только лица, зарегистрированные в качестве Гостей.
                                    </p>

                                    <p>Представители Компании имеют право получить доступ на Виллу (Апартаменты) для
                                        проведения инспекций с потенциальными клиентами по предварительному согласованию
                                        (день и время оговариваются не менее чем за сутки) или текущих работ
                                        (обслуживания сада и бассейна), а также в случае, если у нас есть подозрения в
                                        том, что гости ведут себя неподобающим образом.</p>

                                    <h3 style="margin: 0">Категорически запрещается:</h3>
                                    <ul style="padding: 20px;">
                                        <li>Содержание животных, птиц, рептилий на Вилле (в Апартаментах).</li>
                                        <li>Хранение громоздких вещей, взрывчатки, токсичных материалов, наркотиков,
                                            ртути, оружия.
                                        </li>
                                        <li>Внесение изменений в интерьер и перестановка мебели без согласования с
                                            Компанией.
                                        </li>
                                        <li>Курение внутри помещения.</li>
                                        <li>Засорение сантехники посторонними предметами.</li>
                                        <li>Нахождение детей без присмотра взрослых на Вилле (в Апартаментах).</li>
                                    </ul>
                                    <h2>Компания не несет ответственности за следующее:</h2>
                                    <ul style="padding: 20px;">
                                        <li>Несчастный случай, который произошел случайно либо преднамеренно.</li>
                                        <li>Потерю, телесное повреждение, болезнь либо смерть, которые имели место в
                                            период нахождения Гостей на Вилле (в Апартаментах).
                                        </li>
                                        <li>Событие, случайное либо преднамеренное, произошедшее по вине третьей стороны
                                            (такое как кража, перебои в водо- и электроснабжении, некачественно
                                            оказанные общественные услуги, шум и прочее).
                                        </li>
                                        <li>Устойчивость сигнала и скорость интернет-соединения.</li>
                                        <li>Недоступность Виллы (Апартаментов) вследствие форс-мажорных обстоятельств, к
                                            числу которых относятся:
                                        </li>
                                        <li>забастовки;</li>
                                        <li>политическая нестабильность;</li>
                                        <li>война либо ее угроза;</li>
                                        <li>терроризм;</li>
                                        <li>промышленные разногласия;</li>
                                        <li>пожары, наводнения, землетрясения, тайфуны и прочие погодные условия,
                                            которые Компания не может контролировать;
                                        </li>
                                        <li>технические проблемы и сложности, связанные с погодными условиями.</li>
                                    </ul>
                                    <p>
                                        Мы всегда рады помочь и поддержать наших Гостей в любых бытовых вопросах,
                                        возникающих во время их пребывания, и желаем Вам приятного отдыха и комфортного
                                        проживания!</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}