{% load multiply %}
<html>
<head>
    <link href="/static/wp-content/themes/houzez/styleaff7.css" rel="stylesheet" type="text/css"/>
    <html>
    <head>
        <link href="/static/wp-content/themes/houzez/css/bootstrap.min46df.css" rel="stylesheet"
              type="text/css"/>
        <html>
        <head>
            <link href="/static/wp-content/themes/houzez/css/mainaff7.css" rel="stylesheet"
                  type="text/css"/>
        </head>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>$(window).load(function () {
            print();
        });</script>
<body>
<section id="section-body">
    <!--start detail content-->
    <section class="section-detail-content">
        <div class="detail-bar print-detail">
            <div class="detail-block">
                <div class="print-header">
                    <div class="print-header-left">
                        <a href="#" class="print-logo">

                            <img src="/static/images/logo.png"
                                 alt="logo" style="background-color: #0a4a7f">

                        </a>
                    </div>
                </div>
                <div class="print-header-detail">
                    <div class="print-header-detail-left">
                        <h1>{{ listing.Name }}</h1>

                    </div>
                    <div class="print-header-detail-right">
                        {% if listing.LeadType.displayValue == 'Продажа' %}
                            <span class="item-price">{{ currency }} {{ listing.Price|add:"0" }}</span>
                        {% else %}
                            <span class="item-price">{{ currency }} {{ listing.Price|add:"0" }} / месяц</span>
                        {% endif %}
                    </div>
                    <div class="print-banner">
                        <div class="print-main-image">
                            <img src="{{ listing.main_photo }}">
                        </div>
                    </div>


                    <div class="print-block">
                        <div class="detail-title-inner">
                            <h4 class="title-inner">Описание</h4>
                        </div>
                        <p>{{ listing.Description }}</p>


                    </div>

{#                    <div class="print-block">#}
{#                        <div class="detail-title-inner">#}
{#                            <h4 class="title-inner">Property Details</h4>#}
{#                        </div>#}
{#                        <div class="alert">#}
{#                            <ul class="print-list-three-col">#}
{#                                <li><strong>Property ID:</strong> HZ41</li>#}
{#                                <li><strong>Price:</strong> $1,900.00&#47;mo</li>#}
{#                                <li><strong>Property Size:</strong> 1900 Sq Ft</li>#}
{#                                <li><strong>Bedrooms:</strong> 2</li>#}
{#                                <li><strong>Bathrooms:</strong> 2</li>#}
{#                                <li><strong>Garage:</strong> 1</li>#}
{#                                <li><strong>Garage Size:</strong> 200 SqFt</li>#}
{#                                <li><strong>Year Built:</strong> 2016-01-09</li>#}
{#                                <li class="prop_type"><strong>Property Type:</strong> Apartment</li>#}
{#                                <li class="prop_status"><strong>Property Status:</strong> For Rent</li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                        <div class="detail-title-inner">#}
{#                            <h4 class="title-inner">Additional details</h4>#}
{#                        </div>#}
{#                        <ul class="print-list-three-col">#}
{#                            <li><strong>Deposit:</strong> 20%</li>#}
{#                            <li><strong>Pool Size:</strong> 300 Sqft</li>#}
{#                            <li><strong>Last remodel year:</strong> 1987</li>#}
{#                            <li><strong>Amenities:</strong> Clubhouse</li>#}
{#                            <li><strong>Additional Rooms::</strong> Guest Bath</li>#}
{#                            <li><strong>Equipment:</strong> Grill - Gas</li>#}
{#                        </ul>#}
{##}
{#                    </div>#}

{#                    <div class="print-block">#}
{#                        <div class="detail-title-inner">#}
{#                            <h4 class="title-inner">Property Features</h4>#}
{#                        </div>#}
{#                        <ul class="print-list-three-col list-features">#}
{#                            <li>Air Conditioning</li>#}
{#                            <li>Barbeque</li>#}
{#                            <li>Dryer</li>#}
{#                            <li>Gym</li>#}
{#                            <li>Laundry</li>#}
{#                            <li>Lawn</li>#}
{#                            <li>Microwave</li>#}
{#                            <li>Outdoor Shower</li>#}
{#                            <li>Refrigerator</li>#}
{#                            <li>Sauna</li>#}
{#                            <li>Swimming Pool</li>#}
{#                            <li>TV Cable</li>#}
{#                            <li>Washer</li>#}
{#                            <li>WiFi</li>#}
{#                            <li>Window Coverings</li>#}
{#                        </ul>#}
{#                    </div>#}

                    <div class="print-gallery">
                        <div class="detail-title-inner">
                            <h4 class="title-inner">Изображения</h4>
                        </div>
                        {% for p in listing.photos %}
                            <div class="print-gallery-image">
                                <img width="1170" height="738" src="{{ p.link }}"
                                     class="attachment-houzez-imageSize1170_738 size-houzez-imageSize1170_738"
                                     alt=""/>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
    </section>
    <!--end detail content-->

</section>

</body>
</html>