{% extends 'base.html' %}
{% block content %}

    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h2>Наши услуги</h2>
                                    </div>
                                </div>
                                <div class="row grid-row" style="overflow: hidden; ">
                                    {% for s in services %}
                                        <div class="modal fade in" id="{{ s.Id }}" tabindex="-1" role="dialog"
                                             style="display: block;position: absolute">
                                            <div class="modal-dialog modal-md">
                                                <div class="modal-content" style="height:500px;overflow: scroll">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close"><i
                                                                class="fa fa-close"></i></button>

                                                    </div>
                                                    <div class="modal-body" style="">
                                                        <div>
                                                            <h2>{{ s.Name }}</h2>
                                                            {{ s.Notes|safe }}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: -99999px;
    padding-bottom: 99999px;">
                                            <div class="item-wrap">
                                                <div
                                                        class="post-card-item post-637 post type-post status-publish format-standard has-post-thumbnail hentry category-business tag-apartment tag-business-development tag-house-for-families tag-houzez tag-luxury tag-real-estate">
                                                    <div class="figure-block">
                                                        <figure class="item-thumb">
                                                            <a href="#{{ s.Id }}"
                                                               class="hover-effect">
                                                                {{ s.main_image|safe }}

                                                            </a>
                                                            <figcaption class="thumb-caption clearfix">
                                                                <div class="file-type pull-left">
                                                                </div>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                    <div class="post-card-body">

                                                        <div class="post-card-description">
                                                            <h3 class="post-card-title">{{ s.Name }}</h3>

                                                            {{ s.preview|safe }}
                                                            <a href="#{{ s.Id }}"
                                                               class="read">Подробнее<i
                                                                    class="fa fa-caret-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div.figure-block > figure > a > img {
            height: 200px;
        }
    </style>
    <script>
        jQuery.ready(function ($) {
            $("a").click(function (e) {

            });
            $(".close").on('click', function (e) {
                console.log(11);
                $(".modal").each(function (item) {
                    item.hide();
                })
            });
        });

    </script>
{% endblock %}