<h2 style="text-transform: none">Мыс Панва</h2>

<div class="row">
    <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
            src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BF%D0%B0%D0%BD%D0%B2%D0%B01.jpg">
    </div>
    <div class="col-sm-6 col-xs-12" style="padding-top: 10px"><img
            src="http://www.indreamsphuket.ru/uploads/page/thumbnails/416x277-%D0%BF%D0%B0%D0%BD%D0%B2%D0%B02.jpg">
    </div>
</div>

<p style="padding-top: 20px">
    Район Панва (Cape Panwa) - это довольно крупный мыс, расположенный на юго-востоке острова. Кейп переводится с
    тайского языка как мыс, то есть небольшой участок земли, выдающийся острым углом в море.</p>
<p>
    Несмотря на свой солидный размер к сожалению недвижимость доступная для самостоятельного бронирования здесь
    практически отсутствует. Панва - это тихое, спокойное и нетуристическое место. Но! Все же если Вы хотите сменить
    обстановку и познакомиться с восточным побережьем, то советуем Вам уделить Панве хотя бы один день.
</p>
<p>
    Поверьте, небольшой океанариум станет отличным развлечением как для детей так и для взрослых. Обязательно попробуйте
    отменной тайской кухни в ресторанчике на прогулочной набережной. Потрясающий вид на океан, свежий морской бриз и
    запах с моря в сочетании со вкусом свежайших морепродуктов и фруктовых шейков станут незабываемым воспоминанием о
    Пхукете на долгие годы Вашей жизни.
</p>
<p>
    Кстати, на Панве есть несколько пригодных для купания пляжей, где под тенью деревьев можно удобно расположиться для
    пикника. К тому же когда на западном побережье большие волны, здесь вода абсолютно спокойна.
</p>

