{% extends 'base.html' %}
{% load multiply %}
{% block content %}
    <div id="section-body" class="" jstcache="0">
        <!--start detail top-->
        <div id="property" style="display:none">{{ listing.Id }}</div>
        <section class="detail-top detail-top-grid" jstcache="0">
            <div class="container" jstcache="0">
                <div class="row" jstcache="0">
                    <div class="col-sm-12" jstcache="0">
                        <div class="header-detail">
                            <div class="">
                                <div class="table-list">
                                    <div class="table-cell"><h1>{{ listing.Name }}</h1></div>
                                    <div class="table-cell hidden-sm hidden-xs">
                                    <span class="label-wrap" style="float: right">
                                        {% if listing.BCOnlineBooking %}
                                        <span class="label-status label-status-8 label label-default">Онлайн бронирование</span>
                                        {% endif %}
                                        <span class="label-status label-status-8 label label-default">{{ listing.LeadType.displayValue }}</span>
                                    </span>
                                    </div>
                                </div>

                                <address class="property-address">{{ listing.Address }}
                                </address>
                            </div>
                            <div class="header-right">
                                <ul class="actions">
                                    <li class="share-btn">

                                        <div class="share_tooltip tooltip_left fade">
                                            <a href="http://www.facebook.com/sharer.php?u=http://www.indreamsphuket.ru/property/{{ listing.slug }}/"
                                               onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                    class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/intent/tweet?text={{ listing.Name }}&amp;url=http://www.indreamsphuket.ru/property/{{ listing.slug }}/"
                                               onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i
                                                    class="fa fa-twitter"></i></a>

                                            <a href="http://plus.google.com/share?url=http://www.indreamsphuket.ru/property/{{ listing.slug }}/"
                                               onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                    class="fa fa-google-plus"></i></a>
                                            <a href="mailto:example.com?subject={{ listing.Name }}&amp;body=http://www.indreamsphuket.ru/property/{{ listing.slug }}/"><i
                                                    class="fa fa-envelope"></i></a>
                                        </div>
                                    <span title="" data-placement="right" data-toggle="tooltip"
                                          data-original-title="Поделиться"><i class="fa fa-share-alt"></i></span></li>
                                    <li class="fvt-btn" onclick="downloadPhotos();return false;">
                                    <span class="add_dwn" data-placement="right" data-toggle="tooltip"
                                          data-original-title="Скачать фотографии" data-propid="{{ listing.Id }}"><i
                                            class="fa fa-download"></i></span>
                                    </li>
                                    <li class="print-btn">
                                    <span data-toggle="tooltip" data-placement="right" data-original-title="Печать"><i
                                            id="houzez-print" class="fa fa-print houzez-print"
                                            data-propid="{{ listing.Id }}"></i></span>
                                    </li>
                                </ul>
                                {% if listing.LeadType.displayValue == 'Продажа' %}
                                    <span class="item-price">{{ view.currency }} {{ listing.Price|multiply:view.rates|add:"0" }}</span>
                                {% else %}
                                    <span class="item-price">{{ view.currency }} {{ listing.Price|multiply:view.rates|add:"0" }} / месяц</span>
                                {% endif %}
                                <div class="media-tabs" style="position: inherit">
                                    <ul class="media-tabs-list" style="float: none">
                                        <li class="popup-trigger active" data-placement="bottom" data-toggle="tooltip"
                                            data-original-title="Показать фото" style="z-index:200">
                                            <a href="#gallery" data-toggle="tab" aria-expanded="true">
                                                <i class="fa fa-camera"></i>
                                            </a>
                                        </li>

                                        <li data-placement="bottom" data-toggle="tooltip" style="z-index:200"
                                            data-original-title="Показать карту"
                                            class="">
                                            <a id="toMap" href="#singlePropertyMap" data-toggle="tab"
                                               aria-expanded="false">
                                                <i class="fa fa-map"></i>
                                            </a>
                                        </li>

                                    </ul>
                                    <ul class="actions">
                                        <li class="share-btn">

                                            <div class="share_tooltip tooltip_left fade">
                                                <a href="http://www.facebook.com/sharer.php?u={{ current_url_prop }}"
                                                   onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                        class="fa fa-facebook"></i></a>
                                                <a href="https://twitter.com/intent/tweet?text={{ listing.Name }}&amp;url=http://www.indreamsphuket.ru/property/{{ listing.slug }}"
                                                   onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i
                                                        class="fa fa-twitter"></i></a>


                                                <a href="http://plus.google.com/share?url={{ current_url_prop }}"
                                                   onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                        class="fa fa-google-plus"></i></a>
                                                <a href="mailto:example.com?subject={{ listing.Name }}&amp;body=http://www.indreamsphuket.ru/property/{{ listing.slug }}/"><i
                                                        class="fa fa-envelope"></i></a>
                                            </div>
                                    <span title="" data-placement="right" data-toggle="tooltip"
                                          data-original-title="Поделиться"><i class="fa fa-share-alt"></i></span></li>
                                        <li>
                                    <span class="add_fav" data-placement="right" data-toggle="tooltip"
                                          data-original-title="В избранное" data-propid="{{ listing.Id }}"><i
                                            class="fa fa-heart-o"></i></span>
                                        </li>
                                        <li class="print-btn">
                                    <span data-toggle="tooltip" data-placement="right" data-original-title="Print"><i
                                            id="houzez-print" class="fa fa-print houzez-print"
                                            data-propid="{{ listing.Id }}"></i></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="detail-media" jstcache="0">
                            <div class="tab-content" jstcache="0">
                                <div id="gallery" class="tab-pane fade active in"
                                     style="background-image: url({{ listing.main_photo }});">
                            <span class="label-wrap visible-sm visible-xs">
                            <span class="label label-primary label-status-8"></span>
                            </span>
                                    <a href="#" class="popup-trigger">
                                    </a>

                                    <div class="form-small form-media">
                                        <h3>Свяжитесь с нами:</h3>

                                        <form method="post" action="#">

                                            <div class="form-group">
                                                <input class="form-control" name="name" value="" type="text"
                                                       placeholder="Ваше имя">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="phone" value="" type="text"
                                                       placeholder="Телефон">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="email" value="" type="email"
                                                       placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                            <textarea class="form-control" name="message" rows="4"
                                                      placeholder="Описание">Здравствуйте, я заинтересован в [{{ listing.Name }}]</textarea>
                                            </div>


                                            <button class="agent_contact_form btn btn-secondary btn-block">Отправить
                                                запрос
                                            </button>
                                            <div class="form_messages"></div>
                                        </form>
                                    </div>

                                </div>

                                <div id="singlePropertyMap" class="tab-pane fade"
                                     style="min-height: 600px; position: relative; overflow: hidden;">

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>    <!--end detail top-->


        <!--start detail content-->
        <section class="section-detail-content">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                        <div class="detail-bar detail-bar-full houzez-single-property-v2">
                            <div class="property-description detail-block" style="padding-bottom:0px">
                                <div class="detail-title">
                                    <h2 class="title-left">Описание</h2>
                                </div>
                                <p>{{ listing.Description|linebreaksbr }} </p>
                                {% if is_rent and listing.BCPricePerDay %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="detail-sub-title"><span>Бронирование</span></h3>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <table class="table" {% if not price_matrix %}
                                                   style="display: none;" {% endif %}>
                                                <th>Сезон</th>
                                                <th>Цена за сутки</th>
                                                <th>Цена за неделю</th>
                                                <th>Цена за 2 недели</th>
                                                <th>Цена за месяц</th>
                                                {% for p in price_matrix %}
                                                    <tr>
                                                        <td>{{ p.start }} - {{ p.finish }}</td>
                                                        <td>{{ p.price_day|add:"0" }} {{ currency }}</td>
                                                        <td>{{ p.price_week|add:"0" }} {{ currency }}</td>
                                                        <td>{{ p.price_two_weeks|add:"0" }} {{ currency }}</td>
                                                        <td>{{ p.price_month|add:"0" }} {{ currency }}</td>
                                                    </tr>
                                                {% endfor %}

                                            </table>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-xs-offset-4 col-md-offset-0">
                                            <div style="float: left;background: white;padding-top:0px;">
                                                <div data-range="true" id="calendar"></div>
                                                <h3 style="text-align: center;display: none" id="price-container">
                                                    Итого: {{ view.currency }} <span id="rent-price"></span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <h3 class="detail-sub-title"><span>Детали</span></h3>
                                <ul class="detail-amenities-list">
                                    {% for k,v in mp.items %}
                                        <li class="media">
                                            <div class="media-left media-middle"><img
                                                    src="/static/images/iconpack/png/{{ v.1 }}"
                                                    width="50" height="50" alt="Icon"></div>
                                            <div class="media-body"> {{ k }}<br>
                                                {% if v.0 == True or v.0 == 'есть' or v.0 == '+' or v.0 == 'on' %}
                                                {% else %}
                                                    {{ v.0 }}
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                            {% for props in groups %}
                                <div class="detail-features detail-block" style="padding-bottom:0px">
                                    {% for prop in props %}
                                        <div class="detail-features-left" style="padding-bottom:0px">
                                            <div class="detail-title">
                                                <h4 class="title-left">{{ prop.0 }}</h4>
                                            </div>
                                            <ul class="list-two-col">
                                                {% for k,v in prop.1.items %}
                                                    {% if v == True or v == 'есть' or v == '+' or v == 'on' %}
                                                        <li><strong>{{ k }}</strong></li>
                                                    {% else %}
                                                        <li><strong>{{ k }}:</strong> {{ v }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}

                            {% if listing.VideoLink %}
                                <div id="video" class="property-video detail-block">
                                    <div class="detail-title">
                                        <h2 class="title-left">Видео</h2>
                                    </div>
                                    <div class="video-block">
                                        <iframe width="1170" height="658"
                                                src="{{ listing.VideoLink }}"
                                                frameborder="0" allow="autoplay; encrypted-media"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            {% endif %}
                            {% include 'includes/similar_properties.html' %}
                            {% if object_group %}
                                {% include 'includes/object_group.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!--end detail content-->

    </div>
    <div id="lightbox-popup-main" class="fade">
        <div class="lightbox-popup" style="width: 1320px;">
            <div class="popup-inner">
                <div class="lightbox-left" style="width: 1040px;">

                    <div class="lightbox-header">
                        <div class="header-title">
                            <p>
                                <span>
                                <img src="/static/images/logo.png"
                                     alt="{{ listing.Name }}" width="86" height="13">
                                </span>
                                <span class="hidden-xs"> {{ listing.Name }}  - {{ listing.Address }}</span>
                            </p>
                        </div>
                        <div class="header-actions">
                            <ul class="actions">
                                <li class="share-btn">

                                    <div class="share_tooltip tooltip_left fade">
                                        <a href="http://www.facebook.com/sharer.php?u=http://www.indreamsphuket.ru/property/{{ listing.slug }}"
                                           onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text={{ listing.Name }}&amp;url=http://www.indreamsphuket.ru/property/{{ listing.slug }}"
                                           onclick="if(!document.getElementById('td_social_networks_buttons')){window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;}"><i
                                                class="fa fa-twitter"></i></a>

                                        <a href="http://plus.google.com/share?url=http://www.indreamsphuket.ru/property/{{ listing.slug }}"
                                           onclick="window.open(this.href, 'mywin','left=50,top=50,width=600,height=350,toolbar=0'); return false;"><i
                                                class="fa fa-google-plus"></i></a>
                                        <a href="mailto:example.com?subject={{ listing.Name }}&amp;body=http://www.indreamsphuket.ru/property/{{ listing.slug }}"><i
                                                class="fa fa-envelope"></i></a>
                                    </div>
                                <span title="" data-placement="right" data-toggle="tooltip"
                                      data-original-title="Поделиться"><i
                                        class="fa fa-share-alt"></i></span></li>
                                <li class="lightbox-expand visible-xs compress">
                                    <span><i class="fa fa-envelope"></i></span>
                                </li>
                                <li class="lightbox-close">
                                    <span><i class="fa fa-close"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="gallery-area">

                        <div class="expand-icon lightbox-expand hidden-xs"></div>
                        <div class="gallery-inner" style="width: 1000px;">
                            <div class="lightbox-slide slide-animated owl-carousel owl-theme"
                                 style="display: block; opacity: 1;">
                                {% for p in listing.photos %}
                                    <div class="item"><img width="1170" height="738"
                                                           src="{{ p.link }}"
                                                           class="attachment-houzez-imageSize1170_738 size-houzez-imageSize1170_738"
                                                           alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="lightbox-slide-nav visible-xs">
                            <button class="lightbox-arrow-left lightbox-arrow"><i class="fa fa-angle-left"></i></button>
                            <p class="lightbox-nav-title">
                                {{ listing.Name }} - {{ listing.Address }} </p>
                            <button class="lightbox-arrow-right lightbox-arrow"><i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="lightbox-right fade in">
                    <div class="lightbox-header hidden-xs">
                        <div class="header-title">
                            {% if listing.LeadType.displayValue == 'Продажа' %}
                                <p> {{ view.currency }} {{ listing.Price|multiply:view.rates|add:"0" }}</p>
                            {% else %}
                                <p> {{ view.currency }} {{ listing.Price|multiply:view.rates|add:"0" }} / месяц</p>
                            {% endif %}
                        </div>
                        <div class="header-actions">
                            <ul class="actions">
                                <li class="lightbox-close">
                                    <span><i class="fa fa-close"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="agent-area">
                        <div class="form-small">
                            <h3>Свяжитесь с нами:</h3>

                            <form method="post" action="#">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" value="" placeholder="Ваше имя">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="phone" type="text" value="" placeholder="Телефон">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="email" value="" type="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="4" placeholder="Описание">Здравствуйте, я заинтересован в [{{ listing.Name }}]</textarea>
                                </div>
                                <a id="download_files" href="{% url 'getfiles' %}?id={{ listing.Id }}" data-toggle="tab"
                                   aria-expanded="true" target="_blank" style="display: none"></a>

                                <button class="agent_contact_form btn btn-secondary btn-block">Отправить запрос</button>
                                <div class="form_messages"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        {% if listing.Latitude and listing.Longitude %}
            var lat = {{ listing.Latitude }};
            var lon = {{ listing.Longitude }};

            var mymap = L.map('singlePropertyMap').setView([lat, lon], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
            }).addTo(mymap);

            L.marker([lat, lon]).addTo(mymap);
        {% endif %}
        var dates = {{ dates|safe }};
        jQuery(document).ready(function ($) {
            {#            $('.add_dwn').click(function(e){#}
            {#                $('#download_files').click();#}
            {#            });#}
            $("#toMap").click(function (e) {
                setTimeout(function () {
                    mymap.invalidateSize();
                }, 500);

            });
            {% if is_rent %}
                $('#calendar').datepicker({
                    range: true,
                    minDate: new Date(),
                    onRenderCell: function (date, cellType) {
                        if (cellType == 'day') {
                            var day = date.toISOString().substring(0, 10),
                                    isDisabled = dates.indexOf(day) != -1;
                            return {
                                disabled: isDisabled
                            }
                        }
                    },
                    onSelect: function (formattedDate, date, inst) {
                        if (date.length > 1) {
                            var date_start = date[0].toISOString().substring(0, 10);
                            var date_end = date[1].toISOString().substring(0, 10);
                            var property = $('#property').text();
                            $.ajax({
                                type: "POST",
                                url: '/calc/',
                                data: {
                                    date_start: date_start,
                                    date_end: date_end,
                                    property: property
                                },
                                success: function (result) {
                                    $('#price-container').show();
                                    var b = JSON.parse(result);
                                    var text = b['price'] + " / " + +b['count'] + " " + b['label'];
                                    $('#rent-price').text(text);
                                }
                            });
                        }

                    }
                });
            {% endif %}
        });
        var downloadPhotos = function () {
            window.open('{% url 'getfiles' %}?id={{ listing.Id }}');
        }

    </script>
    <style>
        .datepicker {
            border: none;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }
    </style>
{% endblock %}