{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="" style="transform: none;">


        <div class="container" style="transform: none;">

            <section class="section-detail-content" style="transform: none;">

                <div class="row" style="transform: none;">
                    <div class="col-xs-12">
                        <div class="article-main">


                            <article class="blog-article">
                                <div class="page-title">
                                    <h1>{{ article.Name }}</h1>
                                </div>

                                <div class="article-detail">
                                    {{ article.Notes|safe }}
                                </div>
                            </article>

                        </div>
                    </div>
                </div>

            </section>


        </div> <!--.container Start in header-->
    </div>
    <style>
    img {
        width: 100%;
    }
    </style>
{% endblock %}