{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="houzez-module module-title section-title-module text-center ">
                            <h2 style="text-transform: none">Отзывы наших клиентов</h2>
                        </div>
                        <div id="testimonial-module" class="houzez-module testimonial-module">
                            <div class="row">
                                {% for t in testimonials %}
                                    <div class="col-xs-12 block-col">
                                        <div class="testimonial-item text-center">
                                            <figure class="auther-thumb">
                                                <img width="128" height="128"
                                                     src="/static/images/person.png"
                                                     class="img-circle" alt=""></figure>
                                            <div class="block-body">
                                                <p class="description">
                                                    {{ t.Notes|safe }}
                                                </p>

                                                <p class="auther-info">
                                                    <span class="blue">{{ t.BCSTRINGClientFIO }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}