{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1 style="text-transform: none">Правила бронирования</h1>
                                    </div>
                                </div>
                                <div>
                                    <p><strong>ШАГ 1.</strong> Вы уже на нашем сайте.</p>

                                    <p>Отправьте нам заявку любым удобным для вас способом: через форму обратной связи,
                                        онлайн-консультанта, e-mail, WhatsApp, Viber, Skype. Для того, чтобы подобрать
                                        жилье, точно соответствующее Вашим пожеланиям, нам необходима как можно более
                                        подробная информация: даты вашей поездки, тип жилья, количество спален,
                                        количество взрослых и детей, район, бюджет, особые пожелания. Мы свяжемся с вами
                                        в течение суток и предложим Вам несколько вариантов на выбор. Мы всегда
                                        стараемся найти для вас наилучшие по цене предложения. Если вы встретите наши
                                        предложения по более низкой цене, сообщите об этом нам и мы постараемся
                                        предоставить вам такую же цену или ниже.</p>

                                    <p><strong>ШАГ 2.</strong> Бронирование</p>

                                    <p>После того, как вы выберете наиболее подходящее для вас предложение, нам
                                        потребуется копия или фотография главной страницы вашего паспорта или паспорта
                                        одного из участников поездки. В тот же день мы оформляем подтверждение вашего
                                        бронирования, в котором будут указаны: персональные данные, точные сроки аренды,
                                        стоимость, сумма страхового депозита, схема оплаты, условия бронирования и
                                        отмены, а так же реквизиты для оплаты. Оплата производится в долларах США по
                                        текущему курсу банковским переводом на наш счет в Таиланде. Бронь считается
                                        подтвержденной только после оплаты.
                                    </p>

                                    <p>Через 5 дней неоплаченное бронирование автоматически отменяется. После получения
                                        денег мы отправляем Вам документ, подтверждающий оплату с указанием полученной
                                        нами суммы.</p>

                                    <p>Как правило схема оплаты следующая: 50% от суммы вы вносите при бронировании, а
                                        остальные 50% оплачиваете за 45 дней до заселения, либо в момент заселения.
                                        Схема оплаты может быть иной, это зависит как от сезона, так и от индивидуальных
                                        правил бронирования отдельных собственников.</p>

                                    <p><strong>ШАГ 3.</strong> Заселение</p>

                                    <p>Поздравляем!</p>

                                    <p>Вы уже на пути к беззаботному отдыху на райских пляжах Пхукета. За несколько дней
                                        до приезда сообщите нам Ваши прилетные данные. Мы организуем для вас
                                        индивидуальный трансфер из аэропорта, стоимость которого составит всего от 800
                                        до 1300 THB в зависимости от класса автомобиля и района (если конечно в вашу
                                        бронь не включен бесплатный трансфер). Наш водитель доставит Вас до места
                                        назначения, где вас будет ждать Ваш персональный консьерж. Он подробно расскажет
                                        вам о правилах дома, передаст вам в пользование арендованное жилье, произведет
                                        окончательные расчеты. Он также ознакомит Вас с инфраструктурой района, если вам
                                        она еще не знакома, посоветует места, интересные для посещения, ответит на любые
                                        вопросы. К Вашему персональному консьержу вы можете обращаться в любыми
                                        вопросами по аренде автотранспорта, бронированию экскурсий, яхты или катамарана,
                                        найму обслуживающего персонала.</p>

                                    <p>В день Вашего отъезда консьерж снова посетит Вас, чтобы принять помещение и
                                        вернуть Вам страховой депозит.</p>

                                    <p>Мы все работаем для того, чтобы обеспечить Вам комфортный и беззаботный отдых!
                                    </p>

                                    <p>
                                        Команда InDreams Phuket
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}