{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>Вакансии</h1>
                                    </div>
                                </div>
                                <div>
                                    <strong>Требуется агент по аренде недвижимости</strong>
                                    <br>
                                    <br>
                                    <h2>Обязанности:</h2>
                                    <ul style="padding: 20px;">
                                        <li>Ведение сделки по аренде на всех ее этапах</li>
                                        <li>Пополнение базы недвижимости</li>
                                        <li>Продвижение услуг агентства через интернет, социальные сети, другие каналы
                                        </li>
                                        <li>Наработка собственной клиентской базы</li>
                                    </ul>
                                    <h2>Требования:</h2>
                                    <ul style="padding: 20px;">
                                        <li>Знание русского и английского языков</li>
                                        <li>Наличие машины</li>
                                        <li>Высшее образование</li>
                                        <li>Коммуникабельность, активность</li>
                                        <li>Мотивация на продажу</li>
                                        <li>Действующая виза Королевства Таиланд</li>
                                        <li>Опыт работы в сфере продаж и недвижимости приветствуется</li>
                                    </ul>
                                    <strong> Если вы хотите откликнуться на вакансию, звоните по телефону
                                        8-800-500-52-15.</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}