{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>Визы в Таиланде</h1>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        Визовая политика Таиланда позволяет иностранным гражданам приезжать в
                                        государство на любой временной промежуток. Вы можете совершить короткое
                                        путешествие или отдохнуть более продолжительно, посетить страну с определенными
                                        целями или проездом.
                                    </p>

                                    <p>
                                        Согласно действующему законодательству, для поездок длительностью более 30-ти
                                        дней требуется получение визы. На данный момент существует несколько типов виз,
                                        оформление которых учитывает потребности каждого конкретного путешественника:
                                    </p>
                                    <ul style="padding-left: 15px;">
                                        <li>
                                            Транзитная – удостоверяет кратковременное посещение страны проездом.
                                        </li>
                                        <li>
                                            Туристическая – для более продолжительных неделовых поездок.
                                        </li>
                                        <li>
                                            Неиммиграционная – разрешает длительное нахождение в деловых целях.
                                        </li>
                                        <li>Служебная (дипломатическая) и «Виза вежливости» позволяют находиться в
                                            стране по государственным нуждам.
                                        </li>
                                    </ul>
                                    <p>
                                        Рассмотрим более подробно каждый тип визы – кому она требуется, как оформляется
                                        и на какой срок дается.
                                    </p>

                                    <h3>I. Транзитная виза</h3>

                                    <p>Въездной документ данного типа выдается совершающим деловой или туристический
                                        транзит через Королевство Таиланд по категориям:</p>
                                    <ul style="padding-left: 25px;">
                                        <li>
                                            «TS» - для проезда в другую страну либо, наоборот, возвращения оттуда домой
                                            (для различных видов транзитных путешественников);
                                        </li>
                                        <li>
                                            «S» - чтобы принять участие в спортивном мероприятии (для спортсменов),
                                        </li>
                                        <li>
                                            «C» - посещение страны на уровне станций транспортного сообщения (для
                                            должностных лиц, моряков прибывающих в порт кораблей и работников другого
                                            транспорта).
                                        </li>
                                    </ul>
                                    <p>Документы для оформления:</p>
                                    <ul style="padding-left: 25px;">
                                        <li>
                                            Анкета заявителя по стандартной форме, заполненная на английском языке;
                                        </li>
                                        <li>
                                            Удостоверение личности (паспорт или другой документ) с запасом срока
                                            действия не менее полгода;
                                        </li>
                                        <li>
                                            Документы, подтверждающие даты въезда и выезда (например, оплаченные
                                            авиабилеты);
                                        </li>
                                        <li>
                                            Документы, подтверждающие даты въезда и выезда (например, оплаченные
                                            авиабилеты);
                                        </li>
                                        <li>
                                            Документальное подтверждение наличия финансовой суммы, эквивалентной 10 бат
                                            на человека или 20 бат на семью;
                                        </li>
                                        <li>
                                            Дополнительно для категории TS – действующая виза страны назначения;
                                        </li>
                                        <li>
                                            Дополнительно для категории S – приглашение стать участником спортивных
                                            мероприятий на территории Таиланда.
                                        </li>
                                    </ul>
                                    <p>Данные по срокам:</p>
                                    <ul style="padding-left: 25px;">
                                        <li>
                                            Транзитная виза действительна в течение 3-х месяцев;
                                        </li>
                                        <li>
                                            На территории Таиланда по ней допустимо находиться не более 30-ти дней;
                                        </li>
                                        <li>
                                            Продление срока пребывания либо получение визы другого типа возможно при
                                            обращении в бюро иммиграционной службы (адрес – Soi Suan Plu, South Sathorn
                                            Road, Bangkok 10120, Телефон - 02-287-3101-10, официальный сайт
                                            <a href="http://immigration.go.th">http://immigration.go.th</a>).
                                        </li>
                                    </ul>
                                    <p>
                                        Дополнительные особенности
                                    </p>

                                    <p>
                                        Для граждан некоторых стран имеются ограничения относительно места оформления
                                        визы. Это может быть Посольство Таиланда или исключительно Генеральное
                                        Консульство. При этом обращаться следует либо по месту постоянного проживания,
                                        либо в ответственном Посольстве Таиланда. Также в некоторых случаях возможны
                                        вариации списка нужных документов и правил получения визы. Сотрудник консульства
                                        либо иммиграционной службы вправе потребовать оформление дополнительных бумаг, а
                                        также оставить за собой решение по вашему заявлению (о получении или продлении).
                                    </p>

                                    <p>
                                        Чтобы путешествие не омрачилось проблемами с документами, для получения
                                        актуальной информации путешественнику необходимо заранее обратиться за
                                        уточнениями в Генеральное Консульство или Посольство Таиланда. Контакты и адреса
                                        обеих организаций имеются на
                                        <a href="http://www.consular.co.th/web/10.php">http://www.consular.co.th/web/10.php</a>.
                                    </p>

                                    <h3>II. Туристическая виза</h3>

                                    <p>
                                        Виза туристического типа выдается по 2-м следующим категориям:
                                    </p>
                                    <ul style="padding-left: 25px;">
                                        <li>
                                            Транзитная виза действительна в течение 3-х месяцев;
                                        </li>
                                        <li>
                                            На территории Таиланда по ней допустимо находиться не более 30-ти дней;
                                        </li>
                                        <li>
                                            Продление срока пребывания либо получение визы другого типа возможно при
                                            обращении в бюро иммиграционной службы (адрес – Soi Suan Plu, South Sathorn
                                            Road, Bangkok 10120, Телефон - 02-287-3101-10, официальный сайт
                                            <a href="http://immigration.go.th">http://immigration.go.th</a>).
                                        </li>
                                    </ul>
                                    <p>
                                        Дополнительные особенности
                                    </p>

                                    <p>

                                        Решение по визовому вопросу принимается конкретным сотрудником службы иммиграции
                                        либо Консульства, который может запросить дополнительные бумаги, выдать согласие
                                        или отказ на свое усмотрение.
                                    </p>

                                    <h3>III. Неиммиграционная</h3>

                                    <p>
                                        Визы неиммиграционного типа (Non-Immigrant) имеют особенно обширную
                                        классификацию:
                                    </p>
                                    <ul style="padding-left: 25px;">
                                        <li>«B» – устройство на работу или ведение собственного бизнеса, в том числе с
                                            партнерами в Таиланде;
                                        </li>
                                        <li>«ED» – потребности образования, к которым относится любого вида учеба,
                                            участие в обучающе-ознакомительном туре, семинаре, тренинге или конференции,
                                            обучение светским наукам или буддийским монашеским канонам;
                                        </li>
                                        <li>«EX» – приглашение на высококвалифицированную работу, как эксперта или
                                            другого ценного специалиста;
                                        </li>
                                        <li>«F» – поездка по служебной обязанности;</li>
                                        <li>«IM» – инвестирование госпроектов совместно с Министерствами и
                                            госорганизациями Таиланда;
                                        </li>
                                        <li>«IB» - исполнение прочих функций, связанных с реализацией инвестиционных
                                            проектов;
                                        </li>
                                        <li>«M» – работа на благо массовой информации (репортеры и журналисты, а также
                                            продюсеры);
                                        </li>
                                        <li>«R» – религиозная либо миссионерская деятельность на территории страны;</li>
                                        <li>«RS» – занятия прямыми научными исследованиями и преподавательская
                                            деятельность (проведение тренингов, повышение квалификации и т.п.)
                                        </li>
                                        <li>«O» - прочая деятельность (работа спортивным тренером, участие в судебном
                                            процессе в любом качестве, выполнение обязанностей для соцорганизаций, на
                                            проживание с семьей и др.).
                                        </li>
                                    </ul>
                                    <p>Документы для оформления:</p>
                                    <ul style="padding-left: 25px;">
                                        <li>Анкета заявителя по стандартной форме, заполненная на английском языке;</li>
                                        <li>Удостоверение личности (паспорт или другой документ) с запасом срока
                                            действия не менее полгода (для оформления документов длительностью на 1 год
                                            необходимый запас срока действия увеличится до 18-ти месяцев);
                                        </li>
                                        <li>Документы, подтверждающие даты въезда и выезда (например, оплаченные
                                            авиабилеты);
                                        </li>
                                        <li>Фото размерами 4 на 6 см, сделанное не ранее полугода до поездки;</li>
                                        <li>Документальное подтверждение наличия финансовой суммы, эквивалентной 10 бат
                                            на человека или 40 бат на семью;
                                        </li>
                                        <li>Для «B», «ED», «M», «R», «F» - официальный документ с указанием цели поездки
                                            от государственного предприятия, организации, правительственного органа и
                                            т.п.
                                        </li>
                                        <li>Для «O» - свидетельство о рождении, о заключении брака (или равноценный
                                            документ);
                                        </li>
                                        <li>Для «IB» - письмо от «Thailand Board of Invesments»;</li>
                                        <li>Для «ED» - подтверждение (извещение) от учебного заведения (школы,
                                            университета, др.);
                                        </li>
                                        <li>Для «B»:
                                            a. копия диплома с указанием квалификационного уровня и (если есть)
                                            рекомендательная записка от предыдущего работодателя;
                                            b. письменное подтверждение от иностранной компании, удостоверяющее цели
                                            поездки, приглашение от компании в Таиланде или документальное
                                            доказательство деловых отношений;
                                            c. когда-либо уже работавших в Таиланде – копия разрешения на получение
                                            работы от Министерства Труда;
                                            d. трудовой договор (контракт) с описанием условий найма, подписанный
                                            руководящим лицом и скрепленный печатью;
                                            e. оригинальное письмо от Министерства Труда для начала бизнеса в стране
                                            (как и где его получить, можно посмотреть
                                            <a href="http://www.deo.go.th/workpermit/index.html" rel="nofollow">www.deo.go.th/workpermit/index.html</a>);
                                            f. пакет документов о сотрудничестве (регистрационные документы и сведения о
                                            компании, лицензия, списки акционеров, балансовый отчет, налоговые данные на
                                            доход, списки иностранных рабочих, декларация о подоходном налоге, НДС);
                                            g. сведения о количестве бизнес-туристов.
                                        </li>
                                    </ul>
                                    <p>Данные по срокам:</p>
                                    <ul style="padding-left: 25px;">
                                        <li>Действие однократной неиммиграционной визы длится не более 3-х месяцев, а
                                            многократной – до одного года;
                                        </li>
                                        <li>При первичном въезде по этой визе можно находиться в стране до 90 дней, на
                                            более длительный срок дается разрешение иммиграционной службой;
                                        </li>
                                        <li>Продление времени непрерывного пребывания возможно длительностью до года при
                                            отсчете общего срока с первого дня приезда (обращаться нужно в консульства
                                            Таиланда либо в иммиграционную службу Бангкока).
                                        </li>
                                    </ul>
                                    <p>Дополнительные особенности</p>

                                    <p>Набор необходимых документов выбирается в зависимости от цели путешествия. При
                                        этом они должны быть переведены на тайский либо английский язык и заверены
                                        нотариусом, консульской или дипломатической службой. Кроме перечисленных на этой
                                        странице бумаг, принимающий их сотрудник может затребовать дополнительные.
                                        Решение по вопросу также принимается на его усмотрение.
                                    </p>

                                    <p>Если у вас не окажется той или иной бумаги, а предоставить ее нет возможности,
                                        требуется составление пояснительного письма. Документы компании должны быть
                                        заверены подписями и печатями.</p>

                                    <h3>IV. Служебная</h3>

                                    <p>Разрешение на въезд «служебного» типа выдается после предоставления официальной
                                        просьбы в Генеральное Консульство либо Посольство Таиланда. Оно оформляется для
                                        владельцев служебных и дипломатических паспортов (и для членов их семей),
                                        приезжающих с целью выполнения работы на базе Посольств, Консульств и других
                                        иностранных организаций.
                                    </p>

                                    <p>Подтверждением необходимости выдачи такой визы может стать вербальная нота, а
                                        также документация, выдаваемая в качестве сопровождения иностранным государством
                                        либо международной организацией. В бумагах должна быть указана цель приезда для
                                        конкретного лица.
                                    </p>

                                    <h3>V. Виза вежливости</h3>

                                    <p>Так называемая «виза вежливости» выдается после предоставления официальной
                                        просьбы в Генеральное Консульство либо Посольство Таиланда. Она оформляется для
                                        владельцев служебных и дипломатических паспортов, приезжающих с целью исполнения
                                        служебных дел и прочих целей.
                                    </p>

                                    <p>Подтверждением необходимости выдачи такой визы может стать вербальная нота, а
                                        также документация, выдаваемая в качестве сопровождения государственной либо
                                        международной организацией, а также иностранным государством. В бумагах должно
                                        быть подтверждение идентичности конкретного лица и указана цель его приезда.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}