{% extends 'base.html' %}
{% block content %}
    <div id="section-body" class="">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div id="post-card-grid-module" class="houzez-module post-card-module">
                                <div class="module-title-nav clearfix">
                                    <div>
                                        <h1>12 островов Андаманского моря (2 дня)</h1>
                                    </div>
                                </div>
                                <div>
                                    <div class="gallery-area">
                                        <div class="expand-icon lightbox-expand hidden-xs"></div>
                                        <div class="gallery-inner" style="width: 1000px;">
                                            <div class="lightbox-slide slide-animated owl-carousel owl-theme"
                                                 style="display: block; opacity: 1;">

                                                <div class="item"><img width="1170" height="738"
                                                                       src="http://www.indreamsphuket.ru/uploads/page/37_1509355783_547926316_fullsize@2x.png"
                                                                       class="attachment-houzez-imageSize1170_738 size-houzez-imageSize1170_738"
                                                                       alt="">
                                                </div>
                                                <div class="item"><img width="1170" height="738"
                                                                       src="http://www.indreamsphuket.ru/uploads/page/37_1509355783_547926316_fullsize@2x.png"
                                                                       class="attachment-houzez-imageSize1170_738 size-houzez-imageSize1170_738"
                                                                       alt="">
                                                </div>
                                                <div class="item"><img width="1170" height="738"
                                                                       src="http://www.indreamsphuket.ru/uploads/page/37_1509355783_547926316_fullsize@2x.png"
                                                                       class="attachment-houzez-imageSize1170_738 size-houzez-imageSize1170_738"
                                                                       alt="">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="lightbox-slide-nav visible-xs">
                                            <button class="lightbox-arrow-left lightbox-arrow"><i
                                                    class="fa fa-angle-left"></i></button>
                                            <p class="lightbox-nav-title">
                                                {{ listing.Name }} - {{ listing.Address }} </p>
                                            <button class="lightbox-arrow-right lightbox-arrow"><i
                                                    class="fa fa-angle-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}